.page-action {
    text-align: right;
    a {
        display: inline-block;
        padding: 5px 10px;
        background: #97CCFE; 
        min-width: 100px;
        text-align: center;
    }
}

#table-box {
    select {
        height: auto;
        display: block;
        min-width: 200px;
    }
}

.wx-editor {
    .zd-tab-head {
        .zd-tab-item {
            width: 80px;
        }
    }
    textarea {
        width: 100%;
        height: 100px;
    }
}

.form-inline {
    .input-group {
        select {
            min-width: 120px;
        }
        .file-input {
            display: inline-block;
            button {
                background: #97CCFE;
                min-width: 70px;
                padding: 0 30px;
                border: none;
                display: inline-block;
                height: 30px;
            }
        }
    }
}

table {
    .active {
        background: #f00;
        color: #fff;
        padding: 0 10px;
        display: inline-block;
        line-height: 30px;
    }
}

.tree {
    .tree-item {
        position: relative;
        line-height: 30px;
        .tree-action {
            float: right;
        }
        .tree-children {
            padding-left: 25px;
            .tree-item {

            }
        }
    }
    .tree-add {

    }
}

.wx-editor {
    .media-box {
        .upload-box {
            text-align: center;
        }
        .input-group {
            input {
                width: 100%;
            }
        }
        .media-list {
            max-height: 200px;
            overflow-y: auto;
            li {
                list-style: none;
                display: inline-block;
                box-sizing: border-box;
                width: 80px;
                height: 80px;
                img {
                    width: 100%;
                    height: 100%;
                }
                &.active,
                &:hover {
                    border: #97CCFE solid 1px;
                }
            }
        }
    }
}

.editor-box {
    .editor-template-box {
        width: 575px;
        float: left;
        height: 800px;
        position: relative;
        .template-menu {
            width: 80px;
            li {
                text-align: center;
                line-height: 30px;
                list-style: none;
                &.active {
                    background: #333;
                    color: #fff;
                }
            }
        }
        .template-box {
            overflow-x: hidden;
            height: 800px;
            width: 490px;
            position: absolute;
            top: 0;
            left: 80px;
            border: 8px solid #D8D8D8;
            overflow-y: auto;
            .templdate-list {

            }
        }
    }
    .editor {
        width: 500px;
        height: 808px;
        float: left;
    }
    
}