.micro-skin {
    max-width: 640px;
    margin: 0 auto;
    .micro-publish {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 20px;
        .input {
            textarea {
                width: 100%;
                height: 80px;
                resize: none;
            }
        }
        .actions {
            position: relative;
            text-align: right;
            .tools {
                float: left;
            }
        }
        .title {
            .tip {
                display: none;
                float: right;
                font-weight: 700;
                color: #777;
                font-size: 12px;
                em {
                    font-style: normal;
                    padding: 0 2px;
                }
            }
        }
    }
    .micro-item {
        background-color: #fff;
        margin-bottom: 20px;
        .body {
            padding: 10px;
            display: grid;
            grid-template-columns: 50px 1fr;
            grid-gap: 10px;
            .avatar {
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .name {
                font-weight: 700px;
                color: #000;
                font-size: 20px;
            }
            .time,
            .from {
                color: #777;
                font-size: 12px;
            }
        }
        .ations {
            display: flex;
            justify-content: space-around;
            flex-flow: row nowrap;
            line-height: 40px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            a {
                display: inline-block;
                text-align: center;
                width: 25%;
                &:not(:last-child) {
                    border-right: 1px solid #333;
                }
                &.active {
                    color: #f00;
                }
            }
        }
    }

    .comment-box {
        padding: 10px 20px 0;
        background-color: rgb(247, 240, 240);
        display: none;
        .comment-publish {
            display: grid;
            grid-template-columns: 30px 1fr;
            grid-gap: 10px;
            .avatar {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .reply-input {
            .input {
                textarea {
                    width: 100%;
                    height: 30px;
                    resize: none;
                    padding: 6px 2px;
                    line-height: 18px;
                    font-size: 14px;
                }
            }
            .input-actions {
                text-align: right;
                .tools {
                    float: left;
                }
                .btn {
                    line-height: 25px;
                    padding: 0 10px;
                    &.btn-disable {
                        background-color: #ccc;
                    }
                }
            }
        }
        .comment-item {
            display: grid;
            grid-template-columns: 30px 1fr;
            grid-gap: 10px;
            padding: 10px;
            .avatar {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            .text {
                a {
                    color: #eb7350;
                }
            }
            .actions {
                .time {
                    color: #777;
                    font-size: 12px;
                }
                .tools {
                    float: right;
                    a {
                        padding: 0 10px;
                        &:not(:last-child) {
                            border-right: 1px solid #333;
                        }
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid #333;
            }
        }
        .reply-box {
            background-color: #eaeaec;
        }
    }
}