<!-- 基础表单，填写个人信息和联系方式 -->

<tr>
    <th class="input-label">{__:省市}：</th>
    <td>
        <input
            type="text"
            name="provinces"
            required
        />

        <i class="input-star">*</i>
    </td>

    <th class="input-label">{__:公司名称}：</th>

    <td>
        <input
            type="text"
            name="company_name"
            required
        />
    </td>
</tr>

<tr>
    <th class="input-label">{__:姓名}：</th>

    <td>
        <input
            type="text"
            name="link_name"
            required
        />

        <i class="input-star">*</i>
    </td>

    <th class="input-label">{__:电话号码}：</th>

    <td>
        <input
            type="text"
            name="link_phone"
            required
        />

        <i class="input-star">*</i>
    </td>
</tr>

<tr>
    <th class="input-label">{__:邮件地址}：</th>

    <td>
        <input
            type="text"
            name="link_email"
            required
        />

        <i class="input-star">*</i>
    </td>

    <th class="input-label">{__:手机号码}：</th>

    <td>
        <input
            type="text"
            name="link_tel"
        />
    </td>
</tr>

<tr>
    <th class="input-label">{__:传真号码}：</th>

    <td>
        <input
            type="text"
            name="link_fax"
        />
    </td>

    <th class="input-label">{__:首选联系方式}：</th>

    <td>
        <select name="link_first" required>
            <option value="{__:邮件}">{__:邮件}</option>
            <option value="{__:电话}">{__:电话}</option>
            <option value="{__:传真}">{__:传真}</option>
            <option value="{__:手机}">{__:手机}</option>
        </select>

        <i class="input-star">*</i>
    </td>
</tr>