
<div id="inquiryDialog" class="dialog inquiry-dialog">
    <div class="dialog-header">
        价格询问
    </div>
    <div class="dialog-body form-line-table">
        <div class="form-tip">
            请详细填写一下内容，包括产品原产国、品牌完整名称以及您所能得到的所有信息，这将有助于我们准确迅速的报价。非常感谢！
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">品牌厂商 <span>（Manutacturer）</span> <i class="input-star">*</i> </label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label for="">公司名称 <i class="input-star">*</i> </label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label for="">产品名称 <span>（Product Name）</span> <i class="input-star">*</i> </label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label for="">联系人<i class="input-star">*</i> </label>
                <input type="text">
            </div>

            <div class="col-md-6">
                <label for="">产品型号 <span>（Product Type）</span> <i class="input-star">*</i> </label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label for="">联系地址<i class="input-star">*</i> </label>
                <input type="text">
            </div>

            <div class="col-md-6">
                <label for="">产品序列号 <span>（ID-Nr；Artikel-Nr）</span> <i class="input-star">*</i> </label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label for="">联系电话<i class="input-star">*</i> </label>
                <input type="text">
            </div>
            
            <div class="col-md-6">
                <label for="">产品描述 <span>（Voltage，Amp，Kw,Rpm）</span> <i class="input-star">*</i> </label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label for="">传真<i class="input-star">*</i> </label>
                <input type="text">
            </div>
            
                   
            <div class="col-md-6">
                <label for="">需求数量 <span>（Quantity demanded）</span> <i class="input-star">*</i> </label>
                <input type="text">
            </div>
            <div class="col-md-6">
                <label for="">联系邮箱<i class="input-star">*</i> </label>
                <input type="text">
            </div>
        
            <div class="col-md-12">
                <label for="">附加信息，更具体要求 <i class="input-star">*</i> </label>
                <textarea name="" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="dialog-footer">
        <div class="btn btn-default">提交</div>
        <div class="btn btn-danger">取消</div>
    </div>
</div>