
<div id="authDialog" class="dialog auth-dialog">
    <div class="dialog-header">
        注册信息
    </div>
    <div class="dialog-body form-table">
        <div class="input-group">
            <label for="">用户名:</label>
            <div>
                <input type="text">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">密码:</label>
            <div>
                <input type="password">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">校验密码:</label>
            <div>
                <input type="password">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">真实姓名:</label>
            <div>
                <input type="text">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">性别:</label>
            <div>
                <div class="check-item">
                    <input type="radio"><span>男</span>
                </div>
                <div class="check-item">
                    <input type="radio"><span>女</span>
                </div>
                <div class="check-item">
                    <input type="radio"><span>保密</span>
                </div>
            </div>
        </div>
        <div class="input-group">
            <label for="">公司名称:</label>
            <div>
                <input type="text">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">公司地址:</label>
            <div>
                <input type="text">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">电子邮件:</label>
            <div>
                <input type="text">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">公司电话:</label>
            <div>
                <input type="text">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">手机号码:</label>
            <div>
                <input type="text">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="input-group">
            <label for="">验证码:</label>
            <div class="code-input-group">
                <input type="text">
                <img src="{url:/auth/captcha}" alt="">
                <span class="input-star">*</span>
            </div>
        </div>
        <div class="dialog-action">
            <div class="btn btn-default">提交</div>
            <div class="btn btn-secondary">重置</div>
            <div class="btn btn-danger">取消</div>
        </div>
    </div>
</div>