{@font-awesome.min.css}
{@animate.min.css}
{@zodream.css}
{@cms-business.css}
{@jquery.min.js}
{@jquery.lazyload.min.js}
{@cms-business.min.js}
<!DOCTYPE html>
<html lang="{$language??'zh-CN'}">
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width, initial-scale=1">
        <title>{this.title}-{option:title}</title>
        <meta name="Keywords" content="{this.keywords},{option:keywords}" />
        <meta name="Description" content="{this.description},{option:description}" />
        <meta name="author" content="zodream" />
        <link rel="icon" href="{option:logo}">
       {header:}
   </head>
   <body>
        <header class="app-header">
            <div class="container">
                <div class="top-bar">
                    <a class="nav-logo" href="{url:./}">
                        <img src="{option:logo}" alt="">
                    </a>
                    <div class="nav-brand">
                        {option:company_name}
                    </div>
                    <div class="nav-group-bar">
                        <div class="nav-item" modal="searchDialog">
                            <i class="fa fa-search"></i>
                            搜索
                        </div>
                        <a class="nav-item" href="javascript:setHome(this);">
                            设为首页
                        </a>
                        <a class="nav-item" href="javascript:addFavorite();">
                            收藏
                        </a>
                        <div class="nav-item">
                            <select>
                                <option>中文</option>
                                <option>English</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="nav-bar">
                    <i class="nav-toggle"></i>
                    <ul>
                        <li class="nav-item">
                            <a href="{url:./}">首页</a>
                        </li>
                        {channels:tree=>1,group=>nav}
                        <li class="nav-item {channelActive:$channel.id,true}">
                            <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                            {if:isset($channel.children)}
                            <ul class="nav-item-drop">
                                {for:$channel.children,$item}
                                <li  class="nav-item">
                                    <a href="{url:./category?id=:$item.id}">{$item.title}</a>
                                </li>
                                {/for}
                            </ul>
                            {/if}
                        </li>
                        
                        {/channels}
                    </ul>
                </div>
            </div>
        </header>
        {$content}
        <footer class="app-footer">
            <div class="map-bar">
                <div class="container">
                    {channels:tree=>1,group=>nav}
                    <div class="map-item">
                        <a class="item-header" href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                        <ul class="item-body">
                            {if:isset($channel.children)}
                            {for:$channel.children,$item}
                            <li>
                                <a href="{url:./category?id=:$item.id}">{$item.title}</a>
                            </li>
                            {/for}
                            {else}
                            <li>
                                <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                            </li>
                            {/if}
                        </ul>
                        
                    </div>
                    {/channels}

                    <div class="link-image-bar">
                        <div class="link-item">
                            <img src="/assets/images/wx.jpg" alt="">
                            <p>微信</p>
                        </div>
                        <div class="link-item">
                            <img src="/assets/images/wx.jpg" alt="">
                            <p>微博</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright © 2011-2023 {request.host:}. All Rights Reserved</p>
                    <p>
                        {option:company_name}
                        <a href="https://beian.miit.gov.cn/" target="_blank">{option:icp_beian}
                        </a>
                    </p>
                    <p>
                        {$pns_beian=option:pns_beian}
                        <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode={regex:$pns_beian,'/\d+/'}">
                            <img src="/assets/images/beian.png" alt="备案图标">
                            {$pns_beian}
                        </a>
                    </p>
                </div>
            </div>
        </footer>

        <div id="searchDialog" class="dialog search-dialog">
            <div class="dialog-body flat-input">
                <input type="text" class="form-control">
                <button class="btn btn-default">搜索</button>
            </div>
        </div>

        {footer:}
   </body>
</html>