{$root=channelRoot:$cat.id}
<div class="card-panel mb-30">
    <div class="panel-header">
        {$root.title}
    </div>
    <div class="panel-body">
        <ul class="menu-bar">
            {channels:parent=>$root.id}
            <li class="menu-item">
                <div class="menu-name">
                    <i class="fa fa-angle-right"></i>
                    <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                    {if:$channel.children_count>0}
                    <i class="fa menu-item-arrow"></i>
                    {/if}
                </div>
                {if:$channel.children_count>0}
                <ul class="menu-children">
                    {channels:parent=>$channel.id}
                    <li class="menu-item">
                        <div class="menu-name">
                            <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                        </div>
                    </li>
                    {/channels}
                </ul>
                {/if}
            </li>
            {/channels}
        </ul>
    </div>
</div>

<div class="card-panel with-border mb-30">
    <div class="panel-header">
        <span>下载中心/Download</span>
        <i class="fa card-arrow"></i>
    </div>
    <div class="panel-body link-bar">
        {channels:parent=>download}
        <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
        {/channels}
    </div>
</div>

<form class="search-bar mb-30" action="{search:id,$cat.id}">
    {searchHidden:}
    <div class="search-input">
        <input type="text" name="keywords" required>
        <i class="fa fa-search"></i>
    </div>
    <button class="btn btn-default">搜索</button>
    <div class="search-tip">
        *注：按产品型号，可检索常见问答、样本、证书等信息。
    </div>
</form>

<div class="link-image-bar mb-30">
    <img class="lazy" src="/assets/images/thumb.jpg" data-src="{option:wx_qr}" alt="微信公众号">
</div>
