{$root=channelRoot:$channel.id}
<div class="card-panel mb-30">
    <div class="panel-header">
        {$root.title}
    </div>
    <div class="panel-body">
        <ul class="menu-bar">
            {if:$root.name == product_center}
            {$pt=request:'product_type'}
            {linkage:product_type}
            {> $link=hasLinkageLink:$item,$pt,product_type}
            <li class="menu-item{if:$link==2,' menu-item-active'}{if:$link==1,' menu-item-open'}">
                <div class="menu-name">
                    <i class="fa fa-angle-right"></i>
                    <a href="{url:./category?id=product_center&product_type=:$item.id}">{$item.name}</a>
                    {if:$item.children_count>0}
                    <i class="fa menu-item-arrow"></i>
                    {/if}
                </div>
                {if:$item.children_count>0}
                <ul class="menu-children">
                    {for:$item.children,$it}
                    {> $link=hasLinkageLink:$it,$pt,product_type}
                    <li class="menu-item{if:$link==2,' menu-item-active'}{if:$link==1,' menu-item-open'}">
                        <div class="menu-name">
                            <a href="{url:./category?id=product_center&product_type=:$it.id}">{$it.name}</a>
                            {if:$it.children_count>0}
                            <i class="fa menu-item-arrow"></i>
                            {/if}
                        </div>
                        {if:$it.children_count>0}
                        <ul class="menu-children">
                            {for:$it.children,$i}
                            {> $link=hasLinkageLink:$i,$pt,product_type}
                            <li class="menu-item{if:$link==2,' menu-item-active'}{if:$link==1,' menu-item-open'}">
                                <div class="menu-name">
                                    <a href="{url:./category?id=product_center&product_type=:$i.id}">{$i.name}</a>
                                    {if:$i.children_count>0}
                                    <i class="fa menu-item-arrow"></i>
                                    {/if}
                                </div>
                                {if:$i.children_count>0}
                                <ul class="menu-children">
                                    {for:$i.children,$j}
                                    {> $link=hasLinkageLink:$j,$pt,product_type}
                                    <li class="menu-item{if:$link==2,' menu-item-active'}">
                                        <div class="menu-name">
                                            <a href="{url:./category?id=product_center&product_type=:$j.id}">{$j.name}</a>
                                        </div>
                                    </li>
                                    {/for}
                                </ul>
                                {/if}
                            </li>
                            {/for}
                        </ul>
                        {/if}
                    </li>
                    {/for}
                </ul>
                {/if}
            </li>
            {/linkage}
            {else}
            {$current=$channel}
            {channels:parent=>$root.id}
            {> $link=hasChannelLink:$channel,$current}
            <li class="menu-item{if:$link==2,' menu-item-active'}{if:$link==1,' menu-item-open'}">
                <div class="menu-name">
                    <i class="fa fa-angle-right"></i>
                    <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                    {if:$channel.children_count>0}
                    <i class="fa menu-item-arrow"></i>
                    {/if}
                </div>
                {if:$channel.children_count>0}
                <ul class="menu-children">
                    {channels:parent=>$channel.id}
                    {> $link=hasChannelLink:$channel,$current}
                    <li class="menu-item{if:$link==2,' menu-item-active'}{if:$link==1,' menu-item-open'}">
                        <div class="menu-name">
                            <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                        </div>
                    </li>
                    {/channels}
                </ul>
                {/if}
            </li>
            {/channels}
            {/if}
        </ul>
    </div>
</div>

<div class="card-panel with-border mb-30">
    <div class="panel-header">
        <span>{__:downloadcenter}</span>
        <i class="fa card-arrow"></i>
    </div>
    <div class="panel-body link-bar">
        {channels:parent=>download}
        <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
        {/channels}
    </div>
</div>

<form class="search-bar mb-30" action="{search:id,$channel.id}">
    {searchHidden:}
    <div class="search-input">
        <input type="text" name="keywords" required>
        <i class="fa fa-search"></i>
    </div>
    <button class="btn btn-default">{__:搜索}</button>
    <div class="search-tip">
        {__:searchtip}
    </div>
</form>

<div class="link-image-bar mb-30">
    <img class="lazy" src="/assets/images/thumb.jpg" data-src="{option:wx_qr}" alt="{__:微信公众号}">
</div>
