{@weight.min.css}
{@asset:css/style.min.css}
{@jquery.min.js}
{@asset:js/script.js}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{this.title}</title>
    <meta name="keywords" content="{this.keywords}">
    <meta name="description" content="{this.description}">
    {header:}
</head>
<body>
    <header>{weight:1}</header>
    <section>
        <div class="title-row">
            {this.title}
        </div>
        <article>
            {weight:2}
        </article>
    </section>
    <footer>
        {weight:3}
    </footer>
    {footer:}
</body>
</html>