*{
	padding:0px;
	margin:0px;
}

.form{
	width: 40%;
	margin:auto;
	background-color: rgba(0, 0, 0, 0.36);
}

.form input[type="text"]{
	display: inline-block;
	background: none;
	border-color: blue;
	border-radius: 5px;
	font-size: 30px;
}