@import "common";
.wx-page {
    width: 960px;
    margin: 0 auto;
    .page-left {
        width: 200px;
        >ul {
            >li {
                >a {
                    line-height: 50px;
                    font-size: 20px;
                    .fa {
                        top: 16px;
                    }
                }

            }
        }
    }
    .page-content {
        position: relative;
    }
    .phone-box {
        position: absolute;
        left: 50px;
        .marvel-device .screen {
            background: #fff;
            .bottom-menu {
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                height: 50px;
                background: #ccc;
                .fa {
                    position: absolute;
                    left: 7px;
                    font-size: 32px;
                    top: 10px;
                }
                .menu-content {
                    padding-left: 48px;
                    display: table;
                    width: 100%;
                    >ul {
                        display: table-row;
                        li {
                            line-height: 50px;
                            list-style: none;
                            ul {
                                position: absolute;
                                bottom: 62px;
                                width: 100%;
                                background: #ccc;
                                li {

                                }
                            }
                        }
                        >li {
                            border-left: 1px solid #999;
                            display: table-cell;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    text-align: center;
    margin: 50px 0 30px;
}