/* 轮播图片 */

.carousel {
  width: 100%;
  height: auto;
  position: relative;

  .slider {
    width: 500%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;

    a {
      display: block;
      float: left;
      width: 20%;
    }

    img {
      width: 100%;
    }
  }

  .trigger {
    position: absolute;
    width: 100%;
    bottom: 4%;
    margin: 0 auto;
    text-align: center;

    i {
      display: inline-block;
      width: 5px;
      height: 5px;
      border: 1px solid #fff;
      margin: 0 3px;
      background: #ccc;
      border-radius: 5px;

      &.cur {
        background: #ffcc66;
      }
    }
  }
}

/* 菜单开始 */

.wnav {
  width: 100%;
  padding: 15px 0;
  background: #fff;
  overflow: hidden;

  a {
    float: left;
    display: block;
    width: 25%;
    text-align: center;

    div {
      width: 75%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
      border-radius: 25%;
    }

    i {
      font-size: 26px;
      color: #fff;
      color: #fff;
    }

    span {
      display: block;
      color: #666;
      margin-top: 5px;
    }

    &.news div {
      background: #0099ff;
    }

    &.order div {
      background: #ffcc00;
    }

    &.fav div {
      background: #ff3366;
    }

    &.history div {
      background: #33cc66;
    }
  }
}

/* 商品列表 */

.gli_t {
  color: #666;
  padding: 0 0 0 2px;

  h2 {
    font-size: 18px;
    font-weight: normal;
  }
}

.gli {
  width: 100%;
  height: auto;
  overflow: hidden;

  .slider {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  ul {
    display: block;
    width: 500%;
    height: auto;
    position: relative;
    left: 0;

    li {
      display: block;
      float: left;
      width: 10%;

      .im {
        text-align: center;
        padding: 5% 0;

        img {
          width: 50%;
        }
      }

      h3 {
        padding: 0 3%;

        a {
          font-weight: normal;
          color: #666;

          &:hover {
            color: #CC3366;
            text-decoration: none;
          }
        }
      }

      p.price {
        text-align: center;
        font-size: 16px;
        color: #CC3333;

        i {
          font-family: Arial;
          font-style: normal;
          font-size: 14px;
        }
      }
    }
  }

  .trigger {
    text-align: center;

    i {
      margin: 0 2px;
      font-size: 0;
      line-height: 0;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background: #ccc;

      &.cur {
        background: #33CCCC;
      }
    }
  }
}

/* 广告 */

.ad-abr a {
  display: block;
  float: left;
  margin-right: 6px;

  last {
    margin-right: 0;
  }

  img {
    width: 360px;
  }
}
