@import 'theme';
.page-footer {
    text-align: center;
}

.tab-box {
    .tab-header {
        .tab-item {
            width: 7.5rem;
        }
    }
}

.version-bar {
    text-align: right;
    color: #767676;
    margin-bottom: 0.625rem;
    select {
        color: #333;
        height: 1.875rem;
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
        background-color: transparent;
        outline: none;
        font-size: 16px;
    }
}

.panel {
    width: 100%;
    position: relative;
    z-index: 0;
}
.page-header {
    padding: 0.5rem;
    height: auto;
    .opt-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.dialog-box {
    form {
        min-width: 37.5rem;
    }
}

.table-wrap {
    th,td {
        word-break: break-all;
    }
}

#debug-box {
    a {
        text-decoration: none;
    }
    .uri-box {
        select,
        input {
            height: 1.875rem;
        }
        input {
            min-width: 18.75rem;
        }
    }
    table {
        input {
            height: 1.875rem;
            width: 100%;
        }
    }
}

.json-box {
    pre {
        outline: 1px solid #ccc;
        padding: 0.3125rem;
        margin: 0.3125rem;
        overflow: auto;
    }

    .string {
        color: green;
    }

    /*字符串的样式*/

    .number {
        color: darkorange;
    }

    /*数字的样式*/

    .boolean {
        color: blue;
    }

    /*布尔型数据的样式*/

    .null {
        color: magenta;
    }

    /*null值的样式*/

    .key {
        color: red;
    }

    /*key值的样式*/
}

.sidebar-container {
    li.expand {
        .fa-folder::before {
            content: "\f07c";
        }
    }
}

#coder-dialog {
    .dialog-header {
        select {
            height: 1.875rem;
            background-color: transparent;
            color: #fff;
            min-width: 5rem;
            
        }
        option {
            color: #333;
        }
        button {
            height: 1.875rem;
            background-color: transparent;
            color: #fff;
            border-width: 0.0625rem;
            padding: 0 0.3125rem;
        }
    }
    .dialog-body {
        max-width: 100vw;
        max-height: 80vh;
    }
}

#editor-container {
    line-height: 1.4375rem;
    font-size: 1rem;
    letter-spacing: 0.125rem;
    font-weight: 500;
    font-family: "Microsoft YaHei",微软雅黑,宋体;
    outline: 0;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    width: 100%;
    min-height: 31.25rem;
}

@import './markdown';