.connect-item {
    display: grid;
    grid-template-columns: 8fr 2fr;
    line-height: 2.5rem;
    background-color: #fff;
    padding: 0 0 0 1.25rem;
}

.bulletin-item {
    background-color: #fff;
    margin-bottom: 0.625rem;
    padding: 1.25rem;
    .title {
        font-weight: bold;
        line-height: 1.875rem;
        border-bottom: 1px dotted #ccc;
        cursor: pointer;
        .btn {
            float: right;
            font-weight: normal;
            font-size: 0.75rem;
        }
    }
    .content {
        min-height: 3.75rem;
    }
    .footer {
        border-top: 1px dotted #ccc;
        color: #777;
        font-size: 0.75rem;
        span {
            margin-right: 1.25rem;
        }
    }
    &.min {
        padding: 0 1.25rem 0.625rem;
        .title {
            .btn {
                display: none;
            }
        }
        .content {
            display: none;
        }
        .footer {
            border-top: none;
        }
    }
}