@use 'theme';
.login-box {
    max-width: 18.75rem;
    margin: 20vh auto 40vh;
    overflow: hidden;
    .login-form {
        position: relative;
        transition: all .5s;
    }
    .input-box {
        padding-top: 4.375rem;
    }
    .input-group {
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            box-shadow: none;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        .fa {
            transition: all .5s;
        }
        &.input-focus {
            input {
                padding-left: .5rem;
                padding-right: 1.875rem;
                border-bottom: 2px solid var(--#{theme.$prefix}input-focus-border);
            }
            .fa {
                left: 17.5rem;
            }
        }
    }
    .captcha-input {
        input[type="text"] {
            padding-right: 5rem;
        }
        .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 5rem;
            height: 1.875rem;
            padding: 0;
            background-color: transparent;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &.input-focus {
            .fa {
                left: 12.5rem;
            }
        }
    }
    .btn {
        width: 100%;
        margin: 0;
    }
    a {
        color: #333;
        text-decoration: none;
    }
    .find-link {
        float: right;
    }
    .other-box {
        line-height: 1.875rem;
        .fa {
            float: right;
            line-height: 1.875rem;
            margin-right: 0.625rem;
        }
    }
    .login-qr-box {
        position: absolute;
        top: 0;
        left: 18.75rem;
        width: 18.75rem;
        text-align: center;
        .qr-box {
            .fa-sync {
                position: absolute;
                top: 6.625rem;
                left: 8.0625rem;
                font-size: 3.125rem;
                color: theme.$invalid;
                display: none;
            }
        }
        .scan-box,
        .success-box,
        .failure-box {
            display: none;
            min-height: 15.625rem;
            .fa {
                font-size: 5rem;
                margin: 5rem 1.875rem 1.25rem;
            }
        }
        .failure-box {
            position: absolute;
            top: 0;
            width: 100%;
            background: rgba(0,0,0,.4);
            color: #fff;
        }
        &.waiting_confirm {
            .scan-box {
                display: block;
            }
            .qr-box {
                display: none;
            }
        }
        &.qr_expired {
            .qr-box {
                .fa-sync {
                    display: block;
                }
            }
        }
        &.qr_reject {
            .failure-box {
                display: block;
            }
        }
        &.qr_success {
            .qr-box {
                display: none;
            }
            .success-box {
                display: block;
            }
        }
    }
    .login-oauth-box {
        text-align: center;
        margin-top: 1.25rem;
        .box-title {
            border-bottom: 1px solid #767676;
        }
        a {
            font-size: 1.875rem;
            margin: 0.3125rem;
        }
    }
    &.slided {
        .login-form {
            transform: translate(-18.75rem, 0);
            min-height: 18.75rem;
        }
    }
}
.footer {
    background: var(--#{theme.$prefix}primary);
    color: var(--#{theme.$prefix}primary-text);
    font-weight: 400;
    font-size: 0.875rem;
    padding: 2rem 1.25rem;
    position: relative;
    text-align: center;
    a {
        color: var(--#{theme.$prefix}primary-text);
        text-decoration: none;
    }
}

