.connect-item {
    display: grid;
    grid-template-columns: 8fr 2fr;
    line-height: 40px;
    background-color: #fff;
    padding: 0 0 0 20px;
}

.bulletin-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    .title {
        font-weight: bold;
        line-height: 30px;
        border-bottom: 1px dotted #ccc;
        cursor: pointer;
        .btn {
            float: right;
            font-weight: normal;
            font-size: 12px;
        }
    }
    .content {
        min-height: 60px;
    }
    .footer {
        border-top: 1px dotted #ccc;
        color: #777;
        font-size: 12px;
        span {
            margin-right: 20px;
        }
    }
    &.min {
        padding: 0 20px 10px;
        .title {
            .btn {
                display: none;
            }
        }
        .content {
            display: none;
        }
        .footer {
            border-top: none;
        }
    }
}