.login {
    max-width: 300px;
    margin: 30vh auto 40vh;
}
.footer {
    background: #000;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 32px 20px;
    position: relative;
    text-align: center;
    a {
        color: #fff;
        text-decoration: none;
    }
}

.login-form {
    .input-group {
        input[type="text"],
        input[type="email"],
        input[type="password"], {
            border: none;
            outline: none;
            border-bottom: 1px solid #767676;
        }
        .fa {
            transition: all .5s;
        }
        &.input-focus {
            input {
                padding-left: 0;
                padding-right: 30px;
                border-bottom: 2px solid #000;
            }
            .fa {
                left: 280px;
                color: #767676;
            }
        }
    }
    .btn {
        background: #333;
        color: #fff;
        width: 100%;
        margin: 0;
        &:hover {
            background: #000;
        }
    }
}