@use 'theme';
.style-type-1 {
    font: 1.3em "Vollkorn", "Microsoft YaHei", 微软雅黑, 宋体;
    color: var(--#{theme.$prefix}body-text);
    line-height: 1.4;
    text-align: justify;

    img {
        border: 0;
        max-width: 100%;
        display: block;
        max-height: 50vh;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        padding: 5px;
        > thead {
            position: sticky;
            top: 0;
            z-index: 2;
            > tr {
                > th {
                    text-align: left;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.69);
                    padding: 0.25rem 0.5rem;
                }
                > td {
                    padding: 0.25rem 0.5rem;
                }
            }
        }
        &:not(:first-child) {
            margin-top: 1rem;
        }
        > tbody > tr {
            > th {
                padding: 0.25rem 0.5rem;
            }
            > td {
                padding: 0.25rem 0.5rem;
            }
            + tr > td {
                border-top: 1px solid rgba(0, 0, 0, 0.18);
            }
        }
        th,
        td {
            padding: 5px;
            text-align: left;
        }
    }
    header {
        width: 700px;
        margin: 0 auto;
    }
    nav {
        width: 700px;
        margin: 0 auto;
        font-size: .9em;
        font-style: italic;
        border-bottom: 1px solid #ddd;
        padding: 1em 0;
        p {
            margin: 0;
        }
    }
    article {
        width: 700px;
        margin: 0 auto;
        margin-top: 4em;
        margin-bottom: 4em;
        min-height: 400px;
    }
    footer {
        width: 700px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    video {
        margin: 2em 0;
        border: 1px solid #ddd;
    }
    h1,
    h2,
    h3 {
        font-weight: normal;
        font-weight: normal;
        color: var(--#{theme.$prefix}body-text);
        line-height: 1.2;
        margin: 1em 0 0.6em;
        border-bottom: 1px solid var(--#{theme.$prefix}surface);
        &:first-child {
            margin-top: 0;
        }
    }
    h1 {
        margin-top: 0;
        font-size: 2.5rem;
        border-bottom-width: 2px;
        a {
            color: var(--#{theme.$prefix}body-text);
            text-decoration: none;
            &:hover {
                color: var(--#{theme.$prefix}body-text);
                text-decoration: none;
            }
        }
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        margin-top: 3em;
        font-size: 1.5rem;
        
    }
    p {
        margin-top: 0;
        //Instead of the line below you could use @include hyphens($value)
        hyphens: auto;
        margin: 0;
        &#heart {
            font-size: 2em;
            line-height: 1;
            text-align: center;
            color: #ccc;
        }
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    ul {
        list-style: square;
        padding-left: 1.2em;
        padding: 0 0 0 2rem;
        margin: 0;
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    ol {
        padding-left: 1.2em;
        padding: 0 0 0 2rem;
        margin: 0;
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 1px solid #ddd;
        margin: 0 0 0 0.25rem;
        padding-left: 0.65rem;
        border-left: 0.25rem solid #007acc;
        background: rgba(127, 127, 127, 0.1);
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    a {
        color: #2484c1;
        color: #007acc;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: #007acc;
            text-decoration: underline;
        }
        img {
            border: none;
        }
        &:visited {
            color: #007acc;
        }
        &:active {
            text-decoration: underline;
        }
    }
    hr {
        color: #ddd;
        height: 1px;
        margin: 2em 0;
        border-top: solid 1px #ddd;
        border-bottom: none;
        border-left: 0;
        border-right: 0;
        display: block;
        border: 0;
        height: 2px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.18);
        margin: 0;
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    .red {
        color: #b50000;
    }
    h4 {
        font-weight: normal;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 0.6em;
        font-weight: bold;
        color: #444;
        font-size: 1.2rem;
        &:first-child {
            margin-top: 0;
        }
    }
    h5 {
        font-weight: normal;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 0.6em;
        font-weight: bold;
        color: #444;
        font-size: 1.1rem;
        &:first-child {
            margin-top: 0;
        }
    }
    h6 {
        font-weight: normal;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 0.6em;
        font-weight: bold;
        color: #444;
        font-size: 0.9rem;
        &:first-child {
            margin-top: 0;
        }
    }
    b {
        font-weight: bold;
    }
    strong {
        font-weight: bold;
    }
    i {
        font-style: italic;
    }
    em {
        font-style: italic;
    }
    s {
        text-decoration: line-through;
    }
    del {
        text-decoration: line-through;
    }
    sub {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        bottom: -0.25rem;
    }
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -0.5rem;
    }
    code {
        font-family: Menlo, Monaco, Consolas, Droid Sans Mono, Courier New, monospace, Microsoft YaHei, 微软雅黑, 宋体;
        background: var(--#{theme.$prefix}body);
        border-radius: 0.25rem;
        font-size: .9em;
    }
    // pre {
    //     white-space: pre-wrap;
    //     word-wrap: normal !important;
    //     overflow-x: auto;
    //     margin: 0;
    //     background: var(--#{theme.$prefix}body);
    //     > code {
    //         white-space: pre !important;
    //         display: block;
    //         padding: 0.65rem 1rem;
    //         background-color: transparent;
    //         border: none;
    //     }
    //     &:not(:first-child) {
    //         margin-top: 1rem;
    //     }
    // }
    .book-catalog-item {
        position: relative;
        display: block;
        margin: 1em auto;
        width: 45rem;
        box-sizing: border-box;
        border-radius: 0.75rem;
        max-width: 100%;
        overflow: hidden;
        text-decoration: none;
        border: none;
        color: inherit;
        cursor: pointer;
        background-color: #f6f6f6;
        .name {
            display: inline-block;
            height: 2.5rem;
            overflow: hidden;
            flex: 1;
        }
        .time {
            color: #b3b1b1;
            font-size: .8rem;
            height: 2.5rem;
            word-break: keep-all;
            word-wrap: normal;
        }
        .item-title {
            display: flex;
            padding: 0 .5rem;
            line-height: 2.5rem;
        }
        .item-meta {
            padding: 0 .5rem .5rem;
            color: #767676;
            font-size: .8rem;
        }
        &:hover {
            box-shadow: rgb(51 51 51 / 70%) 0 0 .8rem;
        }
    }
}