@use 'theme';
@use './markdown';
@use './daily';

@mixin active() {
    background-color: var(--#{theme.$prefix}-primary-active);
    color: var(--#{theme.$prefix}-primary-text);
    a {
        color: var(--#{theme.$prefix}-primary-text);
    }
}

@mixin hover() {
    background-color: var(--#{theme.$prefix}-primary-hover);
    color: var(--#{theme.$prefix}-primary-text);
    a {
        color: var(--#{theme.$prefix}-primary-text);
    }
}



* {
    padding: 0;
    margin: 0;
}

.book-skin {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    min-height: 18.75rem;
    a {
        text-decoration: none;
        color: var(--#{theme.$prefix}-body-text);
    }
    .book-title {
        // line-height: 100px;
        padding: 2rem 0;
        text-align: center;
        .book-nav {
            >li {
                list-style: none;
                display: none;
                &.active {
                    display: inline-block;
                    font-size: 1.875rem;
                    line-height: 2.5rem;
                }
                &.book-back {
                    position: absolute;
                    left: 0;
                }
                &.book-navicon {
                    display: none;
                }
                &.book-search {
                    position: absolute;
                    right: 0;
                    .fa {
                        position: absolute;
                        top: 2.5rem;
                        left: 0.3125rem;
                        font-size: 1.25rem;
                        color: var(--#{theme.$prefix}-body-text);
                    }
                    input {
                        font-size: 1.25rem;
                        padding-left: 1.5625rem;
                        background: transparent;
                        border: 1px solid var(--#{theme.$prefix}-body-text);
                        display: none;
                    }
                    .search-tip {
                        position: absolute;
                        top: 63px;
                        z-index: 99;
                        line-height: 25px;
                        background: var(--#{theme.$prefix}-panel);
                        width: 100%;
                        display: none;
                        li {
                            list-style: none;
                            &:hover {
                                @include active();
                                a {
                                    color: var(--#{theme.$prefix}-primary);
                                }
                            }
                        }
                    }
                    input:focus+.search-tip,
                    &.focus .search-tip {
                        display: block;
                    }
                    &.focus input {
                        display: inline-block;
                    }
                }
            }
            &:hover,
            &.hover {
                >li {
                    display: inline-block;
                    &.book-navicon {
                        display: none;
                    }
                }
            }
        }
    }
    .book-body {
        margin-right: 12.5rem;
        background-color: var(--#{theme.$prefix}-panel);
        padding: 1.875rem 0.9375rem;
        min-height: 25rem;
        position: relative;
        .book-header {
            font-size: 1rem;
            line-height: 2.5rem;
            border-bottom: 1px solid #eee;
            color: #484848;
            font-weight: normal;
            margin-bottom: 10px;
            &::after {
                display: block;
                content: " ";
                background: #000;
                width: 60px;
                height: 3px;
            }
        }
        .book-term {
            .term-info {
                position: relative;
                min-height: 50px;
                img {
                    width: 100%;
                }
                h3 {
                    position: absolute;
                    bottom: 4px;
                    line-height: 50px;
                    display: block;
                    background: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    color: var(--#{theme.$prefix}-primary-text);
                    padding: 0 10px;
                    box-sizing: border-box;
                }
            }
            margin-bottom: 20px;
        }
        .book-sort {
            position: absolute;
            right: 1.5625rem;
            top: -1.875rem;
            a {
                display: inline-block;
                width: 3.125rem;
                line-height: 1.875rem;
                text-align: center;
                position: relative;
                background: var(--#{theme.$prefix}-panel);
                &:after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    left: 0;
                    bottom: -3.125rem;
                    border: transparent 25px solid;
                    border-top-color: var(--#{theme.$prefix}-primary);
                    opacity: .6;
                }
                &.active {
                    background-color: var(--#{theme.$prefix}-primary);
                    color: var(--#{theme.$prefix}-primary-text);
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        .book-item {
            display: flex;
            margin: 0 -0.9375rem;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            transition: box-shadow 1s;
            .item-body {
                padding: 1rem 1.25rem;
                flex: 1;
                margin: 0;
            }
            .item-cover {
                width: 10em;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }        
            }
            .book-time {
                float: right;
                text-align: right;
            }
            a {
                text-decoration: none;
                color: var(--#{theme.$prefix}-body-text);
            }
            dt {
                font-size: 1.25rem;
                font-weight: 600;
                
            }
            dd {
                //display: none;
            }
            p {
                margin: 0.3125rem 0;
                min-height: 2.5rem;
            }
            .author,
            .comment,
            .category,
            .language {
                margin-right: 1.25rem;
            }
            .agree,
            .disagree {
                float: right;
                margin-left: 0.625rem;
            }
            &:hover,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                dd {
                    display: block;
                }
            }
            &:hover {
                box-shadow: 0 0 0.625rem var(--#{theme.$prefix}-shadow);
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--#{theme.$prefix}-primary);
            }
            &.fade-pre-item {
                visibility: hidden;
            }
            &.fade-item {
                animation-name: fadeInLeft;
                background: var(--#{theme.$prefix}-panel);
                border-bottom: none;
                visibility: visible;
            }
        }
        .cat-item {
            line-height: 40px;
            .count {
                color: var(--#{theme.$prefix}-secondary-text);
            }
        }
        .tag-item {
            margin: 5px 10px;
            border-bottom: 1px solid #999;
            &:hover {
                border-bottom: 1px solid #333;
            }
        }
        
        .content {
            margin-bottom: 2.5rem;
            max-height: 18.75rem;
            overflow-y: hidden;
            a {
                color: var(--#{theme.$prefix}-link-text);
            }
        }
        .toggle-open {
            background-color: var(--#{theme.$prefix}-dialog-mask);
            line-height: 2.5rem;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            margin-top: -2.5rem;
            color: var(--#{theme.$prefix}-secondary-text);
            cursor: pointer;
        }
        .tools {
            border-top: 1px dotted var(--#{theme.$prefix}-primary-text);
            line-height: 2.5rem;
            position: absolute;
            bottom: 0;
            right: 0.9375rem;
            left: 0.9375rem;
            font-size: 1.25rem;
            span {}
            .agree,
            .disagree {
                float: right;
                margin-left: 1.25rem;
            }
        }
        .book-source,
        .book-tags {
            font-size: 0.875rem;
            font-weight: 100;
            margin-top: 0.625rem;
            a {
                color: var(--#{theme.$prefix}-link-text);
                font-weight: 600;
            }
        }
        .book-bottom {
            margin-bottom: 1.25rem;
        }
        &.open {
            .content {
                max-height: inherit;
            }
            .toggle-open {
                display: none;
            }
        }
    }
    .book-info {
        border-bottom: 1px dotted var(--#{theme.$prefix}-body-text);
        line-height: 40px;
        span,
        a {
            margin-right: 1.25rem;
            color: var(--#{theme.$prefix}-body-text);
        }
        
    }
    .language-toggle {
        display: inline-block;
        margin-right: 1.25rem;
        border: 1px solid var(--#{theme.$prefix}-primary);
        border-bottom: none;
        a {
            display: inline-block;
            background-color: var(--#{theme.$prefix}-primary);
            color: var(--#{theme.$prefix}-primary-text);
            margin: 0;
            width: 2.5rem;
            text-align: center;
            &.active {
                background-color: var(--#{theme.$prefix}-panel);
                color: var(--#{theme.$prefix}-body-text);
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    background-color: var(--#{theme.$prefix}-panel);
                    width: 2.5rem;
                    height: 0.1875rem;
                }
            }
        }
    }
    .book-footer {
        
        &.comment {
            margin-top: 3.125rem;
            margin-right: 12.5rem;
            background: var(--#{theme.$prefix}-panel);
            padding: 0.9375rem;
            position: relative;
        }
        
    }
    
}

.time-axis {
    position: relative;
    z-index: 1010;
    margin-left: 3.4375rem;
    .time-title {
        position: relative;
        margin: 3.75rem 0;
        .time-year {
            margin-left: 1.25rem;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.5;
        }
        &::before {
            content: " ";
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: -0.25rem;
            margin-top: -0.25rem;
            width: 0.5rem;
            height: 0.5rem;
            background: #bbb;
            border-radius: 50%;
        }
    }
    .time-items {
        margin: 1.875rem 0;
        .time-item {
            display: block;
            position: relative;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            transition-property: border;
            border-bottom: 1px dashed #ccc;
            line-height: 2.5rem;
            .title {
                margin-left: 3.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: inherit;
            }
            .time {
                position: absolute;
                font-size: 0.75rem;
                left: 1.25rem;
                top: 0rem;
            }
            &::before {
                content: " ";
                position: absolute;
                left: 0;
                top: 1.0625rem;
                width: 0.375rem;
                height: 0.375rem;
                margin-left: -0.25rem;
                background: #bbb;
                border-radius: 50%;
                border: 1px solid #fff;
                transition-duration: .2s;
                transition-timing-function: ease-in-out;
                transition-delay: 0s;
                transition-property: background;
            }
            &:hover {
                border-bottom-color: #666;
                &::before {
                    background: #222;
                }
            }
        }
    }
    &:after {
        content: " ";
        position: absolute;
        top: 1.25rem;
        left: 0;
        margin-left: -0.125rem;
        width: 0.25rem;
        height: 100%;
        background: #f5f5f5;
        z-index: -1;
    }
}

.book-pager {
    float: left;
    margin-bottom: 2rem;
    li {
        list-style: none;
        background: var(--#{theme.$prefix}-panel);
        width: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        float: left;
        border-top: 1px dotted var(--#{theme.$prefix}-primary);
        a {
            display: block;
        }
        
        &.active {
            background-color: var(--#{theme.$prefix}-primary);
            color: var(--#{theme.$prefix}-primary-text);
        }
        &:hover {
            font-weight: 700;
            a {
                color: var(--#{theme.$prefix}-primary);
            }
        }
    }
}

.book-navigation {
    padding: 1.875rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.625rem;
    .prev,
    .next {
        display: grid;
        grid-template-columns: 1.875rem 1fr;
        white-space: nowrap;
        .fa {
            padding: 0.8125rem 0 0 0.625rem;
            color: var(--#{theme.$prefix}-secondary-text);
            font-size: 1.25rem;
            display: inline-block;
        }
        .prev-text,
        .next-text {
            display: inline-block;
            overflow: hidden;
        }
        .prev-label,
        .next-label {
            font-size: .8em;
        }
        .prev-title,
        .next-title {
            display: block;
            color: var(--#{theme.$prefix}-body-text);
            font-size: 1.125rem;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .next {
        text-align: right;
        grid-template-columns: 1fr 1.875rem;
        .fa {
            padding: 0.8125rem 0.625rem 0 0;
        }
    }
}

.book-comments {
    .reply-hide {
        display: none;
    }
    .title {
        font-size: 1.25rem;
        border-left: 0.3125rem solid var(--#{theme.$prefix}-primary);
        padding-left: 0.625rem;
        margin-top: 0.9375rem;
        .order {
            float: right;
            font-size: 0.75rem;
            cursor: pointer;
            .active {
                color: var(--#{theme.$prefix}-primary);
            }
        }
    }
    .comment-item {
        padding: 0.5rem 0;
        
        position: relative;
        .item-header {
            line-height: 1.875rem;
            .user {
                font-weight: 600;
            }
            .time {
                margin-left: 1.25rem;
                color: var(--#{theme.$prefix}-secondary-text);
            }
            .floor {
                float: right;
            }
        }
        .item-body {
            p {
                margin: 0.3125rem 0;
            }
            .expand {
                font-size: 0.75rem;
            }
            .comment,
            .report {
                float: right;
                margin-left: 1.25rem;
            }
        }
        .actions {
            position: absolute;
            right: -13.4375rem;
            width: 12.5rem;
            text-align: center;
            top: 1.875rem;
            background: var(--#{theme.$prefix}-panel);
            font-size: 1.25rem;
            line-height: 2.5rem;
            span {
                padding: 0 0.1875rem;
            }
        }
        .comments {
            padding-left: 6.25rem;
            margin-top: 0.5rem;
            border-top: 0.0625rem solid var(--#{theme.$prefix}-primary);
            .comment-item:last-child {
                border: none;
                padding-bottom: 0;
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--#{theme.$prefix}-primary);
        }
    }
    &.hot-comments {
        .title {
            margin-top: 0;
        }
        .comment-item {
            .comments {
                display: none;
            }
            &.active {
                .comments {
                    display: block;
                }
            }
        }
    }
    .book-comment-form {
        .btn-cancel {
            display: inline-block;
        }
    }
}

.book-sidebar {
    position: absolute;
    width: 12.5rem;
    right: 0;
    top: 8.125rem;
    .book-chapter,
    .book-new {
        li {
            background: transparent;
            list-style: none;
            width: 9.375rem;
            line-height: 1.875rem;
            padding-left: 1.25rem;
            box-sizing: border-box;
            .fa {
                margin-right: 0.3125rem;
            }
            .count {
                position: absolute;
                color: var(--#{theme.$prefix}-primary-text);
                background-color: var(--#{theme.$prefix}-primary);
                border-radius: 50%;
                display: inline-block;
                width: 1.5625rem;
                height: 1.5625rem;
                line-height: 1.5625rem;
                text-align: center;
                left: 0.6875rem;
                margin-top: 0.125rem;
                font-size: 0.625rem;
                overflow: hidden;
            }
            &.active {
                @include active();
                width: 12.5rem;
                &:hover {
                    width: 12.5rem;
                }
                a {
                    color: var(--#{theme.$prefix}-primary-text);
                }
                .count {
                    color: var(--#{theme.$prefix}-primary); 
                    background-color: var(--#{theme.$prefix}-primary-text);
                    left: auto;
                    right: 0;
                }
            }
            &:hover {
                width: 10.9375rem;
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--#{theme.$prefix}-primary);
            }
        }
    }
    .book-new {
        margin-top: 3.125rem;
        h3 {
            padding-left: 0.625rem;
        }
        li {
            width: 100%;
            padding: 0.1875rem 0 0.1875rem 1.25rem;
            line-height: 1.25rem;
            a {
                font-size: 0.875rem;
            }
        }
    }
    
    
}

.book-dynamic {
    margin-top: 3.125rem;
    h3 {
        padding-left: 0.625rem;
    }
    dl {
        background: transparent;
        border-bottom: 1px solid var(--#{theme.$prefix}-primary);
        dt {
            line-height: 1.875rem;
            font-size: 0.75rem;
            a {
                font-size: 1rem;
                font-weight: 600;
            }
        }
        dd {
            display: none;
            .book-time {
                text-align: right;
                display: block;
            }
            p {
                margin: 0.3125rem 0;
            }
        }
        &:hover {
            dt {
                @include hover();
            }
            dd {
                display: block;
            }
        }
    }
}

.book-side-nav {
    li {
        font-size: 0.75rem;
        background: transparent;
        list-style: none;
        width: 9.375rem;
        line-height: 1.875rem;
        border-bottom: 0.0625rem solid var(--#{theme.$prefix}-primary);
        padding-left: 1.25rem;
        box-sizing: border-box;
        &.nav-level-0 {
            font-size: 0.875rem;
            font-weight: 600;
        }
        &.nav-level-1 {
            width: 10.9375rem;
            color: var(--#{theme.$prefix}-secondary-text);
        }
        &.nav-level-2 {
            color: var(--#{theme.$prefix}-secondary-text);
            width: 12.5rem;
        }
        &.active {
            @include active();
            a {
                color: var(--#{theme.$prefix}-primary-text);
            }
        }
        &.nav-title {
            text-align: center;
            padding: 0;
            font-size: 1rem;
            font-weight: 700;
            border-bottom-width: 0.1875rem;
        }
    }
}

.rule-box {
    margin-top: 2.5rem;
    .rule-header {
        text-align: center;
        font-weight: 700;
        b {
            color: var(--#{theme.$prefix}-primary);
        }
    }
    .rule-tip {
        text-align: center;
        line-height: 2.5rem;
        color: var(--#{theme.$prefix}-secondary-text);
        
    }
    button {
        height: 1.875rem;
        width: 5rem;
        background-color: var(--#{theme.$prefix}-primary);
        color: var(--#{theme.$prefix}-primary-text);
        border: 0;
        outline: 0;
    }
    &.rule-login {
        
    }
    &.rule-password {
        text-align: center;
        input {
            height: 1.875rem;
            border: 0;
            outline: 0;
            background: var(--#{theme.$prefix}-body);
            padding: 0 0.625rem;
        }
    }
    &.rule-buy {
        text-align: center;
    }
}

.book-comment-form {
    .title {
        font-size: 1.25rem;
        border-left: 0.3125rem solid var(--#{theme.$prefix}-primary);
        padding-left: 0.625rem;
        margin-top: 0.9375rem;
    }
    .form-table {
        display: table;
        width: 100%;
        .form-group {
            display: table-row;
        }
    }
    label {
        line-height: 1.875rem;
        width: 12.5rem;
        display: table-cell;
        text-align: center;
    }
    input,
    select {
        display: table-cell;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--#{theme.$prefix}-primary);
        font-size: 1.25rem;
        width: 100%;
    }
    input {
        padding: 0 .4rem;
    }
    textarea {
        width: 100%;
        height: 6.25rem;
        resize: none;
        outline: none;
        background: transparent;
        border: 1px solid var(--#{theme.$prefix}-primary);
        font-size: 1.25rem;
        padding: .4rem;
    }
    button {
        line-height: 1.875rem;
        background: var(--#{theme.$prefix}-primary);
        color: var(--#{theme.$prefix}-primary-text);
        padding: 0 1.25rem;
        border: none;
    }
    .btn-cancel {
        display: none;
    }
}

.book-copyright {
    clear: both;
    background-color: var(--#{theme.$prefix}-body);
    font-size: 0.75rem;
    color: var(--#{theme.$prefix}-secondary-text);
    padding: 0.375rem 0.9375rem 0.3125rem;
    border-radius: 0.125rem;
    text-align: center;
    margin-top: 0.625rem;
}

.book-clear {
    clear: both;
}

.footer {
    margin-top: 3.125rem;
    padding: 1.25rem;
    text-align: center;
}

.book-fork-box {
    overflow: hidden;
    position: relative;
    .book-fork {
        background-color: var(--#{theme.$prefix}-primary);
        line-height: 1.5rem;
        display: block;
        padding: 0.125rem 0;
        transform: rotateZ(45deg) scale(.8);
        position: absolute;
        right: -5rem;
        top: 2rem;
        z-index: 999;
        font-size: .8rem;
        span {
            color: var(--#{theme.$prefix}-primary-text);
            display: block;
            width: 16rem;
            text-align: center;
            border-top: 1px dotted var(--#{theme.$prefix}-primary-text);
            border-bottom: 1px dotted var(--#{theme.$prefix}-primary-text);
        }
    }
}

.copy-btn {
    position: absolute;
    display: none;
    background-color: var(--#{theme.$prefix}-primary);
    color: var(--#{theme.$prefix}-primary-text);
    padding: 0.125rem 0.5rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--#{theme.$prefix}-shadow), 0 2px 4px var(--#{theme.$prefix}-shadow);
}

@media screen and (max-width: 75rem) {
    .book-skin {
        width: 100%;
    }
}

@media screen and (max-width: 48.0625rem) {
    .book-skin {
        .book-title {
            .book-nav {
                >li {
                    &.book-back {}
                    &.book-navicon {
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        font-size: 1.875rem;
                        padding: 0 0.625rem;
                    }
                    &.book-search {
                        position: relative;
                        left: 0;
                        line-height: 1.875rem;
                        .fa {
                            left: 0.3125rem;
                            top: 0.3125rem;
                        }
                        input {
                            width: 100%;
                            box-sizing: border-box;
                            display: block;
                            line-height: 1.875rem;
                        }
                        .search-tip {
                            position: static;
                        }
                    }
                    &.active {
                        font-size: 1.25rem;
                        padding-left: 3.125rem;
                        line-height: 2.125rem;
                    }
                }
                &.hover,
                &:hover {
                    >li {
                        display: none;
                        &.active,
                        &.book-navicon {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .book-body {
            margin-right: 0;
            padding: 1.875rem 0.5rem;
            .book-item {
                margin: 0 -0.5rem;
                .item-cover {
                    width: 7em;
                }
                dd {
                    display: block;
                }
                .disagree,
                .agree {
                    float: none;
                    margin-left: 0;
                }
                .author,
                .category,
                .comment,
                .agree,
                .disagree,
                .click {
                    font-size: 0.75rem;
                    margin-right: .4rem;
                }
                .click {
                    margin-right: 0;
                }
                .book-time {
                    font-size: 0.75rem;
                    width: 4.375rem;
                }
            }
            .book-info,
            .tools {
                font-size: 0.75rem;
            }
            .content {
                word-wrap: break-word;
                word-break: normal;
                width: 100%;
                display: block;
                position: relative;
                overflow-x: auto;
                p,
                img {
                    word-break: normal;
                    width: auto;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                }
            }
        }
        .book-sidebar {
            .book-chapter {
                position: static;
                margin-bottom: 1.875rem;
                width: 100%;
                display: none;
                li {
                    width: 100%;
                    &.active {
                        width: 100%;
                        @include active();
                        &:hover {
                            width: 100%;
                        }
                        a {
                            color: var(--#{theme.$prefix}-primary-text);
                        }
                    }
                    &:hover {
                        width: 100%;
                        @include hover();
                        a {
                            color: var(--#{theme.$prefix}-primary-text);
                        }
                    }
                }
            }
            .book-dynamic,
            .book-new,
            .book-side-nav {
                display: none;
            }
        }
        .book-footer {
            .book-comments {
                .comment-item {
                    .content {
                        .report,
                        .comment {
                            margin-left: 0.5rem;
                        }
                    }
                    .actions {
                        position: static;
                        width: auto;
                        float: right;
                        line-height: 1.25rem;
                        font-size: 1rem;
                    }
                    .time,
                    .floor {
                        font-size: 0.75rem;
                    }
                }
            }
            &.comment {
                margin-right: 0;
            }
        }
        &.book-collapsed {
            .book-title {
                .book-nav {
                    >li {
                        &.book-back {}
                        &.book-navicon {
                            .fa {
                                &:before {
                                    content: "\f00d";
                                }
                            }
                        }
                        &.book-search {
                            display: block;
                            input {
                                display: block;
                            }
                            .search-tip {
                                position: static;
                                display: block;
                            }
                        }
                    }
                    &.hover,
                    &:hover {
                        >li {
                            display: inline-block;
                            &.book-search {
                                display: block;
                            }
                        }
                    }
                }
                &.book-mobile-inline {
                    .book-nav {
                        >li {
                            display: block;
                            line-height: 1.875rem;
                            &.book-back {
                                position: static;
                                font-size: 1.25rem;
                                font-weight: 700;
                                text-align: right;
                                padding-right: 1.25rem;
                            }
                        }
                    }
                }
            }
            .book-body {
                margin-top: 2.5rem;
            }
            .book-sidebar {
                position: static;
                width: 100%;
                .book-chapter {
                    display: block;
                }
            }
        }
    }

    .book-comment-form {
        .form-table {
            .form-group {
                label {
                    width: 6.25rem;
                }
            }
        }
    }
}