.panel {
    background-color: #fff;
    border: 1px solid #ccc;
    .panel-header {
        line-height: 40px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        .pull-right {
            float: right;
            margin-right: 10px;
        }
    }
    .panel-body {
        padding: 10px;
        min-height: 300px;
        .task-item {
            display: grid;
            grid-template-columns: 1fr 150px 120px;
            text-align: center;
            line-height: 40px;
            .name {
                text-align: left;
                padding-left: 10px;
                .amount {
                    border-radius: 50%;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    overflow: hidden;
                    background-color: #f00;
                    line-height: 20px;
                    text-align: center;
                    color: #fff;
                }
            }
            .actions {
                font-size: 30px;
                a {
                    color: #333;
                }
                .fa-pause-circle {
                    display: none;
                }
                .fa-play-circle {
                    display: inline-block;
                } 
            }
            .desc {
                grid-column: 1/5;
                display: none;
            }
            &.active {
                .name,
                .time,
                .actions {
                    background-color: rgba(#f00, .3);
                    .fa-play-circle {
                        display: none;
                    }
                    .fa-pause-circle {
                        display: inline-block;
                    }
                }
                .desc {
                    display: block;
                }
            }
            &:hover {
                background-color: rgba(#333, .1);
                .time {
                    background-color: rgba(#f00, .1);
                }
            }
        }
    }
}

.chart-box {
    table {
        em {
            font-size: 12px;
            color: #767676;
            display: block;
        }
    }
}

.review-box {
    width: 100%;
    overflow-x: auto;
    .task-item {
        position: absolute;
        word-wrap: none;
        line-height: 30px;
        height: 30px;
        width: 200px;
        border: 1px solid #ccc;
        transition: all 1s;
        border-radius: 2px;
        overflow: hidden;
        cursor: pointer;
        &:nth-child(2n) {
            background-color: #f00;
            color: #fff;
        }
        &:nth-child(2n + 1) {
            background-color: rgb(248, 248, 146);
            color: #333;
        }
        &:hover {
            background-color: aquamarine;
            color: #333;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
    }
    .time-box {
        position: relative;
        height: 600px;
        width: 1200px;
        .time-header {
            height: 100%;
            section {
                height: 100%;
                width: 50px;
                line-height: 30px;
                float: left;
                text-align: center;
                border-right: 1px dotted;
                &:hover {
                    background-color: rgba(#f00, .1);
                }
            }
        }
        .time-body {
            border-top: 1px solid;
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            bottom: 0;
            .task-item {
                position: absolute;
                word-wrap: none;
                line-height: 30px;
                height: 30px;
                border: 1px solid #ccc;
                transition: all 1s;
                border-radius: 2px;
                overflow: hidden;
                cursor: pointer;
                &:nth-child(2n) {
                    background-color: #f00;
                    color: #fff;
                }
                &:nth-child(2n + 1) {
                    background-color: rgb(248, 248, 146);
                    color: #333;
                }
                &:hover {
                    background-color: aquamarine;
                    color: #333;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    .week-box,
    .month-box {
        position: relative;
        height: 600px;
        width: 1400px;
        .week-header,
        .month-header {
            height: 100%;
            section {
                height: 100%;
                width: 200px;
                line-height: 30px;
                float: left;
                text-align: center;
                border-right: 1px dotted;
                &:hover {
                    background-color: rgba(#f00, .1);
                }
            }
        }
        .week-body,
        .month-body {
            border-top: 1px solid;
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            bottom: 0;
            
        }
    }
    .month-box {
        height: 1100px;
        .day-item {
            width: 200px;
            height: 200px;
            float: left;
            position: relative;
            border-bottom: 1px solid;
            .day-label {
                font-size: 60px;
                color: #ccc;
            }
            .day-box {
                position: absolute;
                bottom: 0;
                list-style: none;
                .task-item {
                    position: static;
                }
            }
            &:hover {
                background-color: #fff;
            }
        }
    }
}


.dialog-panel {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 200px;
    background-color: #fff;
    display: none;
    top: 10px;
    right: 10px;
    .dialog-header {
        background: #333;
        color: #fff;
        line-height: 30px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }
    .task-list {
        min-height: 200px;
        overflow-y: auto;
        .task-item {
            line-height: 30px;
            margin: 2px;
            padding-left: 10px;
            cursor: pointer;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            &.active {
                border: 1px solid #f00;
            }
        }
    }
    .btn {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

.dialog-timer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #fff;
    display: none;
    .dialog-body {
        position: absolute;
        top: 20vh;
        text-align: center;
        left: 0;
        right: 0;
        .timer-box {
            font-size: 80px;
        }
        .timer-tip {
            color: #ccc;
        }
    }
    .dialog-footer {
        position: absolute;
        bottom: 30px;
        font-size: 50px;
        text-align: center;
        left: 0;
        right: 0;
        a {
            color: #333;
        }
    }
}