.panel {
    background-color: #fff;
    border: 1px solid #ccc;
    .panel-header {
        line-height: 40px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        .pull-right {
            float: right;
            margin-right: 10px;
        }
    }
    .panel-body {
        padding: 10px;
        min-height: 300px;
        .task-item {
            display: grid;
            grid-template-columns: 1fr 150px 120px;
            text-align: center;
            line-height: 40px;
            .name {
                text-align: left;
                padding-left: 10px;
                .amount {
                    border-radius: 50%;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    overflow: hidden;
                    background-color: #f00;
                    line-height: 20px;
                    text-align: center;
                    color: #fff;
                }
            }
            .actions {
                font-size: 30px;
                a {
                    color: #333;
                }
                .fa-pause-circle {
                    display: none;
                }
                .fa-play-circle {
                    display: inline-block;
                } 
            }
            .desc {
                grid-column: 1/5;
                display: none;
            }
            &.active {
                .name,
                .time,
                .actions {
                    background-color: rgba(#f00, .3);
                    .fa-play-circle {
                        display: none;
                    }
                    .fa-pause-circle {
                        display: inline-block;
                    }
                }
                .desc {
                    display: block;
                }
            }
            &:hover {
                background-color: rgba(#333, .1);
                .time {
                    background-color: rgba(#f00, .1);
                }
            }
        }
    }
}

.dialog-panel {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 200px;
    background-color: #fff;
    display: none;
    top: 10px;
    right: 10px;
    .dialog-header {
        background: #333;
        color: #fff;
        line-height: 30px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }
    .task-list {
        min-height: 200px;
        overflow-y: auto;
        .task-item {
            line-height: 30px;
            margin: 2px;
            padding-left: 10px;
            cursor: pointer;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            &.active {
                border: 1px solid #f00;
            }
        }
    }
    .btn {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}