{@font-awesome.min.css}
{@animate.min.css}
{@zodream.css}
{@cms.css}
{@jquery.min.js}
{@jquery.lazyload.min.js}
{@main.min.js}
{@cms.min.js}
<!DOCTYPE html>
<html lang="{$language,'zh-CN'}">
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width, initial-scale=1">
        <title>{this.title}-{option:title}</title>
        <meta name="Keywords" content="{this.keywords},{option:keywords}" />
        <meta name="Description" content="{this.description},{option:description}" />
        <meta name="author" content="zodream" />
        <base href="{url:./,false}">
        <link rel="icon" href="{option:logo}">
       {header:}
   </head>
   <body>
        <header>
            <div class="container">
                <div class="logo">
                    <a href="{url:/}">
                        <img src="{option:logo}">
                    </a>
                </div>
                <div class="nav-bar">
                    <i class="nav-toggle"></i>
                    <ul>
                        <li>
                            <a href="{url:./}">首页</a>
                        </li>
                        {channels:tree=1 group=nav}
                        <li class="{channelActive:$channel.id,true}">
                            <a href="{url:./category?id=:$channel.id}">{$channel.title}</a>
                            {if:isset($channel.children)}
                            <ul class="sub-menu">
                                {for:$channel.children,$item}
                                <li>
                                    <a href="{url:./category?id=:$item.id}">{$item.title}</a>
                                </li>
                                {/for}
                            </ul>
                            {/if}
                        </li>
                        
                        {/channels}
                    </ul>
                </div>
                
            </div>
        </header>
        {$content}
        <footer>
            <div class="container">
                <div class="copyright">
                    <a href="https://beian.miit.gov.cn/" target="_blank">{option:icp_beian}</a>
                </div>
            </div>
        </footer>
        {footer:}
   </body>
</html>