<div class="right-box">
    {if:isset:$cat}
    <form class="search-input-bar" action="{url:./category/list}" method="GET">
        <input type="text" name="keywords" placeholder="请输入搜索关键字" value="{if:isset($keywords),$keywords}">
        <button type="submit"><i class="fa fa-search"></i></button>
        {searchHidden:}
    </form>
    {/if}
    <div class="panel">
        <div class="header">
            热门新闻
        </div>
        <div class="body">
           <ul>
                {contents:channel=>news,order=>hot,num=>10}
                <li> 
                    <a href="{url:$content}" title="{$content.title}">
                        {$content.title}</a>
                    </li>
                {/contents}
           </ul>
        </div>
    </div>
</div>