{@font-awesome.min.css}
{@animate.min.css}
{@zodream.css}
{@dialog.css}
{@cms-blog.css}
{@jquery.min.js}
{@jquery.lazyload.min.js}
{@jquery.dialog.min.js}
{@main.min.js}
{@cms-blog.min.js}
<!DOCTYPE html>
<html lang="{$language??'zh-CN'}">
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width, initial-scale=1">
        <title>{this.title}-{option:title}</title>
        <meta name="Keywords" content="{this.keywords},{option:keywords}" />
        <meta name="Description" content="{this.description},{option:description}" />
        <meta name="author" content="zodream" />
        <link rel="icon" href="{option:logo}">
       {header:}
       <script>
        var transLangs = {
            reply_title: '{__:Reply Comment}',
            reply_btn: '{__:Reply}',
            comment_title: '{__:Leave A Comment}',
            comment_btn: '{__:Comment}',
        };
       </script>
   </head>
   <body>
        <div class="container">
            <div class="app-wrapper">
                <div class="sidebar-container">
                    <div class="nav-toggle-arrow">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="nav-dialog-mask"></div>
                    <header class="header nav-panel">
                        <div class="nav-brand">
                            <h1>{option:title}</h1>
                            <p>= {option:description} =</p>
                        </div>
                        <ul class="nav-bar">
                            {channels:tree=>1,group=>nav}
                            <li class="{channelActive:$channel.id,true}">
                                <a href="{=channel:$channel,url}">{$channel.title}</a>
                                {if:isset($channel.children)}
                                <ul class="nav-sub-bar">
                                    {for:$channel.children,$item}
                                    <li>
                                        <a href="{=channel:$item,url}">{$item.title}</a>
                                    </li>
                                    {/for}
                                </ul>
                                {/if}
                            </li>
                            {/channels}
                        </ul>
                        <div class="social-bar">
                            <a href="">
                                <i class="fa fa-rss"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="#" class="search-toggle-arrow">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <form class="search-bar" action="{url:./category/list}" method="get">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control"  name="keywords" placeholder="{__:Search any keywords}" value="{if:isset($keywords),$keywords}">
                            {searchHidden:}
                        </form>
                        <div class="copyright">
                            <p>
                                Copyright ©{request.host:}
                            </p>
                        </div>
                    </header>
                </div>
                <div class="main-container">

                    <div class="logo-bar">
                        <img src="{option:logo}" alt="{option:title}">
                    </div>

                    {this.contents:}

                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel">
                                    <div class="panel-header">
                                        <span>{__:About Us}</span>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            {channel:about_us,description}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel">
                                    <div class="panel-header">
                                        <span>{__:Contact Us}</span>
                                    </div>
                                    <div class="panel-body">
                                        {channel:about_us,content}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel">
                                    <div class="panel-header">
                                        <span>{__:Friend Links}</span>
                                    </div>
                                    <div class="panel-body">
                                        {this.node:friend-link}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="copyright">
                            Copyright ©{request.host:}, All Rights Reserved.
                            {$icp_beian=option:icp_beian}
                            {if:$icp_beian}
                            <a href="https://beian.miit.gov.cn/" target="_blank">{$icp_beian}
                            </a>
                            {/if}
                            {$pns_beian=option:pns_beian}
                            {if:$pns_beian}
                            <p>
                                <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode={regex:$pns_beian,'/\d+/'}">
                                    <img src="/assets/images/beian.png" alt="备案图标">
                                    {$pns_beian}
                                </a>
                            </p>
                            {/if}
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        {footer:}
   </body>
</html>