#choose ul li {
    display: inline-block;
    margin: 2px;
}

#choose ul li:hover img,
#choose ul li.active img {
    border: 5px solid cadetblue;
    border-radius: 10px;
}

#choose>div {
    height: 300px;
    overflow-y: auto;
}

#choose ul li img {
    width: 75px;
    height: 75px;
}