.term {
    font-size: 30px;
    text-align: center;
}

.list-item {
    border-bottom: 1px dotted #ccc;
    margin: 5px;
}

.list-group-item.active a,
.list-group-item.active:focus a,
.list-group-item.active:hover a {
    color: #fff;
}

.recommend {
    float: left;
    font-size: 20px;
    font-weight: 700;
    min-width: 50px;
    padding-top: 5px;
    border: 1px solid #456887;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.recommend span:last-child {
    font-size: 12px;
    display: block;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.recommend span:last-child:hover {
    background-color: #39a;
}

.comment-item {
    border: 1px dotted #ccc;
    padding: 1em;
}

.post {
    border: 1px solid #ccc;
    min-height: 100px;
}

.post-head {
    background-color: #ccc;
}

.title {
    font-size: 30px;
    background-color: lightseagreen;
    padding: 5px 10px;
}

.table .thread {
    width: 70%;
    font-size: 20px;
}

#content {
    border: 1px dotted #ccc;
    box-shadow: -2px -2px 2px 2px lightskyblue inset;
    padding: 1em;
    border-radius: 1em;
    min-height: 200px;
}

#plugin {
    text-align: center;
    height: 70px;
}

#title {
    border-bottom: 1px dotted palegreen;
}

.zan {
    border-radius: 50%;
    background-color: orangered;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 40px;
    padding: 5px;
    margin-top: 3em;
    -webkit-transition: background 1s linear 0;
    -moz-transition: background 1s linear 0;
    transition: background 1s linear 0;
}

.zan:hover {
    background: red;
}

.post-item {
    text-align: center;
    margin-top: 30px
}

.post-item img {
    width: 75px;
    height: 75px;
}

.post-item p{
    font-size: 20px;
    color: #333;
    line-height: 30px;
}