.login {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"],
.login button {
    width: 300px;
    box-sizing: content-box;
}

a {
    font-weight: 700;
}

.login input[type="text"].code {
   width: 150px;
   display: inline;;
}

.oauth {
    margin-bottom: 100px;
}

.oauth a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../../images/oauth/oauth.png) no-repeat;
}

.oauth .qq {
    background-position: 0 0;
}

.oauth .weibo {
    background-position: -32px 0;
}

.oauth .baidu {
    background-position: -64px 0;
}

.oauth .weixin {
    background-position: -96px 0;
}

.oauth .renren {
    background-position: -128px 0;
}

.oauth .github {
    background-position: -160px 0;
}

.oauth .zhifubao {
    background-position: -192px 0;
}

.oauth .linkedin {
    background-position: -224px 0;
}

.oauth .facebook {
    background-position: -256px 0;
}

.oauth .google {
    background-position: -288px 0;
}