.input-group {
    .fa-edit {
        display: none;
    }
}
.edit-mode {
    .input-group {
        .fa-edit {
            display: inline-block;
        }
    }
}

.cmd-box {
    overflow-y: auto;
    height: 18.75rem;
    border: 1px solid #777;
    border-radius: 0.3125rem;
    padding: 0.3125rem;
    box-shadow: rgba(100, 100, 100, .3) 0 0 0.625rem inset;
    p {
        line-height: 1.5625rem;
        color: #333;
        word-break: break-all;
    }
}

.tr-child {
    display: none;
    td {
        background-color: white;
        min-height: 1.875rem;
        text-align: left;
        padding: 0.625rem;
        word-break: break-word;
    }
}