.input-group {
    .fa-edit {
        display: none;
    }
}
.edit-mode {
    .input-group {
        .fa-edit {
            display: inline-block;
        }
    }
}

.cmd-box {
    overflow-y: auto;
    height: 300px;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(100, 100, 100, .3) 0 0 10px inset;
    p {
        line-height: 25px;
        color: #333;
        word-break: break-all;
    }
}

.tr-child {
    display: none;
    td {
        background-color: white;
        min-height: 30px;
        text-align: left;
        padding: 10px;
        word-break: break-word;
    }
}