$headerBg: #05a6b1;
$white: #fff;
$hr: 1px solid #ccc;
$bg: #f4f4f4;
$red: #d22222;

@mixin lineItem() {
    .line-item {
        position: relative;
        line-height: 1.875rem;
        .fa {
            position: absolute; 
            right: 0.3125rem;
            top: 0.4375rem;
        }
        span {
            &:nth-child(2) {
                float: right;
                margin-right: 1.25rem;
            }
        }
    }
}

@mixin menuA() {
    display: block;
    padding: 0.625rem;
    background: $white;
    margin-top: 0.125rem;
    .fa:nth-child(2),
    .fa-chevron-right {
        float: right;
        margin-right: 0.625rem;
        line-height: 20px;
    }
}