@import "mixin";

a {
    text-decoration: none;
}

header,
.header {
    width: 100%;
    height: 2.75rem;
    border-bottom: 0.0625rem solid #e1e1e1;
    .brand {
        width: 20%;
        font-size: 1.875rem;
        margin-left: 0.625rem;
        float: left;
    }
    .search {
        height: 1.875rem;
        width: 90%;
        margin: 0.1875rem auto 0;
        .fa {
            position: absolute;
            margin-top: 0.625rem;
            margin-left: 0.3125rem;
            z-index: 99;
        }
        input {
            margin-top: 0.125rem;
            width: 100%;
            font-size: 1.25rem;
            border: 1px solid #333;
            padding: 0.25rem 0 0.25rem 1.25rem;
            box-sizing: border-box;
            background: transparent;
        }
    }
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #05a6b1;
    color: #fff;
    text-align: center;
    z-index: 9999;
    border: 0;
    .back,
    .right,
    .btn {
        top: 50%;
        margin-top: -1rem;
        font-size: 1.5625rem;
        color: #fff;
    }
    .back {
        position: absolute;
        left: 0.625rem;
        
    }
    .btn {
        position: absolute;
        right: 0;
        margin: 0;
        line-height: 2.75rem;
        top: 0;
        padding: 0 0.3125rem;
    }
    .right {
        position: absolute;
        right: 0.625rem;
    }
    .title {
        line-height: 2.75rem;
    }
    .top-tab {
        a {
            color: #fff;
            line-height: 3.125rem;
            padding: 0 0.3125rem;
            &.active {
                color: #f00;
            }
        }
    }
}

.checkout-footer,
.cart-footer,
.fixed-footer,
footer,
.footer {
    position: fixed;
    bottom:  0;
    left: 0;
    width: 100%;
    z-index: 99;
}

footer,
.footer {
    height: 3rem;
    background: #fff;
    border: 0.0625rem solid #e1e1e1;
    a,
    .item {
        width: 25%;
        text-align: center;
        display: block;
        float: left;
        padding-top: 0.25rem;
        box-sizing: border-box;
        position: relative;
        font-size: .9rem;
        text-decoration: none;
        .tip {
            display: block;
            position: absolute;
            right: 1.875rem;
            top: 0;
            width: 1rem;
            height: 1rem;
            color: #fff;
            background: #e1454b;
            font-size: 0.625rem;
        }
        &.active {
            color: #4693d0;
        }
        .fa {
            font-size: 1.5rem;
            display: block;
        }
    }
    &.comment {
        background: rgba(23,12,23,.7);
        a {
            width: 100%;
            text-align: center;
        }
    }
    &.goods-navbar {
        a {
            width: 14%;
            margin: 0;
            &.btn {
                width: 29%;
                padding: 0;
                text-align: center;
                line-height: 3.125rem;
                &.btn-orange {
                    background: #ff9600;
                }
            }
        }
    }
}

.has-header {
    margin-top: 2.75rem;
}
.has-footer {
    margin-bottom: 3.125rem;
}

.banner {
    .slider {
        .slider-point {
            li {
                span {
                    display: none;
                }
            }
        }
    }
}

.goods-list {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 0.9375rem;
    text-align: center;
    .item-view {
        position: relative;
        display: block;
        float: left;
        width: 50%;
        max-width: 50%;
        box-sizing: border-box;
        .item-img {
            img {
                
            }
        }
        .item-title {
            display: block;
            width: 100%;
            height: 1.5rem;
            text-align: center;
            color: #404245;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 2rem;
            overflow: hidden;
        }
        .item-actions {
            .item-price {
                color: #e1454b;
            }
            .item-btn {
                
            }
        }
    }
}

.swipe-box {
    overflow: hidden;
    .swipe-row {
        width: 100%;
        position: relative;
        height: 5rem; 
        padding: 0;
        margin: 0;
        transition: left .5s;
        .swipe-content {
            width: 100%;
            display: block;
            height: 5rem;
        }
        .actions-left,
        .actions-right {
            position: absolute;
            height: 5rem; 
            min-height: 5rem;
            max-height: 5rem;
            text-align: center;
            font-size: 1.375rem;
            top: 0;
            white-space: nowrap;
            .fa {
                font-size: 1.875rem;
                padding: 1.5625rem 0.9375rem;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .actions-left {
            color: #FFF;
            background-color: rgb(0, 187, 72);
            right: 100%;
        }
        .actions-right {
            color: #FFF;
            background-color: #BB0000;
            left: 100%;
        }
    }
    &.goods-list {
        text-align: left;
        .goods-item {
            .goods-img {
                display: inline-block;
                img {
                    width: 5rem;
                }
            }
            .goods-info {
                display: inline-block;
                height: 5rem;
                vertical-align: top;
                overflow: hidden;
            }
        }
    }
}

.menu-box {
    position: relative;
    display: block;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: #e2e2e2 0.0625rem solid;
    .menu-item {
        position: relative;
        float: left;
        display: block;
        width: 20%;
        border: none;
        box-sizing: border-box;
        padding: 0.75rem 0;
        text-decoration: none;
        .menu-icon {
            display: block;
            width: 2.75rem;
            height: 2.75rem;
            margin: 0 auto;
            overflow: hidden;
        }
        .menu-name {
            display: block;
            width: 100%;
            height: 1.5rem;
            line-height: 1.5rem;
            box-sizing: border-box;
            border: none;
            overflow: hidden;
            color: #404245;
            font-size: 0.875rem;
            font-weight: normal;
            text-align: center;
            margin-top: 0.25rem;
        }
    }
}

.category-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    border-right: #e2e2e2 0.0625rem solid;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 3.125rem 0 3.125rem;
    .menu-item {
        display: block;
        width: 100%;
        height: 3.75rem;
        color: #404245;
        font-size: 1rem;
        font-weight: normal;
        line-height: 3.75rem;
        text-align: center;
        box-sizing: border-box;
        border-bottom: #e2e2e2 0.0625rem solid;
        &.active {
            border-left: #55595f 0.25rem solid;
            background-color: #ffffff;
        }
    }
}

.check-box {
    &::before {
        content: "\f10c";
    }
    &.active {
        &::before {
            content: "\f058";
        }  
    }
}

.toggle-box {
    &::before {
        content: "\f204";
    }
    &.active {
        &::before {
            content: "\f205";
        }  
    }
}

.number-box {
    input {
        width: 3.125rem;
        text-align: center;
        border: none;
    }
}

.cart-box {
    .goods-list {
        .goods-item {
            position: relative;
            .check-box {
                font-size: 1.875rem;
                width: 3.125rem;
                text-align: center;
                position: relative;
                top: -2.1875rem;
            }
            .number-box {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.cart-footer {
    bottom: 3rem;
    .check-box {
        font-size: 1.875rem;
        width: 3.125rem;
        text-align: center;
    }
    span {
        line-height: 1.875rem;
    }
    .cart-amount {
        float: right;
        .btn {
            margin-right: 0;
        }
    }
}

.checkout-box,
.order-box {
    .goods-list {
        text-align: left;
        .goods-item {
            position: relative;
            .goods-img {
                display: inline-block;
                img {
                    width: 5rem;
                }
            }
            .goods-info {
                display: inline-block;
                height: 5rem;
                vertical-align: top;
                overflow: hidden;
                .amount {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

.checkout-box {
    .address-box {
        padding: 0 3.75rem;
        position: relative;
        border-bottom: 0.0625rem solid;
        .fa {
            position: absolute;
            font-size: 2.5rem;
            top: 0.75rem;
            &.fa-map-marker {
                left: 1.1875rem;
            }
            &.fa-chevron-right {
                right: 0.3125rem;
            }
        }
        .name {
            font-size: 1.875rem;
        }
        .tel {
            
        }
        .default {
            background: #f00;
            color: #fff;
            padding: 0.125rem 0.4375rem;
        }
        &.empty-address {
            height: 3.875rem;
            h3 {
                line-height: 3.875rem;
            }
        }
    }

    @include lineItem();
    .shipping-box,
    .payment-box {
        border-bottom: 0.0625rem solid;
        line-height: 2rem;
        .dialog-select-input {
            border: none;
            line-height: 2rem;
            height: 2rem;
        }
    }
}

.checkout-footer {
    text-align: right;
    border-top: 0.0625rem solid #ff77ff;
    .btn {
        margin: 0 0 0 0.3125rem;
    }
}

.goods-gallary-box {
    img {
        height: 22.5rem;
        max-width: 100%;
    }
}

.goods-info {
    .goods-header {
        position: relative;
        .goods-name {
            margin-right: 3.125rem;
            line-height: 3.125rem;
        }
        .goods-collect {
            position: absolute;
            top: 0;
            right: 0;
            width: 3.125rem;
            height: 3.125rem;
            text-align: center;
            .fa-like {
                display: block;
                &::before {
                    content: "\f08a";
                }
            }
            &.active {
                .fa-like {
                    &::before {
                        content: "\f004";
                    }
                }
            }
        }
    }
}

.comment-box {
    .comment-header {
        position: relative;
        .fa {
            position: absolute;
            right: 0;
        }
    }

    .comment-more {
        text-align: center;
        display: block;
    }
}

.recomment-box {
    .goods-list {
        .item-view {
            width: 33%
        }
    }
}

.tab-box.goods-content {
    .tab-item {
        width: 33%;
    }
}

.user-header {
    position: relative;
    padding-top: 1.5625rem;
    padding-bottom: 1.875rem;
    background: #00E0F2;
    .avatar {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0 auto;
        text-align: center;
        line-height: 0;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        &::after {
            content: "";
            width: 6.25rem;
            height: 6.25rem;
            border: 0.125rem solid #99e3ff;
            border-radius: 100%;
            position: absolute;
            left: -0.3125rem;
            top: -0.3125rem;
            z-index: 0;
        }
    }
    .name {
        text-align: center;
        padding-top: 0.625rem;
    }
}

.menu-grid {
    .item {
        border-right: 0.0625rem dotted #4693d0;
        width: 20%;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        line-height: 1.875rem;
        &:nth-child(5n) {
            border: 0;
        }
    }
}
.menu-large {
    .item {
        width: 50%;
        display: inline-block;
        border-right: 0.0625rem dotted #4693d0;
        border-top: 0.0625rem dotted #4693d0;
        height: 4.375rem;
        text-align: center;
        .fa {
            font-size: 3.125rem;
            margin-top: 0.625rem;
        }
        &:nth-child(even) {
            border-right: 0;
        }
        &:first-child,
        &:nth-child(2) {
            border-top: 0;
        }
    }
}

.menu-panel {
    .panel-header {
        @include menuA();
    }
    .panel-body {
        a {
            width: 25%;
            display: inline-block;
            border-right: 0.0625rem dotted #4693d0;
            text-align: center;
            .menu-item-icon {
                font-size: 3.125rem;
                display: block;
            }
            &:last-child {
                border-right: 0; 
            }
        }
    }
}



.menu-list {
    a {
        @include menuA();
    }
}

.profile-box {
    margin-bottom: 2rem;
    @include lineItem();
    .avatar-item {
        line-height: 3rem;
        .fa {
            top: 1rem;
        }
    }
}

.btn {
    &.del-btn {
        margin: 0.875rem;
        box-sizing: border-box;
        padding: 0.375rem;
        display: block;
        text-align: center;
    }
}

.share-box {
    text-align: center;
}

.form-inline {
    .input-group {
        input {
            width: 100%;
        }
        span {
            line-height: 1.875rem;
        }
        textarea {
            width: 100%;
            height: 5rem;
        }
    }
    .input-radio {
        line-height: 1.875rem;
        position: relative;
        .fa {
            position: absolute;
            right: 0.625rem;
            font-size: 1.5625rem;
            top: 0.125rem;
        }
    }
}

.fixed-footer {
    .btn {
        width: 80%;
        margin: 0 10%;
    }
}

.address-list {
    .address-item {
        position: relative;
        .address-first {
            position: absolute;
            top: 0.9375rem;
            left: 0.3125rem;
            width: 3.125rem;
            height: 3.125rem;
            line-height: 3.125rem;
            border-radius: 50%;
            background: #333;
            color: #fff;
            text-align: center;
        }
        .address-info {
            margin-left: 3.75rem;
            .name {
                font-size: 1.875rem;
            }
            .tel {
                
            }
            .default {
                background: #f00;
                color: #fff;
                padding: 0.125rem 0.4375rem;
            }
        }
    }
}


.order-header {
    a {
        display: inline-block;
        line-height: 1.875rem;
        width: 15%;
        text-align: center;
        &.active {
            border-bottom: 0.125rem solid;
        }
    }
}

.order-box {
    .order-item {
        .order-header {
            .status {
                float: right;
            }
        }
        .order-amount,
        .order-footer {
            text-align: right;
        }
    }
}