a {
    text-decoration: none;
}

header,
.header {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e1e1e1;
    .brand {
        width: 20%;
        font-size: 30px;
        margin-left: 10px;
        float: left;
    }
    .search {
        height: 30px;
        width: 90%;
        margin: 3px auto 0;
        .fa {
            position: absolute;
            margin-top: 10px;
            margin-left: 5px;
            z-index: 99;
        }
        input {
            margin-top: 2px;
            width: 100%;
            font-size: 20px;
            border: 1px solid #333;
            padding: 4px 0 4px 20px;
            box-sizing: border-box;
            background: transparent;
        }
    }
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #05a6b1;
    color: #fff;
    text-align: center;
    z-index: 9999;
    border: 0;
    .back,
    .right,
    .btn {
        top: 50%;
        margin-top: -16px;
        font-size: 25px;
        color: #fff;
    }
    .back {
        position: absolute;
        left: 10px;
        
    }
    .btn {
        position: absolute;
        right: 0;
        margin: 0;
        line-height: 44px;
        top: 0;
        padding: 0 5px;
    }
    .right {
        position: absolute;
        right: 10px;
    }
    .title {
        line-height: 44px;
    }
    .top-tab {
        a {
            color: #fff;
            line-height: 50px;
            padding: 0 5px;
            &.active {
                color: #f00;
            }
        }
    }
}

.checkout-footer,
.cart-footer,
.fixed-footer,
footer,
.footer {
    position: fixed;
    bottom:  0;
    left: 0;
    width: 100%;
    z-index: 99;
}

footer,
.footer {
    height: 48px;
    background: #fff;
    border: 1px solid #e1e1e1;
    a,
    .item {
        width: 25%;
        text-align: center;
        display: block;
        float: left;
        padding-top: 4px;
        box-sizing: border-box;
        position: relative;
        font-size: .9rem;
        text-decoration: none;
        .tip {
            display: block;
            position: absolute;
            right: 30px;
            top: 0px;
            width: 16px;
            height: 16px;
            color: #fff;
            background: #e1454b;
            font-size: 10px;
        }
        &.active {
            color: #4693d0;
        }
        .fa {
            font-size: 1.5rem;
            display: block;
        }
    }
    &.comment {
        background: rgba(23,12,23,.7);
        a {
            width: 100%;
            text-align: center;
        }
    }
    &.goods-navbar {
        a {
            width: 14%;
            margin: 0;
            &.btn {
                width: 29%;
                padding: 0;
                text-align: center;
                line-height: 50px;
                &.btn-orange {
                    background: #ff9600;
                }
            }
        }
    }
}

.has-header {
    margin-top: 44px;
}
.has-footer {
    margin-bottom: 50px;
}

.goods-list {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    text-align: center;
    .item-view {
        position: relative;
        display: block;
        float: left;
        width: 50%;
        max-width: 50%;
        box-sizing: border-box;
        .item-img {
            img {
                
            }
        }
        .item-title {
            display: block;
            width: 100%;
            height: 24px;
            text-align: center;
            color: #404245;
            font-size: 13px;
            font-weight: normal;
            line-height: 32px;
            overflow: hidden;
        }
        .item-actions {
            .item-price {
                color: #e1454b;
            }
            .item-btn {
                
            }
        }
    }
}

.swipe-box {
    overflow: hidden;
    .swipe-row {
        width: 100%;
        position: relative;
        height: 80px; 
        padding: 0;
        margin: 0;
        transition: left .5s;
        .swipe-content {
            width: 100%;
            display: block;
            height: 80px;
        }
        .actions-left,
        .actions-right {
            position: absolute;
            height: 80px; 
            min-height: 80px;
            max-height: 80px;
            text-align: center;
            font-size: 22px;
            top: 0;
            white-space: nowrap;
            .fa {
                font-size: 30px;
                padding: 25px 15px;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .actions-left {
            color: #FFF;
            background-color: rgb(0, 187, 72);
            right: 100%;
        }
        .actions-right {
            color: #FFF;
            background-color: #BB0000;
            left: 100%;
        }
    }
    &.goods-list {
        text-align: left;
        .goods-item {
            .goods-img {
                display: inline-block;
                img {
                    width: 80px;
                }
            }
            .goods-info {
                display: inline-block;
                height: 80px;
                vertical-align: top;
                overflow: hidden;
            }
        }
    }
}

.menu-box {
    position: relative;
    display: block;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: #e2e2e2 1px solid;
    .menu-item {
        position: relative;
        float: left;
        display: block;
        width: 20%;
        border: none;
        box-sizing: border-box;
        padding: 12px 0;
        text-decoration: none;
        .menu-icon {
            display: block;
            width: 44px;
            height: 44px;
            margin: 0 auto;
            overflow: hidden;
        }
        .menu-name {
            display: block;
            width: 100%;
            height: 24px;
            line-height: 24px;
            box-sizing: border-box;
            border: none;
            overflow: hidden;
            color: #404245;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            margin-top: 4px;
        }
    }
}

.category-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    border-right: #e2e2e2 1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 50px 0 50px;
    .menu-item {
        display: block;
        width: 100%;
        height: 60px;
        color: #404245;
        font-size: 16px;
        font-weight: normal;
        line-height: 60px;
        text-align: center;
        box-sizing: border-box;
        border-bottom: #e2e2e2 1px solid;
        &.active {
            border-left: #55595f 4px solid;
            background-color: #ffffff;
        }
    }
}

.check-box {
    &::before {
        content: "\f10c";
    }
    &.active {
        &::before {
            content: "\f058";
        }  
    }
}

.toggle-box {
    &::before {
        content: "\f204";
    }
    &.active {
        &::before {
            content: "\f205";
        }  
    }
}

.number-box {
    input {
        width: 50px;
        text-align: center;
        border: none;
    }
}

.cart-box {
    .goods-list {
        .goods-item {
            position: relative;
            .check-box {
                font-size: 30px;
                width: 50px;
                text-align: center;
                position: relative;
                top: -35px;
            }
            .number-box {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.cart-footer {
    bottom: 48px;
    .check-box {
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
    span {
        line-height: 30px;
    }
    .cart-amount {
        float: right;
        .btn {
            margin-right: 0;
        }
    }
}

.checkout-box,
.order-box {
    .goods-list {
        text-align: left;
        .goods-item {
            position: relative;
            .goods-img {
                display: inline-block;
                img {
                    width: 80px;
                }
            }
            .goods-info {
                display: inline-block;
                height: 80px;
                vertical-align: top;
                overflow: hidden;
                .amount {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

.checkout-box {
    .address-box {
        padding: 0 60px;
        position: relative;
        border-bottom: 1px solid;
        .fa {
            position: absolute;
            font-size: 40px;
            top: 12px;
            &.fa-map-marker {
                left: 19px;
            }
            &.fa-chevron-right {
                right: 5px;
            }
        }
        .name {
            font-size: 30px;
        }
        .tel {
            
        }
        .default {
            background: #f00;
            color: #fff;
            padding: 2px 7px;
        }
    }

    .line-item {
        position: relative;
        line-height: 30px;
        
        .fa {
            position: absolute; 
            right: 5px;
            top: 7px;
        }
        span {
            &:nth-child(2) {
                float: right;
                margin-right: 20px;
            }
        }
    }
    .shipping-box,
    .payment-box {
        border-bottom: 1px solid;
    }
}

.checkout-footer {
    text-align: right;
    border-top: 1px solid #ff77ff;
    .btn {
        margin: 0 0 0 5px;
    }
}

.goods-gallary-box {
    img {
        height: 360px;
        max-width: 100%;
    }
}

.goods-info {
    .goods-header {
        position: relative;
        .goods-name {
            margin-right: 50px;
            line-height: 50px;
        }
        .goods-collect {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            text-align: center;
            .fa-like {
                display: block;
                &::before {
                    content: "\f08a";
                }
            }
            &.active {
                .fa-like {
                    &::before {
                        content: "\f004";
                    }
                }
            }
        }
    }
}

.comment-box {
    .comment-header {
        position: relative;
        .fa {
            position: absolute;
            right: 0;
        }
    }

    .comment-more {
        text-align: center;
        display: block;
    }
}

.recomment-box {
    .goods-list {
        .item-view {
            width: 33%
        }
    }
}

.tab-box.goods-content {
    .tab-item {
        width: 33%;
    }
}

.user-header {
    position: relative;
    padding-top: 25px;
    padding-bottom: 30px;
    background: #00E0F2;
    .avatar {
        width: 90px;
        height: 90px;
        margin: 0px auto;
        text-align: center;
        line-height: 0;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        &::after {
            content: "";
            width: 100px;
            height: 100px;
            border: 2px solid #99e3ff;
            border-radius: 100%;
            position: absolute;
            left: -5px;
            top: -5px;
            z-index: 0;
        }
    }
    .name {
        text-align: center;
        padding-top: 10px;
    }
}

.menu-grid {
    .item {
        border-right: 1px dotted #4693d0;
        width: 20%;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        line-height: 30px;
        &:nth-child(5n) {
            border: 0;
        }
    }
}
.menu-large {
    .item {
        width: 50%;
        display: inline-block;
        border-right: 1px dotted #4693d0;
        border-top: 1px dotted #4693d0;
        height: 70px;
        text-align: center;
        .fa {
            font-size: 50px;
            margin-top: 10px;
        }
        &:nth-child(even) {
            border-right: 0;
        }
        &:first-child,
        &:nth-child(2) {
            border-top: 0;
        }
    }
}



.menu-list {
    a {
        display: block;
        padding: 10px;
        background: #99e3ff;
        margin-top: 2px;
        .fa:nth-child(2) {
            float: right;
            margin-right: 10px;
        }
    }
}

.form-inline {
    .input-group {
        input {
            width: 100%;
        }
        span {
            line-height: 30px;
        }
        textarea {
            width: 100%;
            height: 80px;
        }
    }
    .input-radio {
        line-height: 30px;
        position: relative;
        .fa {
            position: absolute;
            right: 10px;
            font-size: 25px;
            top: 2px;
        }
    }
}

.fixed-footer {
    .btn {
        width: 80%;
        margin: 0 10%;
    }
}

.address-list {
    .address-item {
        position: relative;
        .address-first {
            position: absolute;
            top: 15px;
            left: 5px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            background: #333;
            color: #fff;
            text-align: center;
        }
        .address-info {
            margin-left: 60px;
            .name {
                font-size: 30px;
            }
            .tel {
                
            }
            .default {
                background: #f00;
                color: #fff;
                padding: 2px 7px;
            }
        }
    }
}


.order-header {
    a {
        display: inline-block;
        line-height: 30px;
        width: 15%;
        text-align: center;
        &.active {
            border-bottom: 2px solid;
        }
    }
}

.order-box {
    .order-item {
        .order-header {
            .status {
                float: right;
            }
        }
        .order-amount,
        .order-footer {
            text-align: right;
        }
    }
}