* {
    &::-webkit-scrollbar{
        height:6px;
        width:6px;
        margin-right:5px;
        background: #f5f5f5;
        transition:all 0.3s ease-in-out;
        border-radius:0px
    }
    &::-webkit-scrollbar-track { 
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb{
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: rgba(0,0,0,0.5); 
        &:hover{
            background:rgba(0,0,0,0.6);
        }
        &:active{
            background:rgba(0,0,0,0.8);
        }
        &:window-inactive {
            background: rgba(0,0,0,0.4);
        }
    }
}

.page-header {
    height: 30px;
    background: transparent;
    .actions {
        right: 20px;
        button {
            background: #000;
            color: #fff;
            line-height: 30px;
            padding: 0 8px;
            margin: 0;
            border: none;
            &.active {
                background: #888;
            }
        }
    }
}

.checkbox {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    &:before {
        content: "\f096";
    }
    &.checked {
        &:before {
            content: "\f046";
        }
    }
}

.table-header {
    background: #333;
    color: #fff;
    line-height: 40px;
    span {
        line-height: 40px;
    }
    .btn {
        padding: 0 10px;
    }
}

.table-body {
    .row {
        line-height: 30px;
        .row-tools {
            display: none;
        }
        .share_time {
            .hover-hide {
                font-size: 12px;
            }
        }
        &:hover {
            background: rgba(0, 0, 0, .1);
            .row-tools {
                display: block;
            }
            .hover-hide {
                display: none;
            }
        }
        .row-edit {
            display: none;
            width: 80%;
            input {
                height: 30px;
                width: 80%;
            }
        }
        .row-editable {
            .row-name {
                display: none;
            }
            .row-edit {
                display: inline-block;
            }
        }
    }
}

.grid-box {
    .col-md-2 {
        box-sizing: border-box;
        .file-icon {
            position: relative;
            text-align: center;
            .checkbox {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
            .fa {
                font-size: 60px;
                line-height: 90px;
            }
        }
        .row-name {
            display: block;
            padding: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
            text-align: center;
        }
        &.active,
        &:hover {
            border: 1px solid;
            .checkbox {
                display: block;
            }
        }
        
    }
    
}

.crumb-box {
    .col-xs-2 {
        text-align: right;
        padding: 8px 15px;
    }
}

.dropdown {
    position: relative;
    background: #000;
    color: #fff;
    display: inline-block;
    .dropdown-menu {
        display: none;
        position: absolute;
        background: #888;
        color: #fff;
        width: 100%;
        z-index: 99;
        text-align: center;
        line-height: 30px;
        li {
            list-style: none;
            a {
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                background: #333;
            }
        }
    }
    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}

.dialog.dialog-box {
    .dialog-body {
        &.zd-tab {
            padding: 0;
            .zd-tab-head {

            }
            .zd-tab-body {
                margin-top: 10px;
                .form-control {
                    font-size: 20px;
                    width: 100%;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid #333;
                    padding: 5px;
                }
            }
        }
        
        .row {
            margin: 0;
        }
    }
}

#shareModal {
    width: 600px;
}

.dialog.dialog-box.upload-dialog {
    right: 0;
    bottom: 0;
    width: 50%;
    .dialog-body {
        .file-box {
            max-height: 200px;
            overflow-y: auto;
            .row {
                &:hover {
                    background: rgba(0, 0, 0, .1);
                }
            }
        }
    }
    &.max {
        display: block;
    }
    &.min {
        height: 40px;
        width: 100px;
        display: block;
    }
}

.tree-box {
    .tree-item {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        >span {
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            vertical-align: middle;
            &:first-child,
            &:nth-child(2), {
                display: inline-block;
                width: 20px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }
            &:first-child {
                &:before {
                    content: "\f054";
                }
            }
            &:nth-child(2) {
                &:before {
                    content: "\f07b";
                }
            }
        }
        &:hover {
            background: #f4f9fd;
            border-color: #e5f0fb;
        }
    }
    li {
        list-style: none;
        ul{
            display: none;
        }
        &.open {
            >ul {
                display: block;
            }
            >.tree-item {
                >span {
                    &:first-child {
                        &:before {
                            content: "\f078";
                        }
                    }
                    &:nth-child(2) {
                        &:before {
                            content: "\f07c";
                        }
                    }
                }
                &.empty {
                    >span {
                        &:first-child {
                            &:before {
                                content: " ";
                            }
                        }
                        &:nth-child(2) {
                            &:before {
                                content: "\f07b";
                            }
                        }
                    }
                }
            }
        }
        &.active {
            >.tree-item {
                background: #e5f0fb;
                border-color: #BBD4EF #fff;
            }
        }
    }
}