.bread {
    .bread-item {
        display: inline-block;
        line-height: 2.5rem;
        background: #777;
        color: #fff;
        padding: 0 .625rem;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border: 1.25rem solid transparent;
            right: -2.5rem;
            margin-top: -1.25rem;
            top: 50%;
            border-left-color: #777;
            z-index: 99;
        }
    }
}