@use 'theme';
@use 'sizes';

@mixin make-button($name, $bg, $hover, $color) {
    .btn-#{$name} {
        --#{theme.$prefix}-btn: #{$bg};
        --#{theme.$prefix}-btn-text: #{$color};
        --#{theme.$prefix}-btn-hover: #{$hover};
        --#{theme.$prefix}-btn-border: #{$hover};
    }
    .btn-outline-#{$name} {
        --#{theme.$prefix}-btn: transparent;
        --#{theme.$prefix}-btn-text: #{$bg};
        --#{theme.$prefix}-btn-hover-text: #{$color};
        --#{theme.$prefix}-btn-hover: #{$bg};
        --#{theme.$prefix}-btn-border: #{$bg};
        border: 1px solid var(--#{theme.$prefix}-btn-border);
    }
}




.btn {
    --#{theme.$prefix}-btn: var(--#{theme.$prefix}-primary);
    --#{theme.$prefix}-btn-text: var(--#{theme.$prefix}-primary-text);
    --#{theme.$prefix}-btn-hover: var(--#{theme.$prefix}-primary-hover);
    --#{theme.$prefix}-btn-border: var(--#{theme.$prefix}-primary-active);
    --#{theme.$prefix}-btn-hover-text: var(--#{theme.$prefix}-btn-text);
    padding: sizes.$inputPadding;
    background: var(--#{theme.$prefix}-btn);
    color: var(--#{theme.$prefix}-btn-text);
    border: none;
    border-color: var(--#{theme.$prefix}-btn-border);
    display: inline-block;
    text-decoration: none;
    line-height: sizes.$inputLineHeight;
    margin: 0 0.5rem;
    vertical-align:middle;
    border-radius: sizes.$formRadius;
    &.btn-full {
        width: 100%;
        margin: 0;
    }
    &:hover {
        background: var(--#{theme.$prefix}-btn-hover);
        color: var(--#{theme.$prefix}-btn-hover-text);
    }
}

@include make-button(default, var(--#{theme.$prefix}-primary), var(--#{theme.$prefix}-primary-hover), var(--#{theme.$prefix}-primary-text));


@each $color, $value in theme.$theme-colors {
    @include make-button(
        $color, 
        $value, 
        shade-color($value, theme.$colorHoverOffset), 
        #fff
    );
}

.btn-group {
    display: inline-flex;
    .btn {
        border-radius: 0;
        margin: 0;
        &:first-child {
            border-top-left-radius: sizes.$formRadius;
            border-bottom-left-radius: sizes.$formRadius;
        }
        &:last-child {
            border-top-right-radius: sizes.$formRadius;
            border-bottom-right-radius: sizes.$formRadius;
        }
    }
}

.toggle-icon-text {
    span {
        display: none;
    }
    i {
        display: inline-block;
    }
}

@media (min-width: 48rem) {
    .toggle-icon-text {
        span {
            display: inline-block;
        }
        i {
            display: none;
        }
    }
}