@use 'theme';
@use 'sizes';
@use 'functions';
@use 'colors';

@mixin make-button($name, $bg, $hover, $color) {
    .btn-#{$name} {
        --#{theme.$prefix}btn: #{$bg};
        --#{theme.$prefix}btn-text: #{$color};
        --#{theme.$prefix}btn-hover: #{$hover};
        --#{theme.$prefix}btn-border: #{$hover};
    }
    .btn-outline-#{$name} {
        --#{theme.$prefix}btn: transparent;
        --#{theme.$prefix}btn-text: #{$bg};
        --#{theme.$prefix}btn-hover-text: #{$color};
        --#{theme.$prefix}btn-hover: #{$bg};
        --#{theme.$prefix}btn-border: #{$bg};
        border: 1px solid var(--#{theme.$prefix}btn-border);
    }
}




.btn {
    --#{theme.$prefix}btn: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}btn-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}btn-hover: var(--#{theme.$prefix}surface-hovered);
    --#{theme.$prefix}btn-border: var(--#{theme.$prefix}surface-selected);
    --#{theme.$prefix}btn-hover-text: var(--#{theme.$prefix}btn-text);
    padding: sizes.$input-padding;
    background-color: var(--#{theme.$prefix}btn);
    color: var(--#{theme.$prefix}btn-text);
    border: none;
    border-color: var(--#{theme.$prefix}btn-border);
    display: inline-block;
    text-decoration: none;
    line-height: sizes.$input-line-height;
    margin: 0 0.5rem;
    vertical-align:middle;
    border-radius: sizes.$form-radius;
    &.btn-full {
        width: 100%;
        margin: 0;
    }
    &:hover {
        background-color: var(--#{theme.$prefix}btn-hover);
        color: var(--#{theme.$prefix}btn-hover-text);
    }
}

@include make-button(default, var(--#{theme.$prefix}surface), var(--#{theme.$prefix}surface-hovered), var(--#{theme.$prefix}surface-text));


@each $color, $value in colors.$theme-colors {
    @include make-button(
        $color, 
        $value, 
        functions.shade-color($value, colors.$color-hover-offset), 
        #fff
    );
}

.btn-group {
    display: inline-flex;
    .btn {
        border-radius: 0;
        margin: 0;
        &:first-child {
            border-top-left-radius: sizes.$form-radius;
            border-bottom-left-radius: sizes.$form-radius;
        }
        &:last-child {
            border-top-right-radius: sizes.$form-radius;
            border-bottom-right-radius: sizes.$form-radius;
        }
    }
}

.toggle-icon-text {
    span {
        display: none;
    }
    i {
        display: inline-block;
    }
}

@media (min-width: 48rem) {
    .toggle-icon-text {
        span {
            display: inline-block;
        }
        i {
            display: none;
        }
    }
}