// 放一些常规颜色值

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$theme-colors: (
    'primary':    $blue,
    'secondary':  $gray-600,
    'success':    $green,
    'info':       $cyan,
    'warning':    $yellow,
    'danger':     $red,
    'light':      $gray-100,
    'dark':       $gray-900
) !default;

$theme-colors-text: (
  'primary': $white,
  'secondary': $gray-200,
  'success': $white,
  'info': $white,
  'warning': $white,
  'danger': $white,
  'light': $gray-700,
  'dark': $gray-700,
) !default;

$color-hover-offset: 12%; // Hover 颜色加深程度
$color-active-offset: 20%; // 点击后 颜色加深程度


