@use 'theme';
@use 'sizes';
@use 'button';
@use 'input';


.form-ico {
    .form-control {
        border-radius: 0;
        padding-left: sizes.$line-height;
        width: 100%;
        box-sizing: border-box;
    }
    .input-group {
        position: relative;
        line-height: sizes.$line-height;
        .fa {
            position: absolute;
            left: .8rem;
            top: .6rem;
            color: var(--#{theme.$prefix}secondary-text);
        }
        &.is-invalid {
            .fa {
                color: theme.$invalid;
            }
        }
    }
}


.checkbox {
    position: relative;
    display: inline-block;
    width: sizes.$line-height;
    height: sizes.$line-height;
    input[type=checkbox] {
        visibility: hidden;
        &:checked {
            &+label {
                &::before {
                    content: "\f14a";
                    color:  var(--#{theme.$prefix}primary);
                }
            }
        }
    }
    label {
        &::before {
            font-family: "Font Awesome 5 Free";
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f0c8";
            position: absolute;
            left: 0.625rem;
            top: 0;
        }
    }
}

$toggleHeight: sizes.$line-height * .8;

.check-toggle {
    input[type=checkbox] {
        display: none;
        &:checked {
            &+label {
                &::before {
                    left: $toggleHeight;
                }
                &::after {
                    background-color: var(--#{theme.$prefix}primary);
                    box-shadow: 0 0 1px var(--#{theme.$prefix}primary);
                }
            }
        }
    }
    label {
        cursor: pointer;
        border-color: var(--#{theme.$prefix}border);
        background-color: var(--#{theme.$prefix}body);
        border-radius: 3.125rem;
        display: inline-block;
        position: relative;
        margin-right: 1.875rem;
        transition: all 0.1s ease-in;
        width: $toggleHeight * 2;
        height: $toggleHeight;
        &::before,
        &::after {
            content: ' ';
            position: absolute;
            border-radius: 6.25rem;
        }
        &::before {
            background-color: var(--#{theme.$prefix}panel);
            top: .1rem;
            left: .1rem;
            z-index: 1;
            width: $toggleHeight - .2rem;
            transition: all 0.1s ease-in;
            height: $toggleHeight - .2rem;
            box-shadow: 0 3px 1px rgba(var(--#{theme.$prefix}body-text-rgb),.05), 0 0 1px rgba(var(--#{theme.$prefix}body-text-rgb),.3);
        }
        &::after {
            top: 0;
            transition: box-shadow 0.1s ease-in;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 0 0 var(--#{theme.$prefix}body), 0 0 1px rgba(var(--#{theme.$prefix}body-text-rgb),.4);
        }
    }
}

.check-label,
.radio-label {
    input[type=checkbox],
    input[type=radio] {
        display: none;
        &:checked {
            &+label {
                background-color: var(--#{theme.$prefix}primary);
                border: none;
                color: var(--#{theme.$prefix}primary-text);
                &::before {
                    content: "\f00c";
                }
            }
        }
    }
    label {
        cursor: pointer;
        padding: 0 0.625rem 0 1.875rem;
        margin-top: 0.125rem;
        display: inline-block;
        position: relative;
        line-height: sizes.$line-height;
        background-color: var(--#{theme.$prefix}input);
        border: 1px solid var(--#{theme.$prefix}input-border);
        color: var(--#{theme.$prefix}input-text);
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            position: absolute;
            font-weight: 900;
            left: 8px;
            top: 1px;
        }
    }
}

.toggle-switch {
    display: inline-block;
    cursor: pointer;
    border-color: var(--#{theme.$prefix}border);
    background-color: var(--#{theme.$prefix}body);
    border-radius: 2em;
    display: inline-block;
    position: relative;
    margin-right: .5em;
    transition: all .1s ease-in;
    width: 4em;
    height: 2em;
    vertical-align: bottom;
    &::before {
        content: ' ';
        position: absolute;
        border-radius: 2em;
        background-color: var(--#{theme.$prefix}panel);
        top: 0;
        left: 0;
        z-index: 1;
        width: 2em;
        transition: all .1s ease-in;
        height: 2em;
        box-shadow: 0 3px 1px rgba(var(--#{theme.$prefix}body-text-rgb),.05), 0 0 1px rgba(var(--#{theme.$prefix}body-text-rgb),.3);
    }
    &:after {
        content: ' ';
        position: absolute;
        border-radius: 2em;
        top: 0;
        transition: box-shadow .1s ease-in;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 0 var(--#{theme.$prefix}body), 0 0 1px rgba(var(--#{theme.$prefix}body-text-rgb),.4);
    }
    &.toggled {
        &::before {
            left: 2em;
        }
        &:after {
            background-color: var(--#{theme.$prefix}primary);
            box-shadow: 0 0 1px var(--#{theme.$prefix}primary);
        }
    }
}

i {
    &.checkbox {
        font-style: normal;
        text-align: center;
        line-height: sizes.$line-height;
        &::before {
            font-family: "Font Awesome 5 Free";
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f0c8";
        }
        &.checked {
            &::before {
                content: "\f14a";
                color: var(--#{theme.$prefix}primary);
            }
        }
    }
}

.form-default {
    .form-control {
        display: block;
        width: 100%;
    }
    .input-group {
        display: block;
        margin-bottom: .3rem;
    }
}

.form-table {
    .form-control {
        --#{theme.$prefix}input-width: 12.5rem;
    }
    .input-group {
        display: flex;
        margin-bottom: .3rem;
        select {
            --#{theme.$prefix}input-width: 6.25rem;
        }
        textarea {
            padding: .5rem;
            --#{theme.$prefix}input-width: 12.5rem;
            min-height: sizes.$line-height * 3;
        }
        >label:first-child {
            width: 25%;
            display: block;
            text-align: right;
            line-height: sizes.$line-height;
            padding: 0 0.625rem;
        }        
        >div {
            flex: 1;
            textarea {
                width: 100%;
                resize: vertical;
            }
            .inline {
                line-height: sizes.$input-line-height;
                min-width: 6.25rem;
                display: inline-block;
            }
            // label {
            //     padding: 0 8px;
            //     line-height: 30px;
            // }
        }
        .file-input {
            display: inline-flex;
            flex: none;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .actions {
        text-align: center;
        &.fixed {
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99;
        }
    }
}

.form-horizontal {
    line-height: sizes.$line-height;
    .form-control {
        border: none;
        background: transparent;
        box-sizing: border-box;
    }
    .input-group {
        display: inline-block;
        border-bottom: 1px solid var(--#{theme.$prefix}border);
        height: sizes.$line-height;
        textarea {
            padding: .5rem;
        }
    }
}

.form-inline {
    .form-control {
        flex: 1;
        border: none;
        background: transparent;
        box-sizing: border-box;
        &.height-auto {
            height: auto;
        }
    }
    .input-group {
        display: flex;
        border-bottom: 1px solid var(--#{theme.$prefix}border);
        min-height: sizes.$input-line-height;
        align-items: center;
    }
    .btn {
        margin-top: 8px;
    }
}

.file-input {
    display: flex;
    .form-control {
        border-radius: 0;
        &:first-of-type {
            border-top-left-radius: sizes.$form-radius;
            border-bottom-left-radius: sizes.$form-radius;
        }
    }
    .btn {
        margin: 0;
        cursor: pointer;
        border-radius: 0;
        &:hover {
            font-weight: bold;
        }
        &:last-of-type {
            border-top-right-radius: sizes.$form-radius;
            border-bottom-right-radius: sizes.$form-radius;
        }
    }
    &.file-uploading {
        position: relative;
        display: inline-block;
        flex: none;
        .form-control {
            background-color: transparent;
            border: none;
        }
        .btn {
            cursor: not-allowed;
        }
        &::after {
            content: " ";
            display: block;
            position: absolute;
            bottom: 0;
            width: 20%;
            height: .1rem;
            opacity: .6;
            background-color: var(--#{theme.$prefix}primary);
            animation: 1s linear infinite borderLoop alternate;
        }
    }
}

.flat-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    .form-control,
    .btn {
        border-radius: 0;
    }
    .form-control:first-child {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        border-top-left-radius: sizes.$form-radius;
        border-bottom-left-radius: sizes.$form-radius;
    }
    .btn:last-child {
        display: flex;
        border-top-right-radius: sizes.$form-radius;
        border-bottom-right-radius: sizes.$form-radius;
    }
}

.flat-group {
    .form-control
    .btn {
        border-radius: 0;
        width: auto;
        display: inline-block;
    }
    :first-child {
        border-top-left-radius: sizes.$form-radius;
        border-bottom-left-radius: sizes.$form-radius;
    }
    :last-child {
        border-top-right-radius: sizes.$form-radius;
        border-bottom-right-radius: sizes.$form-radius;
    }
}



@keyframes borderLoop {
    from {
        left: 0;
    }
    to {
        left: 80%;
    }
}

