.metro-grid {
    margin: 10vh 0 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
        display: inline-block;
        position: relative;
        width: 15.625rem;
        height: 15.625rem;
        .font-gird {
            width: 15.625rem;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 1s;
            p {
                text-align: center;
                line-height: 3.125rem;
                font-size: 1.875rem;
                display: none;
            }
            img {
                width: 15.625rem;
            }
        }
        .back-grid {
            width: 15.625rem;
            height: 18.75rem;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            transition: all 1s;
            h3 {

            }
            .item-content {
                word-break: break-all;
            }
        }
    }
}

@media screen and (min-width: 48rem) {
    .metro-grid {
        // width: 510px;
        margin: 30vh auto;
        .item {
            &:hover {
                .font-gird {
                    p {
                        display: block;
                    }
                }
                .back-grid {
                    display: block;
                }
            }
            &.hover-middle {
                &:hover {
                    .font-gird {
                        left: -7.8125rem;
                    }
                    .back-grid {
                        left: 7.8125rem;
                    }
                }
            }
            &.hover-left {
                &:hover {
                    .font-gird {
                        left: -15.625rem;
                    }
                    .back-grid {
                    }
                }
            }
            &.hover-right {
                &:hover {
                    .font-gird {
                        left: 15.625rem;
                    }
                    .back-grid {
                        
                    }
                }
            }
        }
    }
}
