@use 'theme';
@use 'mixins';

.nav-vertical-bar {
    --#{theme.$prefix}nav: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}nav-text: var(--#{theme.$prefix}surface-text);
    width: 18.75rem;
    height: 100%;
    background-color: var(--#{theme.$prefix}nav);
    color:  var(--#{theme.$prefix}nav-text);
    position: relative;
    
}

.nav-horizontal-bar {
    --#{theme.$prefix}nav: var(--#{theme.$prefix}surface);
    --#{theme.$prefix}nav-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}nav-drop: var(--#{theme.$prefix}panel);
    --#{theme.$prefix}nav-drop-text: var(--#{theme.$prefix}body-text);
    --#{theme.$prefix}nav-hover: var(--#{theme.$prefix}surface-hovered);
    --#{theme.$prefix}nav-hover-text: var(--#{theme.$prefix}surface-text);
    --#{theme.$prefix}nav-notify: yellow;
    li {
        display: block;
        line-height: 2.5rem;
        height: auto;
        padding: 0 1.25rem;
        position: relative;
        &:hover {
            border-bottom: 3px solid var(--#{theme.$prefix}nav-text);
        }
    }
    .search-icon {
        cursor: pointer;
        &:hover {
           border-bottom: none; 
        }
    }
    ul {
        display: none;
        &.nav-right {
            float: none;
        }
    }
    .nav-drop-bar {
        display: block;
        position: static;
        background-color: transparent;
        margin: 0 -1.25rem;
        width: auto;
        background-color: var(--#{theme.$prefix}nav-drop);
        color: var(--#{theme.$prefix}nav-drop-text);
        right: 0;
        box-shadow: inset 0px 5px 5px -5px var(--#{theme.$prefix}nav),
                        inset 0px -5px 5px -5px var(--#{theme.$prefix}nav);
        z-index: 66;
        min-width: 10rem;
        a {
            color: var(--#{theme.$prefix}nav-drop-text);
            display: block;
            padding: 0.25rem .8rem;
            line-height: 2rem;
            &:hover {
                background-color: var(--#{theme.$prefix}nav-hover);
                color: var(--#{theme.$prefix}nav-hover-text);
            }
        }
        ul {
            display: block;
        }
        li {
            display: block;
            padding: 0;
            text-align: left;
            height: auto;
            &:hover {
                border-bottom: none;
            }
        }
    }
    .nav-drop-divider {
        margin: .5rem 0;
        height: 0;
        opacity: 1;
        overflow: hidden;
        border-top: 1px solid var(--#{theme.$prefix}border);
    }
    .nav-bar-toggle {
        padding: 15px 1.25rem;
        @include mixins.icon("\f0c9", 1.875rem);
    }
    .new-tip {
        display: none;
        width: 0.625rem;
        height: 0.625rem;
        background-color: var(--#{theme.$prefix}nav-notify);
        border-radius: 50%;
        position: absolute;
        top: 0.625rem;
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    &.open {
        ul {
            display: block;
        }
        .nav-bar-toggle {
            &::before {
                content: "\f00d";
            }
        }
    }
}

@media (min-width: 48rem) {
    .nav-horizontal-bar {
        .nav-bar-toggle {
            display: none;
        }
        .new-tip {
            display: inline-block;
        }
        li {
            line-height: 3.75rem;
            height: 3.75rem;
            display: inline-block;
            &:hover {
                .nav-drop-bar {
                    display: block;
                }
            }
        }
        .nav-drop-bar {
            display: none;
            position: absolute;
            box-shadow: 0px 2px 8px 1px theme.$shadow;
            width: 100%;
            margin: -5px 0 0;
            a {
                color: var(--#{theme.$prefix}nav-drop-text);
            }
        }
        ul {
            display: inline-block;
            // background-color: $panel;
            &.nav-right {
                float: right;
            }
        }
        
        
    }
}