@use 'theme';
@use 'sizes';
@use 'mixins';
.pager {
    li {
        display: inline-block;
        line-height: sizes.$line-height;
        min-width: sizes.$line-height;
        text-align: center;
        border: 1px solid var(--#{theme.$prefix}surface);
        box-sizing: border-box;
        cursor: pointer;
        &.active {
            border: none;
            @include mixins.active();
        }
    }
}

.pagination {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    >li {
        display: inline;
        >a,
        >span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: var(--#{theme.$prefix}body-text);
            text-decoration: none;
            background-color: var(--#{theme.$prefix}panel);
            border: 1px solid var(--#{theme.$prefix}input-border);
            &:hover,
            &:focus {
                z-index: 2;
                color: var(--#{theme.$prefix}surface-text);
                background-color: var(--#{theme.$prefix}surface-hovered);
            }
        }
    }
    >.active {
        >a,
        >span {
            z-index: 3;
            color: var(--#{theme.$prefix}surface-text);
            background-color: var(--#{theme.$prefix}surface);
            border-color: var(--#{theme.$prefix}input-border);
            cursor: default;
            &:hover,
            &:focus {
                background-color: var(--#{theme.$prefix}surface-hovered);
            }
        }
    }
    >.disabled {
        >a,
        >span {
            color: var(--#{theme.$prefix}meta-text);
            cursor: default;
            background-color: transparent;
            &:hover,
            &:focus {
                color: var(--#{theme.$prefix}meta-text);
                background-color: transparent;
            }
        }
    }
}