.process {
    position: relative;
    height: 1.25rem;
    background: #eee;
    display: inline-block;
    width: 12.5rem;
    margin-top: 1.875rem;
    span {
        display: inline-block;
        height: 100%;
        background: #f00;
        &:first-child {
            background: #0f0;
        }
    }
    label {
        position: absolute;
        top:  -1.25rem;
        left: 40%;
    }
}