@use 'theme';


.scroll-panel {
    height: 80vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px var(--#{theme.$prefix}shadow), 0 1px 3px var(--#{theme.$prefix}shadow);
    background-color: var(--#{theme.$prefix}panel);
    .panel-body {
        flex: 1;
        overflow-y: auto;
        border: 1px solid var(--#{theme.$prefix}border);
        box-shadow: var(--#{theme.$prefix}shadow) 0 0 0.625rem inset;
    }
    .panel-footer {
        display: flex;
        justify-content: space-between;
    }
    .panel-swiper-item {
        display: flex;
        &:hover {
            background-color: var(--#{theme.$prefix}body);
        }
        &:not(:first-child) {
            margin-top: .1rem;
        }
    }
    .swiper-header {
        display: inline-flex;
        align-items: center;
    }
    .swiper-body {
        flex: 1;
        position: relative;
        padding: .4rem;
        .item-header {
            display: flex;
            align-items: flex-end;
        }
        .item-author {
            flex: 1;
            font-size: .8rem;
            color: var(--#{theme.$prefix}meta-text);
            margin-left: .8rem;
        }
        .item-version {
            user-select: none;
            .iconfont {
                color: var(--#{theme.$prefix}danger);
            }
        }
        .item-name {
            font-weight: 700;
        }
        .item-body {
            color: var(--#{theme.$prefix}meta-text);
            padding-top: .2rem;
        }
    }
    .swiper-action {
        display: flex;
        a {
            cursor: pointer;
            user-select: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 .5rem;
        }
    }
}