@use 'mixins';
@use 'sizes';
@use 'theme';
.table {
    display: table;
    width: 100%;
    border-color: var(--#{theme.$prefix}border);
    caption-side: bottom;
    border-collapse: collapse;
    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    td,
    th {
        padding: .5rem .5rem;
        border-bottom: 1px solid var(--#{theme.$prefix}border);
    }
    .table-row {
        display: table-row;
        .table-cell {
            display: table-cell;
        }
    }
}

.table-hover {
    tbody {
        tr {
            &:hover {
                background-color: rgba(var(--#{theme.$prefix}surface-rgb), .075);
            }
        }
    }
}

.table-striped {
    tbody {
        tr {
            &:nth-of-type(odd) {
                background-color: rgba(var(--#{theme.$prefix}surface-rgb), .05);
            }
        }
    }
}

table {
    width: 100%;
    td, 
    th {
        text-align: center;
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
    }
    thead {
        input,
        select {
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--#{theme.$prefix}input-border);
            height: sizes.$line-height;
        }
        .sort-desc {
            &::after {
                @include mixins.iconFont();
                content: "\f15e";
            }
        }
        .sort-asc {
            &::after {
                @include mixins.iconFont();
                content: "\f15d";
            }
        }
    }
}

.tree-table {
    .tree-arrow-td {
        padding: 0 0 0 .3rem;
        text-align: left;
    }
    .tree-item-arrow {
        color: var(--#{theme.$prefix}surface);
        @include mixins.icon('\f65e');
        font-size: 2em;
    }
    .tree-item {
        display: none;
    }
    .tree-level-open {
        display: table-row;
    }
    .tree-next-level {
        .tree-item-arrow {
            color: var(--#{theme.$prefix}surface-child);
        }
    }
    .tree-item-open {
        .tree-item-arrow {
            color: var(--#{theme.$prefix}surface-selected);
            &::before {
                content: "\f65d";
            }
        }
    }
}

.page-multiple-table {
    .page-multiple-toggle {
        --#{theme.$prefix}btn: transparent;
        --#{theme.$prefix}btn-text: var(--#{theme.$prefix}danger);
        --#{theme.$prefix}btn-hover: var(--#{theme.$prefix}danger);
        --#{theme.$prefix}btn-hover-text: var(--#{theme.$prefix}danger-text);
        --#{theme.$prefix}btn-border: var(--#{theme.$prefix}danger);
        cursor: pointer;
        border: 1px solid var(--#{theme.$prefix}btn-border);
    }
    .page-multiple-th,
    .page-multiple-td,
    .page-multiple-action {
        display: none;
    }

    .page-multiple-th,
    .page-multiple-td {
        font-weight: 500;
    }

    &.page-multiple-enable {
        .page-multiple-toggle {
            --#{theme.$prefix}btn: var(--#{theme.$prefix}danger);
            --#{theme.$prefix}btn-text: var(--#{theme.$prefix}danger-text);
            --#{theme.$prefix}btn-hover: transparent;
            --#{theme.$prefix}btn-hover-text: var(--#{theme.$prefix}danger);
        }
        .page-multiple-th,
        .page-multiple-td {
            display: table-cell;
        }
        .page-multiple-action {
            display: table-footer-group;
        }
    }
}