$prefix: 'zre-' !default;

// 黑白配
// $primary: #333;
// $headerFg: #fff;
// $secondary: #767676;
// $disable: #ccc;
// $error: red;
// $shadow: rgba(51, 51, 51, 0.7);
// $border: $primary;
// $bodyBg: #f4f4f4;
// $bg: #fff;
// $fg: #333;
// $secondaryFg: #b3b1b1;

// 原木色
// $primary: #af5d0d;
// $headerFg: #fff;
// $secondary: #e29344;
// $disable: #FF9787;
// $error: red;
// $shadow: rgba(51, 51, 51, 0.7);
// $border: $primary;
// $bodyBg: #f4f4f4;
// $bg: #f9cfa6;
// $fg: #333;
// $secondaryFg: #b3b1b1;

// 中国红
// $primary: #A10000;
// $headerFg: #fff;
// $secondary: #CC2525;
// $disable: #FF9787;
// $error: red;
// $shadow: rgba(51, 51, 51, 0.7);
// $border: $primary;
// $bodyBg: #f4f4f4;
// $bg: #fff;
// $fg: #333;
// $secondaryFg: #b3b1b1;
// $primary: #dff0d8;



// 中国红
$primary: #A10000;
$primaryText: #fff;
$secondary: #CC2525;
$disabledText: #FF9787;
$strongText: red;
$shadow: rgba(51, 51, 51, 0.7);
$border: $primary;
$body: #f4f4f4;
$bodyText: #333;
$panel: white;
$third: #fff;
$thirdText: $bodyText;
$secondaryText: #b3b1b1;
$dialog: rgba(255, 255, 255, .9);
$dialogMask: rgba(0, 0, 0, .3);
$dialogText: #333;

$linkText: #0a0a0a;
$linkHoverText: #bb0b0b;

$input: #fff;
$inputText: #333;
$inputBorder: #ced4da;
$inputHoverBorder: rgb(47, 65, 86);
$inputHoverShadow: 0 0 0 0.25rem rgb(#bb0b0b, .5);
$inputErrorBorder: #d9534f;


// 黑暗模式
$dark-primary: #333;
$dark-primaryText: #fff;
$dark-secondary: #767676;
$dark-disabledText: #ccc;
$dark-strongText: red;
$dark-shadow: rgba(51, 51, 51, 0.7);
$dark-border: $primary;
$dark-third: #fff;
$dark-body: #333;
$dark-panel: #222;
$dark-bodyText: #fff;
$dark-secondaryText: #b3b1b1;
$dark-dialog: rgba(0, 0, 0, .9);
$dark-dialogText: #fff;
$dark-dialogMask: rgba(0, 0, 0, .3);


$dark-linkText: #0a0a0a;
$dark-linkHoverText: #bb0b0b;

$dark-input: #fff;
$dark-inputText: #333;
$dark-inputBorder: #ced4da;
$dark-inputHoverBorder: rgb(47, 65, 86);
$dark-inputHoverShadow: 0 0 0 0.25rem rgb(#bb0b0b, .5);
$dark-inputErrorBorder: #d9534f;


$danger: #dc3545;
$colorHoverOffset: 12%; // Hover 颜色加深程度
$colorActiveOffset: 20%; // 点击后 颜色加深程度