$dialogIndex: 1200;

.dialog-select-input {
    padding: 0 1.25rem 0 0.625rem;
    height: 2.25rem;
    line-height: 2.25rem;
    position: relative;
    border: 1px solid #eee;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -2px;
        border-top: 5px solid #666;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
}
.dialog.dialog-select {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: $dialogIndex;
    background: #fff;
    .dialog-header {
        position: relative;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #fff;
        border-bottom: 1px solid #ccc;
        z-index: $dialogIndex + 1;
        .dialog-close {
            position: absolute;
            left: 0.9375rem;
            line-height: 1.875rem;
        }
        .dialog-yes {
            position: absolute;
            right: 0.9375rem;
            top: 0;
            line-height: 1.875rem;
        }
    }
    .dialog-body {
        height: 9.375rem;
        position: relative;
        overflow: hidden;
        ul {
            margin: 0;
            padding: 0;
            transition: all .3s;
            li {
                list-style: none;
                line-height: 1.875rem;
                color: rgba(0, 0, 0, .3);
                text-align: center;
                &.active {
                    color: #000;
                }
            }
        }
        .dialog-top-hr,
        .dialog-bottom-hr {
            position: absolute;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .dialog-top-hr {
            top: 3.75rem;
        }
        .dialog-bottom-hr {
            top: 5.625rem;
        }
    }
    &.dialog-select-column-3 {
        .dialog-body {
            ul {
                width: 33%;
                float: left;
            }
        }
        
    }
}