@import 'theme';
@import 'menu';
@import 'scroll';

body {
    background: $body;
}

a {
    text-decoration: none;
}

footer,
header {
    background: $primary;
    color: $primaryText; 
    a {
        color: $primaryText;
        text-decoration: none;
    }
}
.tab-box .tab-header {
    background-color: #fff;
}

header {
    height: 3.125rem;
    line-height: 3.125rem;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    padding: 2rem 1.25rem;
    position: relative;
}

.container {
    width: 75rem;
    margin: 0 auto;
    position: relative;
}



.page-tip {
    border: 1px dashed $body;
    padding: 10px;
    border-radius: 5px;
    background-color: $dialog;
    position: relative;
    .blue {
        color: $bodySecondaryText;
    }
    ul {
        width: 100%;
        padding: 0;
        li {
            padding-left: 10px;
            list-style: inside;
            a {
                color: $dialogText;
            }
        }
    }
    .toggle {
        position: absolute;
        right: 0;
        top: 0.625rem;
        height: 1.625rem;
        width: 1.625rem;
        &::before {
            font-family: "Font Awesome 5 Free";
            font-size: 0.875rem;
            font-weight: 900;
            font-size: inherit;
            text-rendering: auto;
            content: "\f068";
        }
    }
    &.min {
        width: 12.5rem;
        ul {
            display: none;
        }
        .toggle {
            &::before {
                content: "\f067";
            }
        }
    }
}

.breadcrumb {
    padding: 0.5rem 0.9375rem;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    >li {
        display: inline-block;
        &.active {
            color: #777;
        }
        +li::before {
            padding: 0 0.3125rem;
            color: #ccc;
            content: "/\00a0";
        }
    }
}

.page-header {
    height: 1.875rem;
    background: transparent;
    .actions {
        right: 1.25rem;
        button {
            background: $button;
            color: $buttonText;
            line-height: 1.875rem;
            padding: 0 0.5rem;
            margin: 0;
            border: none;
            &.active {
                background: #888;
            }
        }
    }
}

.full-theme {
    .container {
        width: 100%;
    }
}

.column-item {
    width: 18.75rem;
    display: inline-block;
    position: relative;
    height: 6.25rem;
    background-color: #fff;
    margin: 0.625rem;
    vertical-align: top;
    .icon {
        position: absolute;
        width: 6.25rem;
        height: 6.25rem;
        text-align: center;
        background-color: #333;
        color: #fff;
        padding-top: 1.25rem;
        font-size: 2.5rem;
    }
    .content {
        margin-left: 6.25rem;
        padding: 1.25rem 0.625rem;
    }
}
.page-search-bar {
    padding: 0.625rem 0;
    .btn {
        vertical-align: top;
    }
    .form-horizontal {
        display: inline-block;
    }
    .pull-right {
        float: right;
    }
    &::after {
        content: " ";
        display: block;
        clear: both;
    }
}

.page-not-found {
    margin-top: 10vh;
    p{
        text-align: center;
        font-size: 20px;
    }
    .content {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}



.auto-hide {
    display: none;
}
table,
.table {
    .btn {
        padding: 0 10px;
        margin: 0;
    }
}

.column-item {
    width: 90%;
    margin: 10px 5%;
}


.column-full-item {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 1.25rem;
    position: relative;
    background-color: #17a2b8;
    color: #fff;
    .overlay {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: .25rem;
        align-items: center;
        background: rgba(255,255,255,.7);
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        z-index: 50;
        i {
            color: #343a40;
            font-size: 3em;
            animation: spin 1s linear infinite;
        }
    }
    .inner {
        padding: 0.625rem;
        z-index: 5;
    }
    h3 {
        font-size: 2.2rem;
        font-weight: 700;
        margin: 0 0 10px 0;
        padding: 0;
        white-space: nowrap;
    }
    p {
        font-size: 1rem;
    }
    .icon {
        color: rgba(0,0,0,.15);
        z-index: 0;
        i {
            font-size: 50px;
            position: absolute;
            right: 15px;
            top: 20px;
            transition: all .3s linear;
        }
    }
    .column-footer {
        background: rgba(0,0,0,.1);
        color: rgba(255,255,255,.8);
        display: block;
        padding: 3px 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 10;
        &:hover {
            background: rgba(0,0,0,.15);
            color: #fff;
        }
    }
    a {
        color: #fff;
    }
    &:hover {
        .icon {
            i {
                font-size: 3.4375rem;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media (min-width: 48rem) {
    .auto-hide {
        display: table-cell;
    }
}

@media (min-width: 75rem){
    
}