@use 'theme';
@use 'mixins';
@use 'root';
@use 'margin';
@use "grid";
@use "panel";
@use "process";
@use "table";
@use "form";
@use "navbar";
@use "tab";
@use "path";
@use "pageHeader";
@use "pager";
@use "list";
@use "code";
@use "bread";
//@use "metro";
@use "error";

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--#{theme.$prefix}body);
    color: var(--#{theme.$prefix}body-text);
}


.clearfix {
    @include mixins.clearfix();
}

.text-center {
    text-align: center;
}


@media (min-width: 48.75rem) {
    .demo-tip {
        position: fixed;
        right: 0;
        top: 0;
        background-image: url('/assets/images/demo.png');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 12.5rem;
        height: 12.5rem;
        z-index: 30;
    }
}