@import "mixin";
@import "common";
@import "grid";
@import "panel";
@import "process";
@import "table";
@import "form";
@import "navbar";
@import "tab";
@import "path";
@import "pageHeader";
@import "pager";
@import "list";
@import "bread";
//@import "metro";

@media (min-width: 780px) {
    .demo-tip {
        position: fixed;
        right: 0;
        top: 0;
        background-image: url('/assets/images/demo.png');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 200px;
        z-index: 30;
    }
}