body {
    background: #333;
}

a {
    text-decoration: none;
}

footer,
header {
    background: #000;
    color: #fff; 
    a {
        color: #fff;
        text-decoration: none;
    }
}
.btn,
.zd-tab .zd-tab-head .zd-tab-item.active,
.zd-tab .zd-tab-head .zd-tab-item:hover {
    background: #333;
    color: #fff;
}

header {
    height: 50px;
    line-height: 50px;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    padding: 32px 20px;
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.app-wrapper {
    margin-top: 50px;
    .search-container {
        display: none;
    }
    &.search-mode {
        transform-origin: 50vw 50vh;
        transform: perspective(1000px) translate3d(0,50vh,0) rotate3d(1,0,0,30deg);
        pointer-events: none;
        max-width: 1920px;
        margin: 0 auto;
        overflow: auto;
        height: 100vh;
        display: block;
        .search-container {
            display: block;
            pointer-events: auto;
        }
    }
}

.sidebar-container {
    width: 208px;
    vertical-align: baseline;
    padding: 20px 12px 60px 36px;
    top: auto;
    position: absolute;
    overflow-y: visible;
    display: inline-block;
    .sidebar-container-toggle {
        display: none;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: inherit;
        text-rendering: auto;
        &::before {
            content: "\f0c9";
        }
    }
}

.main-container {
    width: calc(100% - 208px);
    position: relative;
    vertical-align: baseline;
    background-color: #f4f4f4;
    flex-grow: unset;
    display: inline-block;
    top: 0;
    padding: 8px;
    min-height: 300px;
    margin-left: 208px;
}

.page-tip {
    border: 1px dashed #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #F5FAFF;
    position: relative;
    .blue {
        color: #333;
    }
    ul {
        width: 100%;
        padding: 0;
        li {
            padding-left: 10px;
            list-style: inside;
            a {
                color: #666;
            }
        }
    }
    .toggle {
        position: absolute;
        right: 0;
        top: 10px;
        height: 26px;
        width: 26px;
        &::before {
            font-family: "Font Awesome 5 Free";
            font-size: 14px;
            font-size: inherit;
            text-rendering: auto;
            content: "\f068";
        }
    }
    &.min {
        width: 200px;
        ul {
            display: none;
        }
        .toggle {
            &::before {
                content: "\f067";
            }
        }
    }
}

.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    >li {
        display: inline-block;
        &.active {
            color: #777;
        }
        +li::before {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }
    }
}

.page-header {
    height: 30px;
    background: transparent;
    .actions {
        right: 20px;
        button {
            background: #000;
            color: #fff;
            line-height: 30px;
            padding: 0 8px;
            margin: 0;
            border: none;
            &.active {
                background: #888;
            }
        }
    }
}

@media (max-width: 1200px){
    .container {
        width: 100%;
    }

}

@media (max-width: 767px){
    .app-wrapper {
        min-height: calc(100vh - 50px);
    }
    .sidebar-container {
        left: -208px;
        transition: left .3s;
        z-index: 189;
        bottom: 0;
        .sidebar-container-toggle {
            display: block;
            position: fixed;
            left: 10px;
            bottom: 10px;
            font-size: 24px;
            background: #333;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            transition: all .3s;
            padding: 4px 6px;
            color: #fff;
            z-index: 199;
        }
        &.expand {
            left: 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            .sidebar-container-toggle {
                box-shadow: none;
                left: 5px;
                &::before {
                    content: "\f00d";
                }
            }
        }
    }
    .main-container {
        margin-left: 0;
        width: 100%;
    }
}