@use 'theme';
$top: 40px;
$left: 5px;

$sizes: (
    320: 568,
    360: 640,
    370: 640,
    375: 812,
    412: 732,
    414: 736,
    768: 1024
) !default;

@use 'scrollbar';

@mixin size($width, $height) {
    &.mobile-#{$width} {
        width: $width + $left * 2;
        height: $height + $top * 2;
        padding: $top $left;
        background: #47f;
        border-radius: 1.25rem;

        &.rotate {
            height: $width + $left * 2;
            width: $height + $top * 2;
            padding: $left $top;
        }
    }
}

* {
    padding: 0;
    margin: 0;
}

.full-edit-mode {
    header {
        display: none;
    }
    .app-wrapper {
        margin: 0 auto;
        .app-header-container,
        .sidebar-container {
            display: none;
        }
        .main-container {
            width: 100%;
            margin-left: 0;
        }
        .app-main {
            padding: 0;
        }
    }
}

.navbar {
    font-size: 1.5rem;

    >li {
        list-style: none;
        display: inline-block;
        width: 3rem;
        padding: 5px 10px;

        .active {
            >a {
                color: #fff;
                background: #454545;
            }
        }

        .down {
            display: none;
            position: absolute;
            border: 1px solid #767766;
            background: #fff;
            color: #333;
            z-index: 9999;

            >li {
                border-bottom: 1px solid #767766;
                padding: 0 5px 0 2.5rem;
                position: relative;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background: #7e8;
                }

                i {
                    margin-right: 1rem;
                    position: absolute;
                    left: 10px;
                    line-height: 30px;
                }
            }
        }

        &.open {
            .down {
                display: block;
            }
        }

        >div,
        >a {
            text-align: center;
            text-decoration: none;
            color: #fff;

            span {
                display: block;
                font-size: 0.7rem;
            }
        }
    }

    &.min {
        >li {
            >div {
                span {
                    display: none;
                }
            }
        }
    }
}


.top-nav {
    background: var(--#{theme.$prefix}surface);
    color: var(--#{theme.$prefix}surface-text);
    // margin: -8px -8px 0 0;
    .navbar {
        font-size: 1.5rem;
    }
}

.card {
    width: 9.375rem;
    height: 12.5rem;
    float: left;
    margin: 0.3125rem;
    position: relative;
    border: 1px solid;
    overflow: hidden;

    .card-logo {
        img {
            width: 9.375rem;
            height: 12.5rem;
        }
    }

    .card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 5rem;
        background: rgba(255, 255, 255, .6);

        h3 {
            text-align: center;
        }
    }

    .card-action {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    &.card-add {
        .card-logo {
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, .1);
            width: 6.25rem;
            height: 6.25rem;
            margin: 3.125rem auto 0;
            text-align: center;
            font-size: 4.6875rem;
        }

        &:hover {
            .card-logo {
                border: 1px solid rgba(56, 243, 250, 0.1);
                color: #fcc;
            }
        }
    }

    &:hover {
        border: 1px solid burlywood;

        .card-body {
            background: rgba(255, 255, 255, .8);
        }
        .card-action {
            display: block;
        }
    }
}

.theme-select,
.page-select {
    .theme-item,
    .page-item {
        display: inline-block;
        text-align: center;
        margin: 5px;
        .thumb {
            height: 5rem;
            width: 5rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &.active {
            border: 1px solid red;
        }
        &:hover {
            box-shadow: 3px 3px 4px rgba(33,33,33,.7);
        }
    }
}
.theme-select {
    max-height: 37.5rem;
    overflow-y: auto;
}

.theme-dialog {
	.dialog-body {
		overflow: unset;
	}
}

.dialog-body-box {
	overflow-y: auto;
	background-color: #eee;
	max-width: 37.5rem;
	max-height: 25rem;
	.item {
		text-align: center;
		display: inline-block;
		background-color: #fff;
		margin: 3px;
		position: relative;
		.thumb {
			width: 6.25rem;
			height: 6.25rem;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.name {
			width: 6.25rem;
			overflow: hidden;
			color: #333;
			font-size: 0.75rem;
			height: 1rem;
		}
		&.selected {
			background-color: rgb(174, 255, 238);
			&::after {
				position: absolute;
				font-size: 6.25rem;
				color: rgba(red, .3);
				font-family: "Font Awesome 5 Free";
				content: "\f00c";
				font-weight: 900;
				top: 0.625rem;
				left: 0;
			}
		}
	}
	.dialog-pager {
		text-align: center;
	}
}

.only-editor {
    .top-nav {
        margin: 0;
    }
}

.large-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: .375rem;
    transition: all 1s;
    margin-bottom: .8rem;
    .item-cover {
        background-color: white;
        min-height: 10rem;
        border-radius: .375rem .375rem 0 0;
        img {
            width: 100%;
        }
    }
    .item-body {
        background-color: #ccc;
        border-radius: 0 0 .375rem .375rem;
        padding: 0 .8rem;
    }
    .item-name {
        line-height: 2rem;
    }
    .item-mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: .375rem;
        background-color: rgba($color: #000000, $alpha: .4);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        transform: scale(1.1);
        .item-mask {
            display: flex;
        }
    }
}