.visual-edit-row {
    min-height: 6.25rem;
    padding-bottom: 4rem;
    .visual-edit-control {
        width: 100%;
        min-height: 3.125rem;
        background: #fff;
        box-sizing: border-box;
        border: 1px dotted #7e8;

        .visual-preview {
            display: none;
        }
        .visual-action {
            position: absolute;
            right: 0;
            font-size: 0.7rem;
            margin-top: -0.5rem;
            color: #fff;
            background: #6a4;
            padding: 2px;
            display: none;
            user-select: none;
            a {
                cursor: pointer;
            }
            .drag {
                cursor: move;
            }

            .del {
                color: #f00;
            }
        }

        &:hover,
        &.visual-edit-mode {
            border: 1px solid rgb(180, 24, 58);

            .visual-action {
                display: block;
            }
        }

        &.visual-loading {
            .visual-view {
                text-align: center;
                background: rgba(0, 0, 0, .1);
                img {
                    height: 5rem;
                }
            }
        }
    }
}