@use 'sass:math';
@use 'theme';
$scrollBarSize: .5rem;
$scrollBarColor: gray;
$ruleBarSize: 1rem;
$ruleBarColor: gray;
$radius: .25rem;
$line-hight: 2.25rem;
$iconWidth: 1.5rem;

@use 'scrollbar';

.visual-editor {
    display: flex;
    position: relative;
    height: 100vh;
    background-color: #fff;
  
    .editor-container {
        flex: 1;
        position: relative;
        background-color: #f4f4f4;
        overflow: hidden;
    }
    .work-container {
        position: relative;
        display: block;
        background-color: #fff;
        margin: $ruleBarSize $scrollBarSize $scrollBarSize $ruleBarSize;
        transform-origin: 0 0;
    }
    .panel-tool-bar {
        position: absolute;
        display: flex;
        bottom: 20px;
        width: 13rem;
        left: 50%;
        margin-left: -100px;
        height: 3rem;
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px #333;
        font-size: 1.5rem;
        border-radius: 1.5rem;
        i {
            flex: 1;
            text-align: center;
            line-height: 3rem;
            color: #666;
            &:hover {
                color: #000;
            }
        }
        .scale-text {
            font-size: .8rem;
            font-style: normal;
        }
    }

    .v-scroll-bar,
    .h-scroll-bar {
        background-color: #fff;
        z-index: 120;
        position: absolute;
        .inner-bar {
            position: absolute;
            cursor: pointer;
            background-color: $scrollBarColor;
            transition: background 0.3s ease-in-out;
        }
    }
    .v-scroll-bar {
        border-left: 1px solid $scrollBarColor;
        width: $scrollBarSize;
        top: 0;
        bottom: 0;
        right: 0;
        .inner-bar {
            width: $scrollBarSize;
            height: 5rem;
        }
    }
    .h-scroll-bar {
        border-top: 1px solid $scrollBarColor;
        height: $scrollBarSize;
        left: $ruleBarSize;
        bottom: 0;
        right: $scrollBarSize;
        .inner-bar {
            height: $scrollBarSize;
            width: 5rem;
        }
    }
    .panel-main {
        border: none;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            //background-color:#eee;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #aaa;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }
    }
    .h-rule-bar,
    .v-rule-bar {
        background-color: $ruleBarColor;
        position: absolute;
    }
    .h-rule-bar {
        left: $ruleBarSize;
        top: 0;
        right: $scrollBarSize;
        height: $ruleBarSize;
    }
    .v-rule-bar {
        left: 0;
        top: $ruleBarSize;
        bottom: $scrollBarSize;
        width: $ruleBarSize;
    }
    .rule-line-bar {
        .h-line,
        .v-line {
            border-top: 1px dotted var(--#{theme.$prefix}surface);
            border-right: 1px dotted var(--#{theme.$prefix}surface);
            position: absolute;
        }
        .h-line {
            cursor: n-resize;
            width: 100%;
            height: 1px;
        }
        .v-line {
            cursor: ew-resize;
            width: 1px;
            top: 0;
            bottom: 0;
        }
    }

    .expand-box {
        border-top: 1px solid var(--#{theme.$prefix}tertiary);
        .expand-header {
            background-color: var(--#{theme.$prefix}panel);
            font-size: 1.3rem;
            line-height: $line-hight;
            user-select: none;
            display: flex;
            justify-content: space-between;
            padding: 0 .4rem;
            .fa {
                line-height: unset;
            }
        }
    
        .expand-body {
            display: none;
        }

        &.open,
        &:hover {
            .expand-header {
                background-color: var(--#{theme.$prefix}surface);
                color: var(--#{theme.$prefix}surface-text);
            }
        }
    
        &.open {
            .expand-header {
                .fa {
                    transform: rotate(90deg) translateY(5px);
                }
            }
    
            .expand-body {
                display: block;
            }
        }
    }
    .panel-group {
        width: 15rem;
        z-index: 99;
        &.min {
            width: 1rem;
        }
        .visual-edit-control {
            &:hover {
                color: var(--#{theme.$prefix}surface);
                background-color: var(--#{theme.$prefix}body);
            }
        }
    }
    .panel-item {
        background: var(--#{theme.$prefix}body);
        border: 1px solid var(--#{theme.$prefix}surface);
        position: absolute;
        top: 0;
        left: 1rem;
        width: 14rem;
        bottom: 0;
        z-index: 100;
        .panel-header {
            background: var(--#{theme.$prefix}surface);
            color: var(--#{theme.$prefix}surface-text);
            font-size: 1.5rem;
            line-height: 2rem;
            user-select: none;
            padding-left: .8rem;
            .fa-close {
                float: right;
            }
        }

        .panel-body {
            //position: relative;
            overflow-y: auto;
            @include scrollbar.scrollbar();
            .grid {
                z-index: 100;
            }
        }
        &.min {
            position: static;
            width: 1rem;
            margin-bottom: 0.3125rem;
            .panel-header {
                position: static;
                font-size: 0.75rem;
                line-height: 1.5;
                min-height: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 0;
                .fa-close {
                    display: none;
                }
            }
            .panel-body {
                display: none;
            }
        }
    }

    .visual-edit-control {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        user-select: none;
        .visual-preview {
            width: 5rem;
            padding-top: .8rem;
            .thumb {
                text-align: center;
                overflow: hidden;
                height: 3rem;
                .fa {
                    font-size: 3rem;
                }
                img {
                    width: 3rem;
                    height: 3rem;
                }
            }
            .title {
                height: 2rem;
                overflow: hidden;
                font-size: .6rem;
            }
        }

        .visual-action,
        .visual-view {
            display: none;
        }
    }
    .tab-box {
        .tab-header {
            .tab-item {
                width: 4.5rem;
            }
        }
        .tab-body {
            .tab-item {
                padding-top: 0;
            }
        }
    }
    .style-item {
        line-height: 3.75rem;
        border: 1px dotted var(--#{theme.$prefix}surface);
        text-align: center;
        color: var(--#{theme.$prefix}meta-text);
        font-weight: bold;
        font-size: 1.25rem;
        user-select: none;
        img {
            width: 100%;
        }
        &.active {
            border: 1px dotted var(--#{theme.$prefix}surface-selected);
        }
        &:hover {
            border-style: solid;
        }
    }
    $switchRadius: math.div($line-hight, 3);
    .switch-input {
        line-height: $line-hight;
        .switch-control {
            cursor: pointer;
            box-sizing: content-box;
            vertical-align: middle;
            border-radius: $switchRadius;
            border: 1px solid var(--#{theme.$prefix}surface);
            display: inline-block;
            position: relative;
            margin-right: .4rem;
            transition: all 0.1s ease-in;
            width: $switchRadius * 4;
            height: $switchRadius * 2;
            &::before {
                content: ' ';
                position: absolute;
                border-radius: $switchRadius;
                background: var(--#{theme.$prefix}panel);
                top: 0;
                left: 0;
                z-index: 1;
                width: $switchRadius * 2;
                transition: all 0.1s ease-in;
                height: $switchRadius * 2;
                box-shadow: 0 0 .6rem var(--#{theme.$prefix}shadow);
            }
        }
        .switch-label {
            font-size: .8rem;
        }
        &.checked {
            .switch-control {
                background: var(--#{theme.$prefix}surface);
                &::before {
                    left: $switchRadius * 2;
                }
            }
        }
    }
    .shell-box {
        display: none;
        background-color: var(--#{theme.$prefix}surface);
        bottom: -1rem;
        position: absolute;
        left: -1rem;
        top: -4rem;
        right: -1rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 20px 0px var(--#{theme.$prefix}shadow);
        user-select: none;
        z-index: -1;
        padding: 2.5rem 1rem 1rem;
        .shell-bar {
            display: flex;
            justify-content: space-between;
            height: 1.5rem;
            font-size: .8rem;
            align-items: center;
            padding: 0 .3rem;
            color: var(--#{theme.$prefix}surface-text);
            background-color: var(--#{theme.$prefix}surface-hovered);
        }
    }
    .await-widget-box {
        position: fixed;
        pointer-events: none;
        width: 0;
        height: 0;
        z-index: 133;
        opacity: .6;
        background-color: rgba($color: #7e8, $alpha: .2);
        user-select: none;
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .visual-preview,
        .visual-action {
            display: none;
            
        }
        .visual-view {
            display: block;
        }
    }
    .mobile-style {
        .shell-box {
            display: block;
        }
    }
    .hidden {
        display: none !important;
    }

    .color-icon {
        width: $line-hight;
        height: $line-hight;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--#{theme.$prefix}input);
    }

    .select-control-container,
    .select-with-control {
        position: relative;
        .select-option-bar {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            border-radius: 0 0 $radius $radius;
            background-color: var(--#{theme.$prefix}input);
            max-height: $line-hight * 8;
            overflow-y: auto;
            z-index: 9;
            box-shadow: 0 .25rem .25rem var(--#{theme.$prefix}shadow);
        }
        .group-option-item,
        .option-item {
            padding: 0 .4rem;
        }
        .group-option-item {
            background-color: var(--#{theme.$prefix}surface);
            color:  var(--#{theme.$prefix}surface-text);
            user-select: none;
        }
        .option-item {
            user-select: none;
            &:hover {
                background-color: var(--#{theme.$prefix}surface-hovered);
                color:  var(--#{theme.$prefix}surface-text);
            }
            &.selected {
                font-weight: bold;
                background-color: var(--#{theme.$prefix}surface-selected);
                color:  var(--#{theme.$prefix}surface-text);
            }
        }
        &.select-focus {
            .select-option-bar {
                display: block;
            }
        }
    }
    .select-control-container {
        position: relative;
        line-height: $line-hight;
        background-color: var(--#{theme.$prefix}input);
        color: var(--#{theme.$prefix}input-text);
        border-radius: $radius;
        .selected-container {
            max-width: 80%;
        }
        .selected-item {
            font-size: 0.8em;
            line-height: 1.5;
            margin-bottom: 0.3125rem;
            background-color: #ebf5ff;
            border-radius: 0.125rem;
            margin-right: 0.3125rem;
            white-space: nowrap;
            display: inline-block;
            user-select: none;
            .item-close {
                border-right: 1px solid #b8dbff;
            }
            .item-label,
            .item-close {
                display: inline-block;
                padding: 1px 5px;
            }
        }
        .select-input-container {
            display: flex;
        }
        .input-body {
            flex: 1;
            min-width: 0;
            background-color: transparent;
            outline: 0;
            border: none;
            padding-left: .4rem;
        }
        .input-clear,
        .input-arrow {
            color: var(--#{theme.$prefix}meta-text);
            display: block;
            width: $iconWidth;
            text-align: center;
            font-size: .8rem;
        }

        .input-clear {
            display: none;
        }
    
        .search-option-item {
            position: relative;
            input {
                height: $line-hight;
                width: 100%;
                background-color: transparent;
                outline: 0;
                border: none;
                padding: 0 $iconWidth;
            }
            .fa {
                font-size: .8rem;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                display: block;
                color: var(--#{theme.$prefix}meta-text);
                width: $iconWidth;
                text-align: center;
            }
        }
        .loading-option-item {
            height: $line-hight;
            padding-top: .5rem;
        }
        &.select-focus {
            border-radius: $radius $radius 0 0;
            box-shadow: 0 0 .25rem var(--#{theme.$prefix}shadow);
        }
    }

    .select-with-control {
        input {
            width: 100%;
            background-color: transparent;
            outline: 0;
            border: none;
            background-color: var(--#{theme.$prefix}input);
            text-align: center;
            font-size: 1rem;
        }
        .control-body {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: .4rem 0;
            >label,
            .extra-control {
                font-size: .6rem;
                color: var(--#{theme.$prefix}meta-text);
                line-height: 1.5;
            }
            >label {
                opacity: .6;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                white-space: nowrap;
            }
            .extra-control {
                background-color: transparent;
                outline: none;
                height: auto;
                border: none !important;
            }
        }
        .option-item {
            text-align: center;
        }
    }

    .number-control-container {
        background-color: var(--#{theme.$prefix}input);
        color: var(--#{theme.$prefix}input-text);
        border-radius: $radius;
        display: flex;
        height: $line-hight;
        input {
            flex: 1;
            min-width: 0;
            background-color: transparent;
            outline: 0;
            border: none;
            text-align: center;
        }
        .control-action-bar {
            display: flex;
            flex-direction: column;
            width: .8rem;
            align-items: center;
            justify-content: center;
            .fa {
                cursor: pointer;
                font-size: .7rem;
                color: var(--#{theme.$prefix}meta-text);
                &:hover {
                    color: var(--#{theme.$prefix}input-text);
                }
            }
        }
    }

    .clip-path-box {
        display: flex;
        justify-content: space-between;
        .shape {
            width: .9em;
            height: .9em;
            background-color: #c8cdd0;
            cursor: pointer;
            &.selected {
                border: 1px solid var(--#{theme.$prefix}surface);
            }
        }
    }

    .drag-control-container {
        position: relative;
        display: block;
        user-select: none;
        border-radius: .25rem;
        text-align: center;
        border: .2rem dotted var(--#{theme.$prefix}surface);
        height: $line-hight * 3;
        p {
            margin: 0;
        }
        input {
            width: 0;
            height: 0;
            overflow: hidden;
        }
        label {
            display: block;
            padding-top: 1rem;
            height: 100%;
        }
        .loading {
            display: none;
            position: absolute;
            top: 2rem;
            left: 50%;
            margin-left: -2.5rem;
        }
        &:hover {
            background-color: var(--#{theme.$prefix}input);
        }
        &.is-uploading {
            label {
                display: none;
            }
            .loading {
                display: block;
            }
        }
    }

    .image-control-item {
        position: relative;
        background-color: #ccc;
        border-radius: $radius;
        .control-body {
            display: block;
            width: 100%;
            height: $line-hight * 3;
            border-radius: $radius;
            img {
                display: block;
                object-fit: contain;
                height: 100%;
                width: 100%;
                border-radius: $radius;
            }
        }
        .control-action {
            position: absolute;
            display: flex;
            bottom: 1rem;
            left: 50%;
            width: 6rem;
            margin-left: -3rem;
            text-align: center;
            .fa {
                line-height: 2rem;
                flex: 1;
                display: block;
                background-color: var(--#{theme.$prefix}surface);
                color: var(--#{theme.$prefix}surface-text);
                &:first-of-type {
                    border-radius: $radius 0 0 $radius;
                }
                &:last-of-type {
                    border-radius: 0 $radius $radius 0;
                }
                &:hover {
                    background-color: var(--#{theme.$prefix}surface-hovered);
                }
            }
        }
        &:hover {
            background-color: #aaa;
        }
    }

    .radio-control-item {
        display: inline-block;
        width: $line-hight;
        line-height: $line-hight;
        text-align: center;
        background-color: var(--#{theme.$prefix}input);
        color: var(--#{theme.$prefix}input-text);
        border-radius: $radius;
        user-select: none;
        cursor: pointer;
        &:hover {
            background-color: var(--#{theme.$prefix}hover);
            label {
                background-color: var(--#{theme.$prefix}hover);
            }
        }
        input {
            display: none !important;
        }
        label {
            padding: 0 .2rem;
            min-width: $line-hight;
            text-align: center;
            line-height: $line-hight;
            border-radius: $radius;
            background-color: var(--#{theme.$prefix}input);
            color: var(--#{theme.$prefix}input-text);
            font-size: .8rem;
            &::before {
                display: none;
            }
        }
        &.checked {
            background-color: var(--#{theme.$prefix}surface);
            color: var(--#{theme.$prefix}surface-text);
            label {
                background-color: var(--#{theme.$prefix}surface);
                color: var(--#{theme.$prefix}surface-text);
            }
        }
    }

    .color-control-icon {
        height: $line-hight;
        width: $line-hight;
        border-radius: 50%;
    }

    .slider-control-bar {
        position: relative;
        height: 1rem;
        .control-icon {
            position: absolute;
            top: 0;
            height: 1rem;
            width: 1rem;
            border-radius: .5rem;
            background-color: var(--#{theme.$prefix}input-text);
            box-shadow: 0 0 .25rem var(--#{theme.$prefix}shadow);
        }
        &::before {
            content: ' ';
            display: block;
            transform: translateY(.2rem);
            height: .6rem;
            border-radius: .3rem;
            background-color: var(--#{theme.$prefix}input);
        }
        &.hue-bar {
            &::before {
                background-image: linear-gradient(90deg,#fd3232,#fdfd32,#32fd32,#32fdfd,#3232fd,#fd32fd,#fd3232);
            }
        }
        &.saturation-bar {
            &::before {
                background-image: linear-gradient(90deg,gray,#000);
            }
        }
        &.lightness-bar {
            &::before {
                background-image: linear-gradient(90deg,#000,#fff);
            }
        }
        &.alpha-bar {
            &::before {
                background-image: linear-gradient(90deg,transparent,#000);
            }
        }
    }

    .form-control-color {
        appearance: none;
        height: $line-hight;
        width: $line-hight;
        background-clip: padding-box;
        border-radius: 50%;
        background-color: var(--#{theme.$prefix}panel);
        border: none;
        padding: .3rem;
        &::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
        }
    }

    input[type=range] {
        &.hue-bar,
        &.saturation-bar,
        &.lightness-bar,
        &.alpha-bar {
            background-color: transparent;
            border: none;
            box-shadow: none;
            outline: none;
            appearance: none;
            border-radius: 10px;
            padding: 0;
            height: 10px;
            margin: 3px 0 12px;
        }
        &.hue-bar {
            background-image: linear-gradient(90deg,#fd3232,#fdfd32,#32fd32,#32fdfd,#3232fd,#fd32fd,#fd3232);
        }
        &.saturation-bar {
            background-image: linear-gradient(90deg,gray,#000);
        }
        &.lightness-bar {
            background-image: linear-gradient(90deg,#000,#fff);
        }
        &.alpha-bar {
            background-image: linear-gradient(90deg,transparent,#000);
        }
    }

    .alpha-ouline-bar {
        position: relative;
        &::after {
            background-color: transparent;
            background-image: linear-gradient(45deg,#000 25%,transparent 0),linear-gradient(-45deg,#000 25%,transparent 0),linear-gradient(45deg,transparent 75%,#000 0),linear-gradient(-45deg,transparent 75%,#000 0);
            background-position: 0 0,0 0.3125rem,0.3125rem -0.3125rem,-0.3125rem 0;
            background-size: 0.625rem 0.625rem;
            border-radius: 0.25rem;
            content: "";
            height: 100%;
            left: 0.8rem;
            right: .8rem;
            height: 0.625rem;
            opacity: .25;
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }

    .control-half-group {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        height: $line-hight * 1.5;
        input {
            flex: 1;
            min-width: 0;
            height: $line-hight;
            background-color: var(--#{theme.$prefix}input);
            border-radius: $radius $radius 0 0;
            outline: 0;
            text-align: center;
            border: none;
        }
        >label {
            line-height: $line-hight * .5;
            font-size: .8rem;
            background-color: var(--#{theme.$prefix}tertiary);
            color: var(--#{theme.$prefix}meta-text);
            border-radius: 0 0 $radius $radius;
            display: block;
        }
    }

    .control-offset {
        padding: .8rem .8rem 0;
    }

    .control-line-group,
    .control-inline-group,
    .control-row,
    .control-slider-group {
        padding: .8rem .8rem 0;
        line-height: $line-hight;
        input,
        select {
            height: $line-hight;
        }
        select {
            min-width: $line-hight;
            height: $line-hight;
            background-color: var(--#{theme.$prefix}input);
            border-radius: $radius;
            outline: 0;
            border: none;
        }
        .drag-control-container {
            input {
                display: none;
            }
        }
    }

    .mt-0 {
        margin-top: 0;
    }

    .control-row {
        display: flex;
        justify-content: space-between;
        .select-with-control,
        .control-half-group {
            flex: 1;
        }
        .control-half-group {
            input {
                width: 100%;
                border-radius: 0;
                border-right: 1px solid var(--#{theme.$prefix}surface);
            }
            label {
                border-radius: 0;
            }
            &:first-child {
                input {
                    border-top-left-radius: $radius;
                }
                label {
                    border-bottom-left-radius: $radius;
                }
            }
            &:last-child {
                input {
                    border-right: none;
                    border-top-right-radius: $radius;
                }
                label {
                    border-bottom-right-radius: $radius;
                }
            }
        }
        .select-with-control {
            &:not(:last-child) {
                .number-control-container {
                    border-radius: 0;
                    border-right: 1px solid var(--#{theme.$prefix}surface);
                }
            }
        }
        
    }

    .control-inline-group,
    .control-line-group {
        position: relative;
        .control-updated-tag {
            position: absolute;
            left: 0;
            width: .8rem;
            text-align: center;
            font-weight: bold;
            font-style: normal;
            line-height: $line-hight;
            color: var(--#{theme.$prefix}surface);
            &::before {
                display: block;
                content: '·';
            }
            &:hover {
                color: var(--#{theme.$prefix}danger);
                &::before {
                    content: '×';
                }
            }
         
        }
    }

    .control-inline-group {
        display: flex;
        justify-content: space-between;
        >label {
            flex-basis: 50%;
        }
        .select-with-control {
            width: 4rem;
            margin-top: -1rem;
        }
        select {
            min-width: 4rem;
        }
        .side-label {
            flex: 1;
            display: flex;
            flex-direction: column;
            label {
                margin: 0;
            }
            input[type=range] {
                border: none;
                height: 0.375rem;
                padding: 0;
                width: 100%;
            }
        }
        &.control-inline-popup-group {
            >label {
                flex-basis: auto;
                flex: 1;
            }
        }
        &.control-inline-not-label {
            >label {
                display: none;
            }
            .select-with-control,
            select {
                flex: 1;
            }
        }
    }

    .control-slider-group {
        display: flex;
        >.control-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1;
            input {
                width: 100%;
                height: 1rem;
                margin-top: .8rem;
            }
        }
        .select-with-control {
            width: 4rem;
        }
    }

    .control-tooltip {
        color: var(--#{theme.$prefix}meta-text);
        font-size: 0.75rem;
        line-height: 1.5;
    }

    .control-line-group {
        >.control-inline-group {
            padding: 0;
            position: static;
        }
        .control-updated-tag {
            line-height: 1.5;
        }
        >label {
            display: block;
            line-height: 1.5;
        }
        input {
            display: block;
            width: 100%;
        }
        textarea {
            width: 100%;
            min-height: $line-hight * 4;
        }
        .control-row {
            padding: 0;
        }
    }
    .control-popup {
        --#{theme.$prefix}popup: var(--#{theme.$prefix}body);
        display: none;
        position: absolute;
        border-radius: $radius;
        padding: 0 0 .8rem 0;
        background-color: var(--#{theme.$prefix}popup);
        box-shadow: 0 0 1.25rem var(--#{theme.$prefix}shadow);
        margin-top: .5rem + $line-hight;
        left: 0;
        width: 100%;
        z-index: 102;
        .popup-action {
            text-align: right;
            .btn {
                font-size: .8rem;
                padding: .2rem .4rem;
            }
        }
        .tab-bar-target {
            display: none;
            &.active {
                display: flex;
            }
        }
        .tab-bar {
            display: flex;
            margin: 0 .8rem;
            .item {
                border-radius: 0;
                flex: 1;
                width: auto;
                text-align: center;
                padding: 0;
                &:hover {
                    background: var(--#{theme.$prefix}hover);
                }
                &.active {
                    background: var(--zre--primary);
                    color: var(--zre--primary-text);
                }
            }
        }
        .search-header-bar {
            position: relative;
            margin: .2rem .2rem 0;
            input {
                height: $line-hight;
                width: 100%;
                background-color: transparent;
                outline: 0;
                border: none;
                padding: 0 $iconWidth;
            }
            .fa {
                font-size: .8rem;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                display: block;
                color: var(--#{theme.$prefix}meta-text);
                width: $iconWidth;
                text-align: center;
                line-height: $line-hight;
            }
        }
        .search-body {
            max-height: 15rem;
            overflow-y: auto;
        }
        .icon-option-item {
            margin: .2rem;
            display: inline-flex;
            width: $line-hight;
            height: $line-hight;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--#{theme.$prefix}input);
            color: var(--#{theme.$prefix}input-text);
            border-radius: $radius;
            user-select: none;
            font-size: .6rem;
            line-height: 1;
            .fa {
                font-size: 1rem;
            }
            &.selected {
                background-color: var(--#{theme.$prefix}surface-selected);
                color:  var(--#{theme.$prefix}surface-text);
            }
        }
        &::before {
            border: 0.5rem solid transparent;
            content: "";
            position: absolute;
            top: -1rem;
            right: math.div($line-hight, 2) + .3rem;
            border-bottom-color: var(--#{theme.$prefix}popup);
        }
        &.popup-top {
            transform: translateY(-100%);
            margin-top: 0;
            &::before {
                border: 0.5rem solid transparent;
                border-top-color: var(--#{theme.$prefix}popup);
                top: auto;
                bottom: -.9rem;
            }
        }
        &.open {
            display: block;
        }
    }
    .multiple-control-item {
        display: block;
        .multiple-control-header {
            padding-left: .4rem;
            display: flex;
            justify-content: space-between;
            background-color: var(--#{theme.$prefix}input);
            user-select: none;
            .control-action {
                width: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: var(--#{theme.$prefix}meta-text);
            }
        }
        .multiple-control-body {
            display: none;
            // margin: 0 -.8rem;
            border-radius: 0 0 $radius $radius;
            border: 1px dotted var(--#{theme.$prefix}tertiary);
            border-top: none;
        }
        &:hover {
            .multiple-control-header {
                background-color: var(--#{theme.$prefix}hover);
            }
        }
        &.open {
            .multiple-control-header {
                background-color: var(--#{theme.$prefix}surface);
                color: var(--#{theme.$prefix}surface-text);
            }
            .multiple-control-body {
                display: block;
            }
        }
    }
    .multiple-container,
    .tree-container {
        .multiple-add-btn,
        .tree-add-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $line-hight;
            border-radius: $radius;
            border: 1px solid var(--#{theme.$prefix}tertiary);
        }
    }
    .fa-vertical {
        transform: rotate(90deg);
    }

    .control-dialog-body {
        max-height: 80vh;
        padding: 0 !important;
        overflow: unset !important;
    }

    .tree-item,
    .list-item {
        position: relative;
        .item-icon,
        .item-action-icon,
        .item-open-icon {
            width: $iconWidth;
            text-align: center;
            font-size: .8rem;
            font-weight: 300;
        }
        .item-title {
            flex: 1;
            min-width: 0;
            background-color: transparent;
            outline: 0;
            border: none;
        }
        .item-action-bar {
            position: absolute;
            border-radius: $radius;
            left: 0;
            right: 0;
            top: 0;
            z-index: 2;
            display: none;
            background-color: var(--#{theme.$prefix}input);
            height: $line-hight;
            .fa {
                display: inline-block;
                flex: 1;
                text-align: center;
                line-height: $line-hight;
                &:first-of-type {
                    border-radius: $radius 0 0 $radius;
                }
                &:last-of-type {
                    border-radius: 0 $radius $radius 0;
                }
                &:not(:last-of-type) {
                    border-right: 1px solid var(--#{theme.$prefix}surface);
                }
                &:hover {
                    background-color: var(--#{theme.$prefix}surface);
                    color: var(--#{theme.$prefix}surface-text);
                }
            }
        }
        .item-action-icon {
            &:hover {
                .item-action-bar {
                    display: flex;
                }
            }
        }
    }

    .tree-item .item-body,
    .list-item {
        display: flex;
        position: relative;
        border-radius: $radius;
        line-height: $line-hight;
        background-color: var(--#{theme.$prefix}input);
        margin-bottom: .2rem;
        span {
            flex: 1;
        }
    }

    .list-item {
        &.active {
            border: .1rem solid var(--#{theme.$prefix}surface);
            .item-title {
                color: var(--#{theme.$prefix}surface);
            }
            &::after {
                content: '√';
                display: block;
                position: absolute;
                right: .8rem;
                top: -.2rem;
                background-color: var(--#{theme.$prefix}surface);
                color: var(--#{theme.$prefix}surface-text);
                line-height: 1;
                font-size: .6rem;
                min-width: 2rem;
                padding: .1rem;
                text-align: center;
                border-radius: .2rem;
            }
        }
    }

    .tree-item {
        .item-children {
            margin-left: .8rem;
            display: none;
        }
        .item-open-icon {
            position: absolute;
            left: -$iconWidth;
        }
        
        &.open {
            >.item-body {
                .item-open-icon {
                    transform: rotateZ(90deg);
                }
            }
            >.item-children {
                display: block;
            }
        }
    }

    .list-container {
        padding: .2rem;
    }

    .tree-container {
        position: relative;
        border-radius: $radius;
        padding: .2rem .2rem .2rem 1.2rem;
        border: 1px dotted var(--#{theme.$prefix}tertiary);
        max-height: 20rem;
        overflow: auto;
        margin: 0 -.8rem;
        &.panel-body {
            margin: 0;
            max-height: none;
        }
    }

    .flip-container {
        .flip-back-body {
            display: none;
            border-radius: 0 0 $radius $radius;
            border: 1px dotted var(--#{theme.$prefix}tertiary);
        }
        .flip-action-bar {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--#{theme.$prefix}tertiary);
        }
        .flip-back-btn,
        .flip-save-btn {
            display: inline-block;
            width: 2rem;
            line-height: 2rem;
            text-align: center;
            &:hover {
                background-color: var(--#{theme.$prefix}tertiary);
            }
        }
        &.flip-toggle {
            .flip-front-body {
                display: none;
            }
            .flip-back-body {
                display: block;
            }
        }
    }
    &.visual-mobile-editor {
        flex-direction: column;
        .panel-group {
            order: 1;
            height: 15rem;
            width: 100%;
            position: relative;
        }
        .panel-item {
            width: auto;
            right: 0;
            left: 1.6rem;
            &.min {
                width: 1.6rem;
                .panel-header {
                    padding: 0 .3rem;
                }
            }
        }
    }
}

