@charset "UTF-8";
.style-type-1 {
  font: 1.3em "Vollkorn", "Microsoft YaHei", 微软雅黑, 宋体;
  color: #333;
  line-height: 1.4;
  text-align: justify; }
  .style-type-1 img {
    border: 0;
    max-width: 100%;
    display: block;
    max-height: 50vh; }
  .style-type-1 table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px; }
    .style-type-1 table > thead {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2; }
      .style-type-1 table > thead > tr > th {
        text-align: left;
        border-bottom: 2px solid rgba(0, 0, 0, 0.69);
        padding: 0.25rem 0.5rem; }
      .style-type-1 table > thead > tr > td {
        padding: 0.25rem 0.5rem; }
    .style-type-1 table:not(:first-child) {
      margin-top: 1rem; }
    .style-type-1 table > tbody > tr > th {
      padding: 0.25rem 0.5rem; }
    .style-type-1 table > tbody > tr > td {
      padding: 0.25rem 0.5rem; }
    .style-type-1 table > tbody > tr + tr > td {
      border-top: 1px solid rgba(0, 0, 0, 0.18); }
    .style-type-1 table th,
    .style-type-1 table td {
      padding: 5px;
      text-align: left; }
  .style-type-1 header {
    width: 700px;
    margin: 0 auto; }
  .style-type-1 nav {
    width: 700px;
    margin: 0 auto;
    font-size: .9em;
    font-style: italic;
    border-bottom: 1px solid #ddd;
    padding: 1em 0; }
    .style-type-1 nav p {
      margin: 0; }
  .style-type-1 article {
    width: 700px;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;
    min-height: 400px; }
  .style-type-1 footer {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .style-type-1 video {
    margin: 2em 0;
    border: 1px solid #ddd; }
  .style-type-1 h1 {
    margin-top: 0;
    font-weight: normal;
    font-size: 2.5rem;
    font-weight: normal;
    color: #111;
    line-height: 1.2;
    margin: 1em 0 0.6em; }
    .style-type-1 h1 a {
      color: #333;
      text-decoration: none; }
      .style-type-1 h1 a:hover {
        color: #333;
        text-decoration: none; }
    .style-type-1 h1:first-child {
      margin-top: 0; }
  .style-type-1 h2 {
    font-weight: normal;
    font-size: 2rem;
    font-weight: normal;
    color: #111;
    line-height: 1.2;
    margin: 1em 0 0.6em; }
    .style-type-1 h2:first-child {
      margin-top: 0; }
  .style-type-1 h3 {
    font-weight: normal;
    margin-top: 3em;
    font-size: 1.5rem;
    font-weight: normal;
    color: #111;
    line-height: 1.2;
    margin: 1em 0 0.6em; }
    .style-type-1 h3:first-child {
      margin-top: 0; }
  .style-type-1 p {
    margin-top: 0;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    margin: 0; }
    .style-type-1 p#heart {
      font-size: 2em;
      line-height: 1;
      text-align: center;
      color: #ccc; }
    .style-type-1 p:not(:first-child) {
      margin-top: 1rem; }
  .style-type-1 ul {
    list-style: square;
    padding-left: 1.2em;
    padding: 0 0 0 2rem;
    margin: 0; }
    .style-type-1 ul:not(:first-child) {
      margin-top: 1rem; }
  .style-type-1 ol {
    padding-left: 1.2em;
    padding: 0 0 0 2rem;
    margin: 0; }
    .style-type-1 ol:not(:first-child) {
      margin-top: 1rem; }
  .style-type-1 blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #ddd;
    margin: 0 0 0 0.25rem;
    padding-left: 0.65rem;
    border-left: 0.25rem solid #007acc;
    background: rgba(127, 127, 127, 0.1); }
    .style-type-1 blockquote:not(:first-child) {
      margin-top: 1rem; }
  .style-type-1 a {
    color: #2484c1;
    color: #007acc;
    text-decoration: none; }
    .style-type-1 a:hover {
      text-decoration: underline;
      color: #007acc;
      text-decoration: underline; }
    .style-type-1 a img {
      border: none; }
    .style-type-1 a:visited {
      color: #007acc; }
    .style-type-1 a:active {
      text-decoration: underline; }
  .style-type-1 hr {
    color: #ddd;
    height: 1px;
    margin: 2em 0;
    border-top: solid 1px #ddd;
    border-bottom: none;
    border-left: 0;
    border-right: 0;
    display: block;
    border: 0;
    height: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    margin: 0; }
    .style-type-1 hr:not(:first-child) {
      margin-top: 1rem; }
  .style-type-1 .red {
    color: #b50000; }
  .style-type-1 h4 {
    font-weight: normal;
    color: #111;
    line-height: 1.2;
    margin: 1em 0 0.6em;
    font-weight: bold;
    color: #444;
    font-size: 1.2rem; }
    .style-type-1 h4:first-child {
      margin-top: 0; }
  .style-type-1 h5 {
    font-weight: normal;
    color: #111;
    line-height: 1.2;
    margin: 1em 0 0.6em;
    font-weight: bold;
    color: #444;
    font-size: 1.1rem; }
    .style-type-1 h5:first-child {
      margin-top: 0; }
  .style-type-1 h6 {
    font-weight: normal;
    color: #111;
    line-height: 1.2;
    margin: 1em 0 0.6em;
    font-weight: bold;
    color: #444;
    font-size: 0.9rem; }
    .style-type-1 h6:first-child {
      margin-top: 0; }
  .style-type-1 b {
    font-weight: bold; }
  .style-type-1 strong {
    font-weight: bold; }
  .style-type-1 i {
    font-style: italic; }
  .style-type-1 em {
    font-style: italic; }
  .style-type-1 s {
    text-decoration: line-through; }
  .style-type-1 del {
    text-decoration: line-through; }
  .style-type-1 sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25rem; }
  .style-type-1 sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5rem; }
  .style-type-1 code {
    font-family: Menlo, Monaco, Consolas, Droid Sans Mono, Courier New, monospace, Microsoft YaHei, 微软雅黑, 宋体;
    background: rgba(127, 127, 127, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0.25rem;
    font-size: .9em; }
  .style-type-1 pre {
    white-space: pre;
    margin: 0; }
    .style-type-1 pre > code {
      background: rgba(127, 127, 127, 0.05);
      display: block;
      padding: 0.65rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.18);
      overflow: auto; }
    .style-type-1 pre:not(:first-child) {
      margin-top: 1rem; }

* {
  padding: 0;
  margin: 0; }

.book-skin {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  min-height: 300px; }
  .book-skin a {
    text-decoration: none;
    color: #333; }
  .book-skin .book-title {
    line-height: 100px;
    text-align: center; }
    .book-skin .book-title .book-nav > li {
      list-style: none;
      display: none; }
      .book-skin .book-title .book-nav > li.active {
        display: inline-block;
        font-size: 30px;
        line-height: 40px; }
      .book-skin .book-title .book-nav > li.book-back {
        position: absolute;
        left: 0; }
      .book-skin .book-title .book-nav > li.book-navicon {
        display: none; }
      .book-skin .book-title .book-nav > li.book-search {
        position: absolute;
        right: 0; }
        .book-skin .book-title .book-nav > li.book-search .fa {
          position: absolute;
          top: 40px;
          left: 5px;
          font-size: 20px;
          color: #f9cfa6; }
        .book-skin .book-title .book-nav > li.book-search input {
          font-size: 20px;
          padding-left: 25px;
          background: transparent;
          border: 1px solid #f9cfa6;
          display: none; }
        .book-skin .book-title .book-nav > li.book-search .search-tip {
          position: absolute;
          top: 63px;
          z-index: 99;
          line-height: 25px;
          background: #f9cfa6;
          width: 100%;
          display: none; }
          .book-skin .book-title .book-nav > li.book-search .search-tip li {
            list-style: none; }
            .book-skin .book-title .book-nav > li.book-search .search-tip li:hover {
              background: #af5d0d;
              color: #fff; }
        .book-skin .book-title .book-nav > li.book-search input:focus + .search-tip,
        .book-skin .book-title .book-nav > li.book-search.focus .search-tip {
          display: block; }
        .book-skin .book-title .book-nav > li.book-search.focus input {
          display: inline-block; }
    .book-skin .book-title .book-nav:hover > li, .book-skin .book-title .book-nav.hover > li {
      display: inline-block; }
      .book-skin .book-title .book-nav:hover > li.book-navicon, .book-skin .book-title .book-nav.hover > li.book-navicon {
        display: none; }
  .book-skin .book-body {
    margin-right: 200px;
    background-color: #f9cfa6;
    padding: 30px 15px;
    min-height: 800px;
    position: relative; }
    .book-skin .book-body .book-fork img {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      z-index: 99; }
    .book-skin .book-body .book-term {
      margin-bottom: 20px; }
      .book-skin .book-body .book-term .term-info {
        position: relative;
        min-height: 50px; }
        .book-skin .book-body .book-term .term-info img {
          width: 100%; }
        .book-skin .book-body .book-term .term-info h3 {
          position: absolute;
          bottom: 4px;
          line-height: 50px;
          display: block;
          background: rgba(0, 0, 0, 0.6);
          width: 100%;
          color: #fff;
          padding: 0 10px;
          box-sizing: border-box; }
    .book-skin .book-body .book-sort {
      position: absolute;
      right: 25px;
      top: -30px; }
      .book-skin .book-body .book-sort a {
        display: inline-block;
        width: 50px;
        line-height: 30px;
        text-align: center;
        position: relative;
        background: #f9cfa6; }
        .book-skin .book-body .book-sort a:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          left: 0;
          bottom: -50px;
          border: transparent 25px solid;
          border-top-color: rgba(0, 0, 0, 0.6); }
        .book-skin .book-body .book-sort a.active {
          background: #af5d0d;
          color: #fff; }
          .book-skin .book-body .book-sort a.active:after {
            border-top-color: #af5d0d; }
    .book-skin .book-body .book-item {
      margin: 0 -15px;
      padding: 15px 20px 5px;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      transition: box-shadow 1s; }
      .book-skin .book-body .book-item dt {
        font-size: 20px;
        font-weight: 600; }
        .book-skin .book-body .book-item dt .book-time {
          float: right;
          text-align: right; }
      .book-skin .book-body .book-item dd p {
        margin: 5px 0;
        min-height: 40px; }
      .book-skin .book-body .book-item dd .author,
      .book-skin .book-body .book-item dd .comment,
      .book-skin .book-body .book-item dd .category,
      .book-skin .book-body .book-item dd .language {
        margin-right: 20px; }
      .book-skin .book-body .book-item dd .agree,
      .book-skin .book-body .book-item dd .disagree {
        float: right;
        margin-left: 10px; }
      .book-skin .book-body .book-item:hover dd, .book-skin .book-body .book-item:nth-child(2) dd, .book-skin .book-body .book-item:nth-child(3) dd, .book-skin .book-body .book-item:nth-child(4) dd {
        display: block; }
      .book-skin .book-body .book-item:hover {
        box-shadow: rgba(33, 33, 33, 0.7) 0 0 10px; }
      .book-skin .book-body .book-item:not(:last-child) {
        border-bottom: 1px solid #af5d0d; }
      .book-skin .book-body .book-item.fade-pre-item {
        visibility: hidden; }
      .book-skin .book-body .book-item.fade-item {
        -webkit-animation-name: fadeInLeft;
                animation-name: fadeInLeft;
        background: #f9cfa6;
        border-bottom: none;
        visibility: visible; }
    .book-skin .book-body .info {
      border-bottom: 1px dotted #af5d0d;
      line-height: 40px; }
      .book-skin .book-body .info span,
      .book-skin .book-body .info a {
        margin-right: 20px; }
    .book-skin .book-body .content {
      margin-bottom: 40px; }
      .book-skin .book-body .content a {
        color: #06a; }
    .book-skin .book-body .tools {
      border-top: 1px dotted #af5d0d;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      right: 15px;
      left: 15px;
      font-size: 20px; }
      .book-skin .book-body .tools .agree,
      .book-skin .book-body .tools .disagree {
        float: right;
        margin-left: 20px; }
  .book-skin .book-footer.comment {
    margin-top: 50px;
    margin-right: 200px;
    background: #f9cfa6;
    padding: 15px;
    position: relative; }

.book-pager {
  float: left; }
  .book-pager li {
    list-style: none;
    background: #f9cfa6;
    width: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    border-top: 1px dotted #af5d0d; }
    .book-pager li a {
      display: block; }
    .book-pager li.active {
      background: #af5d0d;
      color: #fff; }
    .book-pager li:hover {
      font-weight: 700; }
      .book-pager li:hover a {
        color: #af5d0d; }

.book-comments .reply-hide {
  display: none; }

.book-comments .title {
  font-size: 20px;
  border-left: 5px solid #af5d0d;
  padding-left: 10px;
  margin-top: 15px; }
  .book-comments .title .order {
    float: right;
    font-size: 12px; }
    .book-comments .title .order .active {
      color: #f00; }

.book-comments .comment-item {
  padding: 8px 0;
  position: relative; }
  .book-comments .comment-item .info {
    line-height: 30px; }
    .book-comments .comment-item .info .user {
      font-weight: 600; }
    .book-comments .comment-item .info .time {
      margin-left: 20px;
      color: #767676; }
    .book-comments .comment-item .info .floor {
      float: right; }
  .book-comments .comment-item .content p {
    margin: 5px 0; }
  .book-comments .comment-item .content .expand {
    font-size: 12px; }
  .book-comments .comment-item .content .comment,
  .book-comments .comment-item .content .report {
    float: right;
    margin-left: 20px; }
  .book-comments .comment-item .actions {
    position: absolute;
    right: -215px;
    width: 200px;
    text-align: center;
    top: 30px;
    background: #f9cfa6;
    font-size: 20px;
    line-height: 40px; }
    .book-comments .comment-item .actions span {
      padding: 0 3px; }
  .book-comments .comment-item .comments {
    padding-left: 100px;
    margin-top: 8px;
    border-top: 1px solid #af5d0d; }
    .book-comments .comment-item .comments .comment-item:last-child {
      border: none;
      padding-bottom: 0; }
  .book-comments .comment-item:not(:last-child) {
    border-bottom: 1px solid #af5d0d; }

.book-comments.hot-comments .title {
  margin-top: 0; }

.book-comments.hot-comments .comment-item .comments {
  display: none; }

.book-comments.hot-comments .comment-item.active .comments {
  display: block; }

.book-comments .book-comment-form .btn-cancel {
  display: inline-block; }

.book-sidebar {
  position: absolute;
  width: 200px;
  right: 0;
  top: 130px; }
  .book-sidebar .book-chapter li,
  .book-sidebar .book-new li {
    background: #f9cfa6;
    list-style: none;
    width: 150px;
    line-height: 30px;
    padding-left: 20px;
    box-sizing: border-box; }
    .book-sidebar .book-chapter li .fa,
    .book-sidebar .book-new li .fa {
      margin-right: 5px; }
    .book-sidebar .book-chapter li.active,
    .book-sidebar .book-new li.active {
      background: #af5d0d;
      color: #fff;
      width: 200px; }
      .book-sidebar .book-chapter li.active:hover,
      .book-sidebar .book-new li.active:hover {
        width: 200px; }
      .book-sidebar .book-chapter li.active a,
      .book-sidebar .book-new li.active a {
        color: #fff; }
    .book-sidebar .book-chapter li:hover,
    .book-sidebar .book-new li:hover {
      width: 175px; }
    .book-sidebar .book-chapter li:not(:last-child),
    .book-sidebar .book-new li:not(:last-child) {
      border-bottom: 1px solid #af5d0d; }
  .book-sidebar .book-new {
    margin-top: 50px; }
    .book-sidebar .book-new h3 {
      padding-left: 10px; }
    .book-sidebar .book-new li {
      width: 100%; }

.book-dynamic {
  margin-top: 50px; }
  .book-dynamic h3 {
    padding-left: 10px; }
  .book-dynamic dl {
    background: #f9cfa6;
    border-bottom: 1px solid #af5d0d; }
    .book-dynamic dl dt {
      line-height: 30px;
      font-size: 12px; }
      .book-dynamic dl dt a {
        font-size: 16px;
        font-weight: 600; }
    .book-dynamic dl dd {
      display: none; }
      .book-dynamic dl dd .book-time {
        text-align: right;
        display: block; }
      .book-dynamic dl dd p {
        margin: 5px 0; }
    .book-dynamic dl:hover dt {
      background: #af5d0d;
      color: #fff; }
    .book-dynamic dl:hover dd {
      display: block; }

.book-side-nav li {
  font-size: 12px;
  background: #f9cfa6;
  list-style: none;
  width: 150px;
  line-height: 30px;
  border-bottom: 1px solid #af5d0d;
  padding-left: 20px;
  box-sizing: border-box; }
  .book-side-nav li.nav-level-0 {
    font-size: 14px;
    font-weight: 600; }
  .book-side-nav li.nav-level-1 {
    width: 175px;
    color: #767676; }
  .book-side-nav li.nav-level-2 {
    color: #767676;
    width: 200px; }
  .book-side-nav li.active {
    background: #af5d0d;
    color: #fff; }
    .book-side-nav li.active a {
      color: #fff; }
  .book-side-nav li.nav-title {
    text-align: center;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    border-bottom-width: 3px; }

.book-comment-form .title {
  font-size: 20px;
  border-left: 5px solid #af5d0d;
  padding-left: 10px;
  margin-top: 15px; }

.book-comment-form .form-table {
  display: table;
  width: 100%; }
  .book-comment-form .form-table .form-group {
    display: table-row; }
    .book-comment-form .form-table .form-group label {
      line-height: 30px;
      width: 200px;
      display: table-cell;
      text-align: center; }
    .book-comment-form .form-table .form-group input,
    .book-comment-form .form-table .form-group select {
      display: table-cell;
      background: transparent;
      border: none;
      border-bottom: 1px solid #af5d0d;
      font-size: 20px;
      width: 100%; }

.book-comment-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  background: transparent;
  border: 1px solid #af5d0d;
  font-size: 20px; }

.book-comment-form button {
  line-height: 30px;
  background: #af5d0d;
  padding: 0 20px;
  border: none; }

.book-comment-form .btn-cancel {
  display: none; }

.book-clear {
  clear: both; }

.footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center; }

@media screen and (max-width: 1200px) {
  .book-skin {
    width: 100%; } }

@media screen and (max-width: 769px) {
  .book-skin .book-title .book-nav > li.book-navicon {
    display: inline-block;
    position: absolute;
    left: 0;
    font-size: 30px;
    padding: 0 10px; }
  .book-skin .book-title .book-nav > li.book-search {
    position: relative;
    left: 0;
    line-height: 30px; }
    .book-skin .book-title .book-nav > li.book-search .fa {
      left: 5px;
      top: 5px; }
    .book-skin .book-title .book-nav > li.book-search input {
      width: 100%;
      box-sizing: border-box;
      display: block;
      line-height: 30px; }
    .book-skin .book-title .book-nav > li.book-search .search-tip {
      position: static; }
  .book-skin .book-title .book-nav > li.active {
    font-size: 20px;
    padding-left: 50px;
    line-height: 34px; }
  .book-skin .book-title .book-nav.hover > li, .book-skin .book-title .book-nav:hover > li {
    display: none; }
    .book-skin .book-title .book-nav.hover > li.active, .book-skin .book-title .book-nav.hover > li.book-navicon, .book-skin .book-title .book-nav:hover > li.active, .book-skin .book-title .book-nav:hover > li.book-navicon {
      display: inline-block; }
  .book-skin .book-body {
    margin-right: 0;
    padding: 30px 8px; }
    .book-skin .book-body .book-item {
      margin: 0 -8px;
      padding: 15px 13px 5px; }
      .book-skin .book-body .book-item dd {
        display: block; }
        .book-skin .book-body .book-item dd .author,
        .book-skin .book-body .book-item dd .category,
        .book-skin .book-body .book-item dd .comment,
        .book-skin .book-body .book-item dd .agree,
        .book-skin .book-body .book-item dd .click {
          font-size: 12px; }
      .book-skin .book-body .book-item .book-time {
        font-size: 12px;
        width: 70px; }
    .book-skin .book-body .info,
    .book-skin .book-body .tools {
      font-size: 12px; }
    .book-skin .book-body .content {
      word-wrap: break-word;
      word-break: normal;
      width: 100%;
      display: block;
      position: relative;
      overflow-x: auto; }
      .book-skin .book-body .content * {
        word-break: normal;
        width: auto;
        white-space: pre-wrap;
        word-wrap: break-word; }
  .book-skin .book-sidebar .book-chapter {
    position: static;
    margin-bottom: 30px;
    width: 100%;
    display: none; }
    .book-skin .book-sidebar .book-chapter li {
      width: 100%; }
      .book-skin .book-sidebar .book-chapter li.active {
        width: 100%;
        background: #af5d0d;
        color: #fff; }
        .book-skin .book-sidebar .book-chapter li.active:hover {
          width: 100%; }
        .book-skin .book-sidebar .book-chapter li.active a {
          color: #fff; }
      .book-skin .book-sidebar .book-chapter li:hover {
        width: 100%;
        background: #d39357;
        color: #fff; }
  .book-skin .book-sidebar .book-dynamic,
  .book-skin .book-sidebar .book-new,
  .book-skin .book-sidebar .book-side-nav {
    display: none; }
  .book-skin .book-footer .book-comments .comment-item .content .report,
  .book-skin .book-footer .book-comments .comment-item .content .comment {
    margin-left: 8px; }
  .book-skin .book-footer .book-comments .comment-item .actions {
    position: static;
    width: auto;
    float: right;
    line-height: 20px;
    font-size: 16px; }
  .book-skin .book-footer .book-comments .comment-item .time,
  .book-skin .book-footer .book-comments .comment-item .floor {
    font-size: 12px; }
  .book-skin .book-footer.comment {
    margin-right: 0; }
  .book-skin.book-collapsed .book-title .book-nav > li.book-navicon .fa:before {
    content: "\f00d"; }
  .book-skin.book-collapsed .book-title .book-nav > li.book-search {
    display: block; }
    .book-skin.book-collapsed .book-title .book-nav > li.book-search input {
      display: block; }
    .book-skin.book-collapsed .book-title .book-nav > li.book-search .search-tip {
      position: static;
      display: block; }
  .book-skin.book-collapsed .book-title .book-nav.hover > li, .book-skin.book-collapsed .book-title .book-nav:hover > li {
    display: inline-block; }
    .book-skin.book-collapsed .book-title .book-nav.hover > li.book-search, .book-skin.book-collapsed .book-title .book-nav:hover > li.book-search {
      display: block; }
  .book-skin.book-collapsed .book-title.book-mobile-inline .book-nav > li {
    display: block;
    line-height: 30px; }
    .book-skin.book-collapsed .book-title.book-mobile-inline .book-nav > li.book-back {
      position: static;
      font-size: 20px;
      font-weight: 700;
      text-align: right;
      padding-right: 20px; }
  .book-skin.book-collapsed .book-body {
    margin-top: 40px; }
  .book-skin.book-collapsed .book-sidebar {
    position: static;
    width: 100%; }
    .book-skin.book-collapsed .book-sidebar .book-chapter {
      display: block; }
  .book-comment-form .form-table .form-group label {
    width: 100px; } }

.micro-skin {
  width: 600px;
  margin: 0 auto; }
  .micro-skin .micro-publish {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px; }
    .micro-skin .micro-publish .input textarea {
      width: 100%;
      height: 80px;
      resize: none; }
    .micro-skin .micro-publish .actions {
      position: relative;
      text-align: right; }
      .micro-skin .micro-publish .actions .tools {
        float: left; }
  .micro-skin .micro-item {
    background-color: #fff;
    margin-bottom: 20px; }
    .micro-skin .micro-item .body {
      padding: 10px;
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-gap: 10px; }
      .micro-skin .micro-item .body .avatar img {
        width: 50px;
        height: 50px; }
      .micro-skin .micro-item .body .name {
        font-weight: 700px;
        color: #000;
        font-size: 20px; }
      .micro-skin .micro-item .body .time,
      .micro-skin .micro-item .body .from {
        color: #777;
        font-size: 12px; }
    .micro-skin .micro-item .ations {
      display: flex;
      justify-content: space-around;
      flex-flow: row nowrap;
      line-height: 40px;
      border-top: 1px solid;
      border-bottom: 1px solid; }
      .micro-skin .micro-item .ations a {
        display: inline-block;
        text-align: center;
        width: 25%; }
        .micro-skin .micro-item .ations a:not(:last-child) {
          border-right: 1px solid #333; }
        .micro-skin .micro-item .ations a.active {
          color: #f00; }
  .micro-skin .comment-box {
    padding: 10px 20px 0;
    background-color: #f7f0f0;
    display: none; }
    .micro-skin .comment-box .comment-publish {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-gap: 10px; }
      .micro-skin .comment-box .comment-publish .avatar img {
        width: 30px;
        height: 30px; }
      .micro-skin .comment-box .comment-publish .input textarea {
        width: 100%;
        height: 30px;
        resize: none; }
      .micro-skin .comment-box .comment-publish .actions {
        text-align: right; }
        .micro-skin .comment-box .comment-publish .actions .tools {
          float: left; }
    .micro-skin .comment-box .comment-item {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-gap: 10px;
      padding: 10px; }
      .micro-skin .comment-box .comment-item .avatar img {
        width: 30px;
        height: 30px; }
      .micro-skin .comment-box .comment-item .text a {
        color: #eb7350; }
      .micro-skin .comment-box .comment-item .actions .time {
        color: #777;
        font-size: 12px; }
      .micro-skin .comment-box .comment-item .actions .tools {
        float: right; }
        .micro-skin .comment-box .comment-item .actions .tools a {
          padding: 0 10px; }
          .micro-skin .comment-box .comment-item .actions .tools a:not(:last-child) {
            border-right: 1px solid #333; }
      .micro-skin .comment-box .comment-item:not(:last-child) {
        border-bottom: 1px solid #333; }

/*# sourceMappingURL=blog.css.map */
