.debugger-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #333;
  z-index: 9999;
  border: 1px solid #c9c9c9;
  background: #EDEAE0;
  min-width: 50px;
  max-width: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15); }
  .debugger-bar .bar-title {
    cursor: pointer;
    padding: 0 8px;
    position: relative; }
    .debugger-bar .bar-title .error-count {
      background: #CD1818;
      color: #fff;
      display: block;
      border-radius: 50%;
      width: 20px;
      position: absolute;
      text-align: center;
      left: -13px;
      top: -10px; }
    .debugger-bar .bar-title .fa-close::before {
      content: "\f00d"; }
  .debugger-bar .bar-info {
    display: none;
    max-height: 200px;
    overflow-y: auto;
    background: #f9cfa6; }
    .debugger-bar .bar-info table {
      border-collapse: collapse; }
      .debugger-bar .bar-info table tr {
        cursor: pointer; }
        .debugger-bar .bar-info table tr:hover {
          color: #CD1818; }
      .debugger-bar .bar-info table .error-tr {
        background: #CD1818;
        color: #fff; }
      .debugger-bar .bar-info table .header-tr {
        background-color: #faf0e7; }
        .debugger-bar .bar-info table .header-tr td {
          line-height: 30px;
          font-weight: 600;
          border: none; }
      .debugger-bar .bar-info table td {
        line-height: 20px;
        text-align: left;
        border: 1px solid #af5d0d; }
    .debugger-bar .bar-info::-webkit-scrollbar {
      height: 6px;
      width: 6px;
      margin-right: 5px;
      background: #f5f5f5;
      transition: all 0.3s ease-in-out;
      border-radius: 0px; }
    .debugger-bar .bar-info::-webkit-scrollbar-track {
      border-radius: 0px; }
    .debugger-bar .bar-info::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background: rgba(0, 0, 0, 0.5); }
      .debugger-bar .bar-info::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.6); }
      .debugger-bar .bar-info::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, 0.8); }
      .debugger-bar .bar-info::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0, 0, 0, 0.4); }
  .debugger-bar:hover {
    opacity: 1;
    transition: opacity 0.1s; }
  .debugger-bar.expanded .bar-title .fa-close {
    float: right; }
  .debugger-bar.expanded .bar-info {
    display: block; }

.debugger-blue-screen {
  word-break: break-all; }
  .debugger-blue-screen .bs-header {
    background: #CD1818;
    color: white;
    font-size: 13pt;
    padding: 30px 25px; }
  .debugger-blue-screen .panel {
    position: relative;
    background: #fff; }
    .debugger-blue-screen .panel .panel-header {
      line-height: 30px;
      background: #af5d0d;
      border-bottom: 1px solid #af5d0d;
      padding: 0 25px;
      color: #fff; }
      .debugger-blue-screen .panel .panel-header .name {
        line-height: 30px;
        font-size: 20px; }
    .debugger-blue-screen .panel .panel-body {
      display: none;
      box-sizing: border-box;
      padding: 0 25px;
      border-bottom: 1px solid #f9cfa6; }
      .debugger-blue-screen .panel .panel-body .panel .panel-header {
        background: #f9cfa6;
        color: #333; }
      .debugger-blue-screen .panel .panel-body .highlight {
        background: #CD1818;
        color: #fff; }
    .debugger-blue-screen .panel .func-val {
      color: #f00;
      display: inline-block;
      max-width: 200px;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .debugger-blue-screen .panel .func-val-box {
      line-height: 30px;
      background-color: #f9cfa6; }
      .debugger-blue-screen .panel .func-val-box label {
        display: inline-block;
        min-width: 100px;
        text-align: right; }
      .debugger-blue-screen .panel .func-val-box code {
        background: rgba(127, 127, 127, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.18);
        display: block;
        overflow: auto; }
    .debugger-blue-screen .panel.expanded > .panel-body {
      display: block; }

.debugger-error {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative; }
  .debugger-error .error-content {
    text-align: center; }
    .debugger-error .error-content .title {
      font-size: 36px;
      padding: 20px; }

/*# sourceMappingURL=debugger.css.map */
