*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  margin-right: 5px;
  background: #f5f5f5;
  transition: all 0.3s ease-in-out;
  border-radius: 0px; }

*::-webkit-scrollbar-track {
  border-radius: 0px; }

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.5); }
  *::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6); }
  *::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.8); }
  *::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4); }

.page-header {
  height: 30px;
  background: transparent; }
  .page-header .actions {
    right: 20px; }
    .page-header .actions button {
      background: #000;
      color: #fff;
      line-height: 30px;
      padding: 0 8px;
      margin: 0;
      border: none; }
      .page-header .actions button.active {
        background: #888; }

.checkbox {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-align: center; }
  .checkbox:before {
    content: "\f096"; }
  .checkbox.checked:before {
    content: "\f046"; }

.table-header {
  background: #333;
  color: #fff;
  line-height: 40px; }
  .table-header span {
    line-height: 40px; }
  .table-header .btn {
    padding: 0 10px; }

.table-body .row {
  line-height: 30px; }
  .table-body .row .row-tools {
    display: none; }
  .table-body .row .share_time .hover-hide {
    font-size: 12px; }
  .table-body .row:hover {
    background: rgba(0, 0, 0, 0.1); }
    .table-body .row:hover .row-tools {
      display: block; }
    .table-body .row:hover .hover-hide {
      display: none; }
  .table-body .row .row-edit {
    display: none;
    width: 80%; }
    .table-body .row .row-edit input {
      height: 30px;
      width: 80%; }
  .table-body .row .row-editable .row-name {
    display: none; }
  .table-body .row .row-editable .row-edit {
    display: inline-block; }

.grid-box .col-md-2 {
  box-sizing: border-box; }
  .grid-box .col-md-2 .file-icon {
    position: relative;
    text-align: center; }
    .grid-box .col-md-2 .file-icon .checkbox {
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
    .grid-box .col-md-2 .file-icon .fa {
      font-size: 60px;
      line-height: 90px; }
  .grid-box .col-md-2 .row-name {
    display: block;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    text-align: center; }
  .grid-box .col-md-2.active, .grid-box .col-md-2:hover {
    border: 1px solid; }
    .grid-box .col-md-2.active .checkbox, .grid-box .col-md-2:hover .checkbox {
      display: block; }

.crumb-box .col-xs-2 {
  text-align: right;
  padding: 8px 15px; }

.dropdown {
  position: relative;
  background: #333;
  color: #fff;
  display: inline-block; }
  .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background: #888;
    color: #fff;
    width: 100%;
    z-index: 99;
    text-align: center;
    line-height: 30px; }
    .dropdown .dropdown-menu li {
      list-style: none; }
      .dropdown .dropdown-menu li a {
        color: #fff;
        text-decoration: none; }
      .dropdown .dropdown-menu li:hover {
        background: #333; }
  .dropdown:hover .dropdown-menu {
    display: block; }

.dialog.dialog-box .dialog-body.zd-tab {
  padding: 0; }
  .dialog.dialog-box .dialog-body.zd-tab .zd-tab-body {
    margin-top: 10px; }
    .dialog.dialog-box .dialog-body.zd-tab .zd-tab-body .form-control {
      font-size: 20px;
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #333;
      padding: 5px; }

.dialog.dialog-box .dialog-body .row {
  margin: 0; }

#shareModal {
  width: 600px; }

.dialog.dialog-box.upload-dialog {
  right: 0;
  bottom: 0;
  width: 50%; }
  .dialog.dialog-box.upload-dialog .dialog-body .file-box {
    max-height: 200px;
    overflow-y: auto; }
    .dialog.dialog-box.upload-dialog .dialog-body .file-box .row:hover {
      background: rgba(0, 0, 0, 0.1); }
  .dialog.dialog-box.upload-dialog.max {
    display: block; }
  .dialog.dialog-box.upload-dialog.min {
    height: 40px;
    width: 100px;
    display: block; }

.tree-box .tree-item {
  display: block;
  white-space: nowrap;
  text-decoration: none; }
  .tree-box .tree-item > span {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    vertical-align: middle; }
    .tree-box .tree-item > span:first-child, .tree-box .tree-item > span:nth-child(2) {
      display: inline-block;
      width: 20px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased; }
    .tree-box .tree-item > span:first-child:before {
      content: "\f054"; }
    .tree-box .tree-item > span:nth-child(2):before {
      content: "\f07b"; }
  .tree-box .tree-item:hover {
    background: #f4f9fd;
    border-color: #e5f0fb; }

.tree-box li {
  list-style: none; }
  .tree-box li ul {
    display: none; }
  .tree-box li.open > ul {
    display: block; }
  .tree-box li.open > .tree-item > span:first-child:before {
    content: "\f078"; }
  .tree-box li.open > .tree-item > span:nth-child(2):before {
    content: "\f07c"; }
  .tree-box li.open > .tree-item.empty > span:first-child:before {
    content: " "; }
  .tree-box li.open > .tree-item.empty > span:nth-child(2):before {
    content: "\f07b"; }
  .tree-box li.active > .tree-item {
    background: #e5f0fb;
    border-color: #BBD4EF #fff; }

.app-box {
  text-align: center; }
  .app-box .app-icon img {
    width: 6.25rem;
    width: 6.25rem; }
  .app-box .app-name {
    font-size: 1.875rem;
    margin: 0.625rem; }
  .app-box .app-url {
    display: block;
    background: #333;
    color: #fff;
    padding: 0.625rem 1.875rem;
    width: 12.5rem;
    margin: 0 auto; }
  .app-box .app-qr img {
    width: 12.5rem;
    height: 12.5rem; }

/*# sourceMappingURL=disk.css.map */
