body {
  background-color: #f4f4f4; }

a {
  color: #333;
  text-decoration: none; }

.container {
  margin: 0 auto;
  max-width: 800px; }

header,
footer {
  background-color: #333;
  color: #fff; }
  header a,
  footer a {
    color: #fff; }
  header ul,
  header li,
  footer ul,
  footer li {
    list-style: none; }

footer {
  padding: 20px 0; }
  footer .copyright {
    text-align: center; }

.friend-link {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 1fr; }
  .friend-link > div:first-child {
    border-right: 5px solid #fff;
    text-align: center; }

.nav-bar li {
  line-height: 60px;
  height: 60px;
  display: inline-block;
  padding: 0 20px; }
  .nav-bar li:hover {
    border-bottom: 3px solid #fff; }

.metro-grid {
  margin: 50px 0;
  display: flex;
  align-items: baseline;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center; }
  .metro-grid a {
    display: block;
    line-height: 80px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    margin: 8px;
    box-shadow: rgba(51, 51, 51, 0.7) 0 0 10px; }

.panel {
  background-color: #fff;
  margin-bottom: 20px; }
  .panel .panel-header {
    line-height: 50px;
    padding-left: 20px;
    border-left: 5px solid #333;
    font-size: 20px;
    font-weight: 700; }
  .panel .panel-body .list-item {
    display: grid;
    grid-template-columns: 1fr 100px;
    line-height: 40px;
    padding-left: 20px; }
    .panel .panel-body .list-item .name {
      height: 40px;
      overflow: hidden; }
    .panel .panel-body .list-item .time {
      text-align: right;
      color: #ccc; }
    .panel .panel-body .list-item:hover {
      box-shadow: rgba(51, 51, 51, 0.7) 0 0 10px; }

.btn-show {
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s; }
  .btn-show:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .btn-show:hover, .btn-show:focus, .btn-show:active {
    color: white; }
  .btn-show:hover:before, .btn-show:focus:before, .btn-show:active:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.contact {
  padding: 20px; }
  .contact .heading p {
    color: #b3b1b1;
    font-size: 15px;
    margin: 1.2% 0px;
    font-family: 'Play-Regular';
    line-height: 1.6em; }
  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    width: 100%;
    padding: 12px 12px;
    border: 1px solid #BDBCBC;
    font-size: 15px;
    margin-bottom: 1.5em;
    color: #808080;
    outline: none;
    font-weight: 400;
    font-family: 'Play-Regular'; }
  .contact textarea {
    resize: none;
    height: 192px; }
  .contact button {
    width: 100px;
    border: 1px solid #333;
    border-radius: 0; }

.about,
.contact {
  background-color: #fff;
  padding: 20px; }

.about {
  margin-top: 50px;
  margin-bottom: 30px; }

.contact {
  margin-bottom: 50px; }

.about-top {
  text-align: center; }

.about-bottom h4 {
  color: #222222;
  font-size: 1.2em;
  margin: 2.1% 0px 0px;
  line-height: 1.3em;
  font-family: 'Play-Regular'; }

.about-bottom p {
  color: #b3b1b1;
  font-size: 15px;
  margin: 5px 0px 0px;
  font-family: 'Play-Regular';
  line-height: 1.6em; }

.heading h3,
.heading h1,
.heading h2 {
  color: #333;
  font-size: 2.1em;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase; }

/*# sourceMappingURL=home.css.map */
