.main-container {
  padding-top: 30vh;
  transition: all 0.5s;
  min-height: 90vh;
}
.main-container.on-search {
  padding-top: 0;
}

.open-icon {
  width: 8rem;
  position: relative;
  margin: 0 auto;
  padding: 2rem 0;
  cursor: pointer;
  margin-top: 30vh;
  margin-bottom: 2rem;
  transition: all 0.5s;
}
.open-icon::after, .open-icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 4rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: #fff;
  transition: all 0.5s;
}
.open-icon::before {
  transform: rotateZ(-30deg);
  transform-origin: 4rem 0;
}
.open-icon::after {
  left: 4rem;
  transform: rotateZ(30deg);
  transform-origin: 0 0;
}
.open-icon:hover::after, .open-icon:hover::before {
  background-color: #f90;
}
.open-icon.opened {
  margin-top: 0;
  margin-bottom: 0;
}
.open-icon.opened::after, .open-icon.opened::before {
  transform: rotateZ(0deg);
}

.loading-tip,
.empty-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 60vh;
  color: #ccc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-box {
  position: relative;
  margin: 1.875rem auto 2.5rem;
  width: 43.75rem;
}
.search-box .search-input {
  position: relative;
}
.search-box .search-input .search-icon {
  position: absolute;
  left: 0.1875rem;
  top: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 1.5625rem;
  background-size: 100%;
  cursor: pointer;
}
.search-box .search-input input {
  width: 100%;
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 1rem;
  color: #999;
  border: none;
  outline: none;
  padding: 0 2.8125rem;
  border: 1px solid #e6e6e6;
}
.search-box .search-input .search-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.125rem;
  line-height: 3rem;
  background: transparent;
  border: none;
  font-size: 1.5625rem;
  color: #ddd;
  font-weight: bold;
  outline: none;
  padding: 0 0.625rem;
}
.search-box .search-input .clear-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.125rem;
  line-height: 3rem;
  background: transparent;
  border: none;
  font-size: 1.5625rem;
  color: #ddd;
  font-weight: bold;
  outline: none;
  padding: 0 0.625rem;
}
.search-box .suggest-body,
.search-box .history-body {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  border-radius: 0 0 0.625rem 0.625rem;
  background: #FFF;
  box-shadow: 0px 4px 5px 0px #cccccc94;
  overflow: hidden;
}
.search-box .suggest-body li,
.search-box .history-body li {
  border-top: 1px solid #f2f2f2;
  line-height: 1.875rem;
  font-size: 0.875rem;
  padding: 0 1.5625rem;
  color: #777;
  cursor: pointer;
}
.search-box .suggest-body li .item-no,
.search-box .history-body li .item-no {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
  background: #e5e5e5;
  margin-right: 0.625rem;
  border-radius: 0.625rem;
  color: #999;
}
.search-box .suggest-body li.active,
.search-box .history-body li.active {
  background-color: rgba(153, 153, 153, 0.1);
}
.search-box .history-body li {
  display: flex;
}
.search-box .history-body li .item-text {
  flex: 1;
}
.search-box .history-body .clear-line {
  display: block;
  text-align: center;
}
.search-box .search-engine {
  position: absolute;
  top: 3.75rem;
  left: 0;
  width: 100%;
  background: #FFF;
  padding: 0.9375rem 0 0 0.9375rem;
  border-radius: 0.3125rem;
  box-shadow: 0px 0.3125rem 1.25rem 0px #d8d7d7;
  transition: all 0.3s;
  z-index: 999;
}
.search-box .search-engine .search-engine-header {
  padding-right: 0.625rem;
}
.search-box .search-engine .search-engine-header .search-engine-tool {
  float: right;
}
.search-box .search-engine .search-engine-body li {
  display: inline-block;
  width: 8.75rem;
  margin: 0 0.9375rem 0.9375rem 0;
  line-height: 1.875rem;
  font-size: 0.875rem;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  background: #f9f9f9;
  color: #999;
  cursor: pointer;
}
.search-box .search-engine .search-engine-body li span {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 0.9375rem;
  float: left;
  margin-right: 0.3125rem;
  margin-top: 0.1563rem;
  background-size: 100%;
}
.search-box .toggle-box {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  vertical-align: text-bottom;
  font-size: 1.25rem;
}
.search-box .toggle-box.checked::before {
  color: #5cb85c;
}

@media (max-width: 768px) {
  .search-box {
    width: 100%;
  }
}
.self-box .panel-header {
  line-height: 40px;
  background-color: #fff;
  padding: 0 10px;
  border-bottom: 1px solid #f90;
}
.self-box .panel-header .more {
  float: right;
}

.self-box {
  background-color: #fff;
  margin-bottom: 10px;
}
.self-box .custom-btn,
.self-box .add-btn {
  float: right;
}
.self-box .add-btn {
  display: none;
}
.self-box .group-item {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 10px;
}
.self-box .group-item .group-name {
  line-height: 50px;
  text-align: right;
  font-weight: 700;
}
.self-box .site-item {
  display: inline-block;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
  width: 120px;
}
.self-box .site-item .fa {
  display: none;
}
.self-box .site-item:hover {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  background: #6b7184;
}
.self-box .panel-footer {
  background: #6b7184;
  height: 0;
  line-height: 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.2s;
}
.self-box .panel-footer .btn-group {
  margin-top: 2rem;
}
.self-box .panel-footer .btn {
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.self-box .panel-footer .btn:hover {
  color: #6b7184;
  border-color: #fff;
  background: #fff;
}
.self-box .panel-footer .btn.panel-close {
  color: #6b7184;
  border-color: #fff;
  background: #fff;
}
.self-box.edit-mode .add-btn {
  display: block;
}
.self-box.edit-mode .panel-footer {
  height: 100px;
}
.self-box.edit-mode .site-item .fa {
  display: inline-block;
}

.page-container {
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
.page-container .page-header {
  font-size: 1.2rem;
  line-height: 1.5rem;
  position: static;
  background: transparent;
}
.page-container .page-header .fa-shield-alt {
  color: #198754;
  margin-right: 0.8rem;
}
.page-container .page-header .fa-exclamation-triangle {
  color: #dc3545;
  margin-right: 0.8rem;
}
.page-container .page-flex-body {
  display: flex;
}
.page-container .page-body {
  flex: 1;
}
.page-container .page-thumb img {
  max-width: 8rem;
  max-height: 6rem;
}
.page-container .page-site,
.page-container .page-content,
.page-container .page-time {
  font-size: 0.8125rem;
  line-height: 1.3125rem;
}
.page-container .page-time {
  color: #9195A3;
}
.page-container .page-content {
  display: inline-block;
  margin-top: 0.375rem;
  min-height: 4rem;
}
.page-container .page-site {
  color: #626675;
}
.page-container .site-logo img {
  width: 1.25rem;
  height: 1.25rem;
}
.page-container .page-action {
  position: relative;
  display: inline-block;
}
.page-container .page-action:hover .drop-body {
  display: block;
}
.page-container .drop-icon {
  line-height: 1.3125rem;
  margin: 0 0.8rem;
}
.page-container .drop-body {
  display: none;
  position: absolute;
  z-index: 910;
  box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  background: #fff;
  width: 6rem;
}
.page-container .drop-body.open {
  display: block;
}
.page-container .menu-item {
  text-align: center;
  line-height: 1.875rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page-container .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.page-container.page-not-thumb .page-content {
  min-height: auto;
}

@media (max-width: 768px) {
  .page-container .drop-body {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .page-container .menu-item {
    line-height: 2.5rem;
  }
}
.site-group-panel {
  background-color: white;
}
.site-group-panel .panel-body {
  padding: 0;
  overflow-y: auto;
}

.cat-item {
  display: flex;
  color: #6b7184;
  padding-left: 2.375rem;
  line-height: 2.5rem;
  cursor: default;
}
.cat-item .item-icon {
  text-align: center;
  padding-right: 0.8rem;
}
.cat-item .item-icon img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.cat-item:hover {
  background: #f5f5f5;
}

.site-item {
  display: block;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 10px;
  position: relative;
}
.site-item .item-name {
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #30333C;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  transition: all 0.3s;
}
.site-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.site-item .item-desc {
  color: #A1A7B7;
  height: 42px;
  overflow: hidden;
}
.site-item .go-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  opacity: 0;
}
.site-item:hover {
  background: #6b7184;
}
.site-item:hover .item-name,
.site-item:hover .go-btn,
.site-item:hover a {
  color: #fff;
}
.site-item:hover .item-desc {
  color: #c0c8dc;
}
.site-item:hover .go-btn {
  bottom: 20px;
  font-size: 40px;
  opacity: 1;
}
/*# sourceMappingURL=searcher.css.map */
