.search .form-horizontal {
  display: inline-block; }

.place-div label {
  font-weight: 400;
  font-size: 1.4rem; }

.place-div input[type=checkbox] {
  margin-right: .3rem; }

.place-div .checkbtn {
  background-color: #fbfbfb;
  text-align: right; }
  .place-div .checkbtn img {
    height: 10px;
    margin-left: 3px; }
  .place-div .checkbtn .ri {
    border-right: none; }
  .place-div .checkbtn a {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 60px;
    text-align: center; }

.place-div .smallplace .ratio {
  color: red; }

.place-div .smallplace label {
  padding-right: 10px;
  text-align: left;
  width: auto;
  float: left;
  cursor: pointer; }

.place-div .smallplace .citys {
  width: auto;
  background-color: #fff;
  position: absolute;
  top: 35px;
  border: 1px solid #ccc;
  z-index: 100;
  visibility: hidden; }
  .place-div .smallplace .citys .row-div {
    min-width: 250px;
    padding: 10px;
    box-sizing: border-box; }
    .place-div .smallplace .citys .row-div label span {
      max-width: 175px;
      white-space: nowrap;
      vertical-align: middle;
      font-size: 1.4rem; }
  .place-div .smallplace .citys > i.jt {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #ccc;
    position: absolute;
    top: -10px;
    left: 20px; }
    .place-div .smallplace .citys > i.jt i {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #fff;
      position: absolute;
      top: 2px;
      left: -8px; }

.place-div .smallplace p {
  float: left;
  width: auto;
  margin: 2px 0; }

.place-div .smallplace > div {
  float: left;
  width: 170px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  position: relative; }

.place-div .smallplace .place-tooltips:hover .citys {
  visibility: visible; }

.show-place-div {
  margin-left: 85px;
  font-size: 15px; }
  .show-place-div .smallplace label {
    min-width: 105px;
    width: auto; }
  .show-place-div .smallplace input {
    margin-left: 0; }
  .show-place-div .smallplace .citys .row-div p {
    margin: 5px 0 10px; }

.clearfloat {
  zoom: 1; }
  .clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0; }

.tree-item {
  text-align: left; }

.product-box .input-group input[type="text"],
.product-box .input-group input[type="number"] {
  min-width: 0;
  width: 100px; }

.product-box input[type="text"],
.product-box input[type="number"] {
  min-width: 0;
  width: 100px; }

.form-table .input-group .add-box {
  display: inline-block; }
  .form-table .input-group .add-box input {
    min-width: 0;
    width: 100px; }
  .form-table .input-group .add-box .btn {
    margin: 0; }

.form-table .attr-box .input-group input {
  min-width: 0; }

.form-table .attr-box .check-label {
  margin-right: 8px;
  position: relative; }
  .form-table .attr-box .check-label label {
    padding-right: 0; }
  .form-table .attr-box .check-label input {
    width: 60px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-bottom: 1px solid;
    color: #fff; }
  .form-table .attr-box .check-label .fa-remove {
    position: absolute;
    display: block;
    cursor: pointer;
    text-align: center;
    background: #ababab;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -9px;
    right: -9px; }
  .form-table .attr-box .check-label.attr-block .fa-remove {
    top: 0;
    right: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px; }

.attr-block {
  display: block; }

.product-table,
.regional-table {
  border: 1px solid #ddd;
  border-collapse: collapse; }
  .product-table td,
  .product-table th,
  .regional-table td,
  .regional-table th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd; }

.regional-table input {
  display: block;
  width: 100%;
  padding: 6px 5px;
  line-height: 1.42857;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border: 0;
  border-bottom: 1px solid #c2cad8;
  color: #555;
  box-shadow: none;
  font-size: 14px; }

.toggle-box {
  cursor: pointer; }
  .toggle-box .fa::before {
    content: "\f00d"; }
  .toggle-box.active {
    color: #f00; }
    .toggle-box.active .fa::before {
      content: "\f00c"; }

.progress-bar {
  width: 80%;
  height: 50px;
  position: relative;
  margin: 30px 0 0 100px; }
  .progress-bar div {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    border: 1px solid #ddd;
    background: #ccc; }
    .progress-bar div span {
      position: absolute;
      display: inline-block;
      background: green;
      height: 10px;
      width: 25%; }
  .progress-bar > span {
    position: absolute;
    top: 0;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background: #ccc;
    margin-left: -20px;
    color: #333;
    font-size: 12px;
    line-height: 35px; }
    .progress-bar > span i {
      color: #000;
      font-style: normal;
      width: 120px;
      position: absolute;
      left: -40px; }
    .progress-bar > span:nth-child(1) {
      left: 0%; }
    .progress-bar > span:nth-child(2) {
      left: 0%; }
    .progress-bar > span:nth-child(3) {
      left: 25%; }
    .progress-bar > span:nth-child(4) {
      left: 50%; }
    .progress-bar > span:nth-child(5) {
      left: 75%; }
    .progress-bar > span:nth-child(6) {
      left: 100%; }
    .progress-bar > span.active {
      background: green;
      color: #fff; }

/*# sourceMappingURL=shop_admin.css.map */
