a {
  text-decoration: none; }

header,
.header {
  width: 100%;
  height: 2.75rem;
  border-bottom: 0.0625rem solid #e1e1e1; }
  header .brand,
  .header .brand {
    width: 20%;
    font-size: 1.875rem;
    margin-left: 0.625rem;
    float: left; }
  header .search,
  .header .search {
    height: 1.875rem;
    width: 90%;
    margin: 0.1875rem auto 0; }
    header .search .fa,
    .header .search .fa {
      position: absolute;
      margin-top: 0.625rem;
      margin-left: 0.3125rem;
      z-index: 99; }
    header .search input,
    .header .search input {
      margin-top: 0.125rem;
      width: 100%;
      font-size: 1.25rem;
      border: 1px solid #333;
      padding: 0.25rem 0 0.25rem 1.25rem;
      box-sizing: border-box;
      background: transparent; }

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #05a6b1;
  color: #fff;
  text-align: center;
  z-index: 9999;
  border: 0; }
  .top .back,
  .top .right,
  .top .btn {
    top: 50%;
    margin-top: -1rem;
    font-size: 1.5625rem;
    color: #fff; }
  .top .back {
    position: absolute;
    left: 0.625rem; }
  .top .btn {
    position: absolute;
    right: 0;
    margin: 0;
    line-height: 2.75rem;
    top: 0;
    padding: 0 0.3125rem; }
  .top .right {
    position: absolute;
    right: 0.625rem; }
  .top .title {
    line-height: 2.75rem; }
  .top .top-tab a {
    color: #fff;
    line-height: 3.125rem;
    padding: 0 0.3125rem; }
    .top .top-tab a.active {
      color: #f00; }

.checkout-footer,
.cart-footer,
.fixed-footer,
footer,
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99; }

footer,
.footer {
  height: 3rem;
  background: #fff;
  border: 0.0625rem solid #e1e1e1; }
  footer a,
  footer .item,
  .footer a,
  .footer .item {
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    padding-top: 0.25rem;
    box-sizing: border-box;
    position: relative;
    font-size: .9rem;
    text-decoration: none; }
    footer a .tip,
    footer .item .tip,
    .footer a .tip,
    .footer .item .tip {
      display: block;
      position: absolute;
      right: 1.875rem;
      top: 0;
      width: 1rem;
      height: 1rem;
      color: #fff;
      background: #e1454b;
      font-size: 0.625rem; }
    footer a.active,
    footer .item.active,
    .footer a.active,
    .footer .item.active {
      color: #4693d0; }
    footer a .fa,
    footer .item .fa,
    .footer a .fa,
    .footer .item .fa {
      font-size: 1.5rem;
      display: block; }
  footer.comment,
  .footer.comment {
    background: rgba(23, 12, 23, 0.7); }
    footer.comment a,
    .footer.comment a {
      width: 100%;
      text-align: center; }
  footer.goods-navbar a,
  .footer.goods-navbar a {
    width: 14%;
    margin: 0; }
    footer.goods-navbar a.btn,
    .footer.goods-navbar a.btn {
      width: 29%;
      padding: 0;
      text-align: center;
      line-height: 3.125rem; }
      footer.goods-navbar a.btn.btn-orange,
      .footer.goods-navbar a.btn.btn-orange {
        background: #ff9600; }

.has-header {
  margin-top: 2.75rem; }

.has-footer {
  margin-bottom: 3.125rem; }

.goods-list {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 0.9375rem;
  text-align: center; }
  .goods-list .item-view {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box; }
    .goods-list .item-view .item-title {
      display: block;
      width: 100%;
      height: 1.5rem;
      text-align: center;
      color: #404245;
      font-size: 0.8125rem;
      font-weight: normal;
      line-height: 2rem;
      overflow: hidden; }
    .goods-list .item-view .item-actions .item-price {
      color: #e1454b; }

.swipe-box {
  overflow: hidden; }
  .swipe-box .swipe-row {
    width: 100%;
    position: relative;
    height: 5rem;
    padding: 0;
    margin: 0;
    transition: left .5s; }
    .swipe-box .swipe-row .swipe-content {
      width: 100%;
      display: block;
      height: 5rem; }
    .swipe-box .swipe-row .actions-left,
    .swipe-box .swipe-row .actions-right {
      position: absolute;
      height: 5rem;
      min-height: 5rem;
      max-height: 5rem;
      text-align: center;
      font-size: 1.375rem;
      top: 0;
      white-space: nowrap; }
      .swipe-box .swipe-row .actions-left .fa,
      .swipe-box .swipe-row .actions-right .fa {
        font-size: 1.875rem;
        padding: 1.5625rem 0.9375rem; }
      .swipe-box .swipe-row .actions-left a,
      .swipe-box .swipe-row .actions-right a {
        color: #fff;
        text-decoration: none; }
    .swipe-box .swipe-row .actions-left {
      color: #FFF;
      background-color: #00bb48;
      right: 100%; }
    .swipe-box .swipe-row .actions-right {
      color: #FFF;
      background-color: #BB0000;
      left: 100%; }
  .swipe-box.goods-list {
    text-align: left; }
    .swipe-box.goods-list .goods-item .goods-img {
      display: inline-block; }
      .swipe-box.goods-list .goods-item .goods-img img {
        width: 5rem; }
    .swipe-box.goods-list .goods-item .goods-info {
      display: inline-block;
      height: 5rem;
      vertical-align: top;
      overflow: hidden; }

.menu-box {
  position: relative;
  display: block;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: #e2e2e2 0.0625rem solid; }
  .menu-box .menu-item {
    position: relative;
    float: left;
    display: block;
    width: 20%;
    border: none;
    box-sizing: border-box;
    padding: 0.75rem 0;
    text-decoration: none; }
    .menu-box .menu-item .menu-icon {
      display: block;
      width: 2.75rem;
      height: 2.75rem;
      margin: 0 auto;
      overflow: hidden; }
    .menu-box .menu-item .menu-name {
      display: block;
      width: 100%;
      height: 1.5rem;
      line-height: 1.5rem;
      box-sizing: border-box;
      border: none;
      overflow: hidden;
      color: #404245;
      font-size: 0.875rem;
      font-weight: normal;
      text-align: center;
      margin-top: 0.25rem; }

.category-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 35%;
  height: 100%;
  box-sizing: border-box;
  border-right: #e2e2e2 0.0625rem solid;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3.125rem 0 3.125rem; }
  .category-menu .menu-item {
    display: block;
    width: 100%;
    height: 3.75rem;
    color: #404245;
    font-size: 1rem;
    font-weight: normal;
    line-height: 3.75rem;
    text-align: center;
    box-sizing: border-box;
    border-bottom: #e2e2e2 0.0625rem solid; }
    .category-menu .menu-item.active {
      border-left: #55595f 0.25rem solid;
      background-color: #ffffff; }

.check-box::before {
  content: "\f10c"; }

.check-box.active::before {
  content: "\f058"; }

.toggle-box::before {
  content: "\f204"; }

.toggle-box.active::before {
  content: "\f205"; }

.number-box input {
  width: 3.125rem;
  text-align: center;
  border: none; }

.cart-box .goods-list .goods-item {
  position: relative; }
  .cart-box .goods-list .goods-item .check-box {
    font-size: 1.875rem;
    width: 3.125rem;
    text-align: center;
    position: relative;
    top: -2.1875rem; }
  .cart-box .goods-list .goods-item .number-box {
    position: absolute;
    right: 0;
    bottom: 0; }

.cart-footer {
  bottom: 3rem; }
  .cart-footer .check-box {
    font-size: 1.875rem;
    width: 3.125rem;
    text-align: center; }
  .cart-footer span {
    line-height: 1.875rem; }
  .cart-footer .cart-amount {
    float: right; }
    .cart-footer .cart-amount .btn {
      margin-right: 0; }

.checkout-box .goods-list,
.order-box .goods-list {
  text-align: left; }
  .checkout-box .goods-list .goods-item,
  .order-box .goods-list .goods-item {
    position: relative; }
    .checkout-box .goods-list .goods-item .goods-img,
    .order-box .goods-list .goods-item .goods-img {
      display: inline-block; }
      .checkout-box .goods-list .goods-item .goods-img img,
      .order-box .goods-list .goods-item .goods-img img {
        width: 5rem; }
    .checkout-box .goods-list .goods-item .goods-info,
    .order-box .goods-list .goods-item .goods-info {
      display: inline-block;
      height: 5rem;
      vertical-align: top;
      overflow: hidden; }
      .checkout-box .goods-list .goods-item .goods-info .amount,
      .order-box .goods-list .goods-item .goods-info .amount {
        position: absolute;
        right: 0; }

.checkout-box .address-box {
  padding: 0 3.75rem;
  position: relative;
  border-bottom: 0.0625rem solid; }
  .checkout-box .address-box .fa {
    position: absolute;
    font-size: 2.5rem;
    top: 0.75rem; }
    .checkout-box .address-box .fa.fa-map-marker {
      left: 1.1875rem; }
    .checkout-box .address-box .fa.fa-chevron-right {
      right: 0.3125rem; }
  .checkout-box .address-box .name {
    font-size: 1.875rem; }
  .checkout-box .address-box .default {
    background: #f00;
    color: #fff;
    padding: 0.125rem 0.4375rem; }
  .checkout-box .address-box.empty-address {
    height: 3.875rem; }
    .checkout-box .address-box.empty-address h3 {
      line-height: 3.875rem; }

.checkout-box .line-item {
  position: relative;
  line-height: 1.875rem; }
  .checkout-box .line-item .fa {
    position: absolute;
    right: 0.3125rem;
    top: 0.4375rem; }
  .checkout-box .line-item span:nth-child(2) {
    float: right;
    margin-right: 1.25rem; }

.checkout-box .shipping-box,
.checkout-box .payment-box {
  border-bottom: 0.0625rem solid; }

.checkout-footer {
  text-align: right;
  border-top: 0.0625rem solid #ff77ff; }
  .checkout-footer .btn {
    margin: 0 0 0 0.3125rem; }

.goods-gallary-box img {
  height: 22.5rem;
  max-width: 100%; }

.goods-info .goods-header {
  position: relative; }
  .goods-info .goods-header .goods-name {
    margin-right: 3.125rem;
    line-height: 3.125rem; }
  .goods-info .goods-header .goods-collect {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center; }
    .goods-info .goods-header .goods-collect .fa-like {
      display: block; }
      .goods-info .goods-header .goods-collect .fa-like::before {
        content: "\f08a"; }
    .goods-info .goods-header .goods-collect.active .fa-like::before {
      content: "\f004"; }

.comment-box .comment-header {
  position: relative; }
  .comment-box .comment-header .fa {
    position: absolute;
    right: 0; }

.comment-box .comment-more {
  text-align: center;
  display: block; }

.recomment-box .goods-list .item-view {
  width: 33%; }

.tab-box.goods-content .tab-item {
  width: 33%; }

.user-header {
  position: relative;
  padding-top: 1.5625rem;
  padding-bottom: 1.875rem;
  background: #00E0F2; }
  .user-header .avatar {
    width: 5.625rem;
    height: 5.625rem;
    margin: 0 auto;
    text-align: center;
    line-height: 0;
    position: relative; }
    .user-header .avatar img {
      width: 100%;
      height: 100%;
      border-radius: 100%; }
    .user-header .avatar::after {
      content: "";
      width: 6.25rem;
      height: 6.25rem;
      border: 0.125rem solid #99e3ff;
      border-radius: 100%;
      position: absolute;
      left: -0.3125rem;
      top: -0.3125rem;
      z-index: 0; }
  .user-header .name {
    text-align: center;
    padding-top: 0.625rem; }

.menu-grid .item {
  border-right: 0.0625rem dotted #4693d0;
  width: 20%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.875rem; }
  .menu-grid .item:nth-child(5n) {
    border: 0; }

.menu-large .item {
  width: 50%;
  display: inline-block;
  border-right: 0.0625rem dotted #4693d0;
  border-top: 0.0625rem dotted #4693d0;
  height: 4.375rem;
  text-align: center; }
  .menu-large .item .fa {
    font-size: 3.125rem;
    margin-top: 0.625rem; }
  .menu-large .item:nth-child(even) {
    border-right: 0; }
  .menu-large .item:first-child, .menu-large .item:nth-child(2) {
    border-top: 0; }

.menu-list a {
  display: block;
  padding: 0.625rem;
  background: #99e3ff;
  margin-top: 0.125rem; }
  .menu-list a .fa:nth-child(2) {
    float: right;
    margin-right: 0.625rem; }

.form-inline .input-group input {
  width: 100%; }

.form-inline .input-group span {
  line-height: 1.875rem; }

.form-inline .input-group textarea {
  width: 100%;
  height: 5rem; }

.form-inline .input-radio {
  line-height: 1.875rem;
  position: relative; }
  .form-inline .input-radio .fa {
    position: absolute;
    right: 0.625rem;
    font-size: 1.5625rem;
    top: 0.125rem; }

.fixed-footer .btn {
  width: 80%;
  margin: 0 10%; }

.address-list .address-item {
  position: relative; }
  .address-list .address-item .address-first {
    position: absolute;
    top: 0.9375rem;
    left: 0.3125rem;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    border-radius: 50%;
    background: #333;
    color: #fff;
    text-align: center; }
  .address-list .address-item .address-info {
    margin-left: 3.75rem; }
    .address-list .address-item .address-info .name {
      font-size: 1.875rem; }
    .address-list .address-item .address-info .default {
      background: #f00;
      color: #fff;
      padding: 0.125rem 0.4375rem; }

.order-header a {
  display: inline-block;
  line-height: 1.875rem;
  width: 15%;
  text-align: center; }
  .order-header a.active {
    border-bottom: 0.125rem solid; }

.order-box .order-item .order-header .status {
  float: right; }

.order-box .order-item .order-amount,
.order-box .order-item .order-footer {
  text-align: right; }

/*# sourceMappingURL=shop_mobile.css.map */
