@charset "UTF-8";
.confirm_dialog, .file_pop {
  position: fixed;
  left: 20%;
  top: 30%;
  padding: 20px 30px;
  color: #CC3300;
  border: 3px solid #FFCC33;
  background: #fff;
  z-index: 999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 4px rgba(51, 51, 102, 0.3);
  -webkit-box-shadow: 3px 4px rgba(51, 51, 102, 0.3);
  box-shadow: 3px 4px rgba(51, 51, 102, 0.3); }

.confirm_dialog h3 {
  font-size: 14px; }

.confirm_dialog p {
  text-align: center; }
  .confirm_dialog p button {
    margin: 0 10px; }

.pd10 {
  padding: 10px; }

.stools {
  padding: 5px;
  border: 1px solid #d5ecee;
  background: #fff; }

.search {
  width: auto;
  height: 28px; }

.search-opt {
  width: auto;
  height: 28px; }
  .search-opt select {
    height: 28px;
    border: 1px solid #BDC1C8;
    color: #666; }

.search-in {
  width: 280px;
  height: 28px;
  padding-left: 4px;
  background: url(../images/app.gif) no-repeat 4px -50px; }
  .search-in input.search-in-txt {
    width: 227px;
    padding: 6px 5px;
    font-size: 12px;
    color: #666;
    border: none;
    background: none; }
  .search-in input.search-in-btn {
    width: 41px;
    height: 28px;
    border: none;
    background: none;
    font-size: 0;
    cursor: pointer; }

.nors {
  color: #c09853;
  padding: 8px;
  text-align: center;
  border: 1px solid #D5ECEE;
  background: #fcf8e3; }

.content {
  width: 100%;
  height: auto;
  background: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden; }

.loc {
  padding: 6px 10px 4px 6px;
  border-bottom: 1px solid #ddd;
  background: #ededed;
  clear: both; }
  .loc h2 {
    font-size: 13px;
    color: #888; }
  .loc i {
    width: 12px;
    height: 18px;
    margin-right: 8px;
    background-position: -30px -120px; }

.doacts {
  width: auto;
  height: 26px;
  padding: 7px 10px;
  border: 1px solid #d5ecee;
  background: #fff; }
  .doacts div.fl {
    width: 60%;
    height: 26px; }
  .doacts div.fr {
    height: 26px; }
    .doacts div.fr span {
      font-size: 13px;
      color: #888; }

.tabs {
  width: auto;
  height: 26px;
  padding: 0 15px;
  border-bottom: 1px solid #C2E3E7; }
  .tabs ul li {
    float: left;
    padding: 0 25px;
    line-height: 26px;
    font-size: 14px;
    color: #0099CC;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #B3E1F0; }
    .tabs ul li.cur {
      font-weight: bold;
      font-size: 14px;
      color: #999;
      background: #fff;
      border: 1px solid #B3E1F0;
      border-bottom-color: #fff; }

.box {
  padding: 5px;
  text-align: left;
  overflow: auto; }

table.dataform {
  width: 100%;
  border: none;
  background: #fff; }

table.datalist {
  width: 100%;
  border: none;
  background: #fff; }
  table.datalist th {
    color: #666;
    background: #def6ff;
    padding: 10px 8px;
    text-align: center;
    border: 1px solid #d5ecee;
    vertical-align: middle; }
  table.datalist td {
    padding: 10px 8px;
    text-align: center;
    border: 1px solid #d5ecee;
    vertical-align: middle; }
  table.datalist tr.even td {
    background: #FFFFF8; }
  table.datalist tr.hover td {
    background: #F0F8FF; }

table.dataform th, table.dataform td {
  padding: 10px;
  border: 1px solid #ECF5FF;
  vertical-align: middle; }

table.dataform tr th {
  background: #F7FBFF;
  color: #888;
  text-align: right; }

table.dataform tr td {
  text-align: left; }

table.datalist th.ta-l, table.datalist td.ta-l {
  text-align: left; }

table.dataform th.ta-l {
  text-align: left; }

table.datalist th.ta-r, table.datalist td.ta-r {
  text-align: right; }

table.dataform td.ta-r {
  text-align: right; }

table.datalist th.ta-c, table.datalist td.ta-c {
  text-align: center; }

table.dataform td.ta-c {
  text-align: center; }

.submitbtn {
  padding: 25px 0 35px 150px;
  background: #fff;
  overflow: hidden; }
  .submitbtn button {
    margin-right: 50px; }

.multirow {
  text-align: left;
  color: #888;
  line-height: 150%; }

span.sign {
  color: #fff;
  margin-left: 10px;
  padding: 1px 3px;
  background: #FF9900;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.libom {
  width: auto;
  height: auto;
  padding: 5px;
  border: 1px solid #D5ECEE;
  background: #fff;
  overflow: hidden; }

.ckrow h4 {
  float: left;
  width: 160px;
  padding: 3px 5px 0 5px; }

.ckrow ul {
  display: block; }
  .ckrow ul.mult {
    margin-left: 180px; }
  .ckrow ul li {
    display: block;
    float: left;
    width: 190px;
    padding: 0 10px 8px 0; }

.ckrow label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.ckrow ul.per25 li {
  width: 25%;
  padding: 8px 0; }

.tags {
  width: 600px;
  height: auto;
  padding: 5px 8px;
  border: 1px solid #66aaaa;
  border-bottom: 1px solid #C0D2E0;
  border-right: 1px solid #C0D2E0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .tags ul li {
    float: left;
    margin-right: 10px;
    padding: 0 6px 0 12px;
    background: #009999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .tags ul li span {
      color: #fff;
      line-height: 25px;
      font-weight: bold; }
    .tags ul li a {
      color: #FFCC00;
      margin-left: 5px;
      vertical-align: top;
      cursor: pointer; }
      .tags ul li a:hover {
        color: #FF9900; }
  .tags div.fl input {
    width: 100%;
    padding: 5px 0;
    border: none;
    outline: none; }

.as-srow {
  width: 500px;
  padding: 8px 10px;
  border: 1px solid #eee;
  background: #f9f9f9; }
  .as-srow dl.imtr {
    width: 100%;
    height: auto;
    overflow: hidden; }
    .as-srow dl.imtr dt {
      float: left;
      width: 50px;
      height: 50px; }
      .as-srow dl.imtr dt img {
        width: 100%; }
    .as-srow dl.imtr dd {
      margin-left: 60px; }

/* 上传图片切换 */
.upsw {
  border: 1px solid #E1F0FF; }
  .upsw dt {
    border-bottom: 1px solid #f2f2f2; }
    .upsw dt a {
      color: #006699; }
      .upsw dt a:hover {
        color: #CC3366; }
      .upsw dt a.cur {
        color: #888;
        cursor: default; }

/* input */
input.date {
  font-family: Helvetica,Arial;
  color: #666;
  text-indent: 25px;
  background: url(../images/rowicons.gif) no-repeat 6px 6px; }

/* select 多选 */
.selmultd {
  padding: 5px; }

.selmulac ul li {
  padding: 10px 0; }

.selmulac button {
  font-family: Simsun, Arial, Helvetica, sans-serif; }

select.mult {
  width: 400px; }

.loc i.dashboard {
  width: 18px;
  height: 20px;
  background-position: 0 -120px; }

.divid {
  width: 25%;
  height: auto;
  float: left;
  overflow: hidden; }
  .divid h3 {
    background: #def6ff; }
  .divid .module {
    height: 245px;
    background: url(../images/loading-1.gif) no-repeat center; }
  .divid .actives {
    background: none; }

table.stbl {
  width: 100%;
  border: none;
  background: #fff; }
  table.stbl th, table.stbl td {
    padding: 10px 8px;
    vertical-align: middle;
    border-bottom: 1px solid #def6ff; }
  table.stbl th {
    color: #3399cc;
    text-align: left;
    font-weight: normal; }
  table.stbl td {
    color: #999;
    text-align: right; }
    table.stbl td b {
      color: #cc3366;
      margin-right: 5px; }

.actives {
  overflow-y: auto; }
  .actives table.stbl tr.thd th {
    padding: 6px 10px;
    color: #aaa;
    background: #f8f8f8;
    border-bottom-color: #eee; }
    .actives table.stbl tr.thd th.ta-r {
      text-align: right; }
  .actives table.stbl th font {
    color: #888;
    margin-left: 5px;
    font-weight: normal; }
    .actives table.stbl th font.caaa {
      color: #aaa; }

.couid {
  width: 50%;
  height: auto;
  overflow: hidden; }

table.dataform th {
  color: #444;
  font-weight: normal; }

table.dataform.declare th {
  color: #999; }

table.dataform.declare td {
  color: #999; }
  table.dataform.declare td a {
    color: #999; }
    table.dataform.declare td a:hover {
      text-decoration: underline;
      color: #333; }

.notice {
  display: none;
  margin-bottom: 5px; }
  .notice .item {
    padding: 10px 15px;
    color: #D56A00;
    border: 1px solid #ffcc00;
    background: #FFFFDD; }

.doacts a.btn {
  margin-right: 12px; }

.tbsel {
  padding: 10px 20px; }

.tbcolor {
  color: #339999; }

/* 添加商品相册 */
.mrimgtr {
  margin: 0 5px;
  padding: 15px 0;
  height: auto;
  border-bottom: 1px solid #eee;
  overflow: hidden; }

/* 添加属性规格 */
.attrli {
  width: 400px;
  height: auto;
  line-height: 28px; }
  .attrli dl {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #E8F3FF; }
    .attrli dl dt {
      float: left;
      width: 105px;
      text-align: right;
      color: #666; }
    .attrli dl dd {
      margin-left: 120px; }

/* 添加商品选择项 */
.optlsdl {
  width: 330px;
  height: auto;
  padding: 5px 15px 30px 15px;
  float: left;
  overflow: hidden; }
  .optlsdl dt {
    text-align: center;
    padding-bottom: 5px; }
    .optlsdl dt font {
      font-weight: bold; }
    .optlsdl dt span.sep {
      margin: 0 40px; }
    .optlsdl dt button {
      font-weight: normal; }
  .optlsdl dd {
    margin-top: 10px;
    text-align: center; }
    .optlsdl dd label {
      color: #999; }
    .optlsdl dd input.txt {
      padding: 4px 0 4px 5px; }

/* 关联商品 */
.selmulwp {
  width: 950px; }

.selmulac ul {
  padding: 80px 20px 0 20px; }

/* 图片上传 */
.gim a {
  display: block;
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  padding: 5px;
  text-align: center;
  border: 1px dashed #eee;
  overflow: hidden; }
  .gim a img {
    width: 100%;
    height: 100%; }
  .gim a i {
    display: none;
    font-style: normal;
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #bbb;
    text-align: center;
    position: absolute;
    right: 1px;
    top: 1px;
    overflow: hidden; }
  .gim a:hover i {
    display: block;
    background: #fff;
    color: #C30;
    border-radius: 14px; }

.impoper {
  height: auto;
  position: fixed;
  z-index: 9999;
  border: 2px solid #fff;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #666;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
  display: none; }
  .impoper .th {
    font-size: 14px;
    color: #3399aa;
    padding: 10px 8px;
    background: #f6f6f6;
    border-bottom: 1px solid #e9e9e9; }
  .impoper a.close {
    display: block;
    width: 10px;
    height: 10px;
    line-height: 0;
    font-size: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../images/icons.png) no-repeat -270px -120px;
    overflow: hidden; }
    .impoper a.close:hover {
      background-position: -270px -140px; }
  .impoper .bom {
    padding: 10px;
    background: #f6f6f6;
    border-top: 1px solid #e9e9e9; }
    .impoper .bom button {
      word-spacing: 5px; }

.imul {
  width: 500px; }
  .imul .imuler {
    padding: 20px 10px 30px 10px; }
  .imul .imulqu {
    display: table;
    height: auto;
    margin: 0 auto;
    overflow: hidden; }
    .imul .imulqu li {
      position: relative;
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 10px;
      border: 1px dotted #e5e5e5;
      vertical-align: middle;
      overflow: hidden; }
      .imul .imulqu li div.remove {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: 99; }
        .imul .imulqu li div.remove a {
          display: block;
          width: 16px;
          height: 16px;
          margin: 0 auto;
          text-indent: -9999px;
          background: url(../webupload/icons.png) no-repeat 0 -24px;
          overflow: hidden; }
          .imul .imulqu li div.remove a:hover {
            background-position: 0 0; }
      .imul .imulqu li p.hint {
        display: none;
        position: absolute;
        top: 38px;
        left: 20px;
        width: 60px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        text-align: center;
        color: #C30;
        background: rgba(235, 235, 235, 0.6);
        border: 1px solid #ddd;
        border-radius: 3px; }
      .imul .imulqu li div.m {
        padding: 5px;
        text-align: center; }
        .imul .imulqu li div.m img {
          width: 100%; }
      .imul .imulqu li p.noprev {
        font-size: 12px;
        color: #999;
        line-height: 100px;
        text-align: center; }
      .imul .imulqu li div.hint p {
        display: table;
        margin: 0 auto; }
      .imul .imulqu li div.pgs {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        background: rgba(221, 221, 221, 0.8); }
        .imul .imulqu li div.pgs p {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          text-align: center;
          color: #036; }
        .imul .imulqu li div.pgs .bar {
          width: 0%;
          height: 20px;
          background: #5AF; }
  .imul .imuler .picker {
    padding-top: 80px;
    background: url(../webupload/image.png) no-repeat top center; }
  .imul .imuler .morepicker a {
    display: block; }

.imsli {
  width: 765px;
  top: 100px; }
  .imsli .lister {
    padding: 15px; }
    .imsli .lister .rows {
      height: 380px; }
      .imsli .lister .rows a {
        display: block;
        position: relative;
        float: left;
        width: 90px;
        height: 90px;
        margin: 10px;
        padding: 5px;
        text-align: center;
        border: 1px dotted #e5e5e5;
        overflow: hidden; }
        .imsli .lister .rows a img {
          width: 100%;
          height: 100%; }
        .imsli .lister .rows a:hover {
          border: 1px solid #C03; }
        .imsli .lister .rows a i {
          display: none;
          position: absolute;
          top: 30px;
          left: 30px;
          width: 40px;
          height: 40px;
          font-size: 0;
          background: url(../images/tick.png) no-repeat; }
      .imsli .lister .rows .loading {
        margin-top: 180px; }
      .imsli .lister .rows a.checked i {
        display: block; }

.rename {
  width: 500px; }

.upload {
  width: 500px; }
  .upload dl dd {
    margin-top: 10px;
    padding: 5px; }
  .upload input[type="file"] {
    padding: 3px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }

body {
  background: #F0F0F0; }

.wrap {
  margin: 150px auto 0 auto;
  width: 700px;
  height: auto; }

.banner {
  width: 310px;
  height: auto;
  padding: 40px 0 0 0;
  text-align: center; }
  .banner h1 {
    width: 200px;
    height: 60px;
    margin: 0 auto; }
    .banner h1 a {
      display: block;
      width: 200px;
      height: 60px;
      font-size: 0;
      background: url(../images/logo.gif) no-repeat 0 0; }
  .banner h2 {
    font-size: 14px;
    font-weight: normal;
    color: #777; }
  .banner p {
    color: #aaa; }

.login {
  width: 300px;
  margin: 0 0 0 320px;
  padding: 30px 40px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 2px #d9d9d9;
  -webkit-box-shadow: 2px 2px 2px #d9d9d9;
  box-shadow: 2px 2px 2px #d9d9d9; }
  .login h2 {
    font-size: 14px;
    padding: 0 0 0 5px;
    color: #666; }
  .login dl {
    display: block;
    width: 298px;
    height: 34px;
    border: 1px solid #ccc;
    overflow: hidden; }
    .login dl dt {
      float: left;
      display: block;
      width: 16px;
      height: 16px;
      padding: 9px;
      background: #f3f3f3;
      border-right: 1px solid #ccc; }
      .login dl dt i {
        width: 16px;
        height: 16px; }
    .login dl dd {
      display: block;
      float: right;
      width: 260px;
      text-align: right; }
      .login dl dd input {
        width: 255px;
        font-size: 12px;
        padding: 10px 0;
        border: none;
        outline: none; }
  .login .username dt i {
    width: 16px;
    height: 16px;
    background-position: -210px -120px; }
  .login .pwd dt i {
    background-position: -240px -120px; }
  .login .captcha dl {
    width: 165px; }
  .login .captcha dd {
    width: 160px;
    clear: both; }
    .login .captcha dd input {
      width: 155px; }
  .login .captcha div.fr {
    padding: 12px 20px 0 0; }
    .login .captcha div.fr a {
      color: #0090C0;
      cursor: pointer; }
      .login .captcha div.fr a:hover {
        text-decoration: none;
        color: #CC3366; }

.login-btn {
  margin: 30px 10px 10px 40px; }
  .login-btn .fr {
    padding: 10px 0 0 0; }
  .login-btn .btn {
    display: block;
    width: 85px;
    height: 32px;
    line-height: 32px;
    word-spacing: 8px;
    text-align: center;
    color: #4A839D;
    font-weight: bold;
    background: #F7F9FB;
    border: 1px solid #9ABAD1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .login-btn .btn.disabled {
      width: 90px;
      color: #bbb;
      background: #e5e5e5;
      border-color: #ddd;
      word-spacing: 0; }
  .login-btn label font {
    color: #999;
    margin-left: 5px; }

.lockout {
  color: #ff3366;
  margin: 30px 0 20px 0;
  line-height: 180%;
  border: 1px solid #ff3366;
  border-radius: 3px; }
  .lockout b {
    margin: 0 2px; }

html, body {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden; }

.hdline {
  margin-bottom: 3px;
  height: 2px;
  font-size: 0;
  line-height: 0;
  background: #e8e8e8; }

.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  background: #0093C4; }
  .header .icon {
    width: 16px;
    height: 16px; }

.logo {
  width: 150px;
  height: auto;
  padding: 11px 0 0 25px; }
  .logo a {
    display: block;
    font-size: 0;
    width: 147px;
    height: 28px;
    color: #fff;
    background: url(../images/app.gif) no-repeat 0 0; }

.top-links {
  width: auto;
  height: 18px;
  padding: 15px 10px 0 0; }
  .top-links a {
    margin-right: 15px; }
    .top-links a.icon:hover {
      background-position-y: -30px; }

.acpop {
  width: 360px;
  height: auto;
  position: fixed;
  border: 2px solid #fff;
  background: #fff;
  z-index: 9999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #666;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666; }
  .acpop h2 {
    font-size: 14px;
    padding: 8px 10px;
    border-bottom: 1px solid #e7e7e7;
    background: #f6f6f6; }
  .acpop a.close {
    font-size: 16px;
    color: #7c94ab;
    position: absolute;
    right: 10px;
    top: 5px; }
    .acpop a.close:hover {
      color: #CC3333;
      text-decoration: none; }
  .acpop div.ta-c {
    padding: 15px 0;
    border-top: 1px solid #e9e9e9;
    background: #f6f6f6; }

.poinfo {
  padding: 10px 0; }
  .poinfo dl {
    padding: 8px 0; }
    .poinfo dl dt {
      float: left;
      width: 130px;
      text-align: right;
      color: #888; }
    .poinfo dl dd {
      margin-left: 140px; }
  .poinfo input.txt {
    width: 150px; }
  .poinfo div.pwd {
    border-top: 1px solid #e7e7e7;
    padding: 10px 0 0 0; }
    .poinfo div.pwd dl dt {
      line-height: 28px; }
  .poinfo ul {
    padding: 5px 0 5px 120px; }
    .poinfo ul li {
      padding: 8px 0; }
      .poinfo ul li label font {
        margin-left: 8px;
        color: #666; }
  .poinfo .cleaning {
    text-align: center;
    padding: 20px 0; }

.container {
  width: auto;
  height: auto;
  padding: 0 5px;
  overflow: hidden; }

.nav {
  width: 193px;
  height: auto;
  border: 1px solid #e2e2e2;
  background: #f8f8f8;
  overflow-y: auto; }
  .nav h2 {
    font-size: 14px;
    color: #b5b5b5;
    text-align: center;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
    background: #eee; }
  .nav div {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0; }
  .nav h3 {
    padding-left: 15px; }
    .nav h3 a {
      font-size: 12px;
      color: #777;
      cursor: pointer; }
      .nav h3 a:hover {
        text-decoration: none;
        color: #0090C0; }
      .nav h3 a i {
        margin-right: 8px;
        background-position: -30px 0; }
      .nav h3 a:hover i {
        background-position-y: -30px; }
    .nav h3.on a i {
      background-position: -60px 0; }
    .nav h3.on a:hover i {
      background-position-y: -30px; }
  .nav ul {
    padding-top: 10px;
    display: none; }
    .nav ul li {
      padding: 6px 0 7px 30px; }
      .nav ul li a {
        color: #666;
        cursor: pointer; }
        .nav ul li a:hover {
          text-decoration: none;
          color: #0090C0; }
      .nav ul li.on a {
        text-decoration: none;
        color: #0090C0; }
      .nav ul li i {
        margin-right: 5px;
        background-position: 0 -58px; }
      .nav ul li.on {
        color: #0090C0;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        background: #fff; }
        .nav ul li.on i {
          background-position: 0 -88px; }
      .nav ul li a:hover i {
        background-position: 0 -88px; }
  .nav div.nochild {
    padding: 0; }

.nochild ul {
  display: block;
  padding: 0; }
  .nochild ul li {
    border: none;
    padding: 10px 15px; }
    .nochild ul li a i {
      margin-right: 8px;
      background-position: 0 0; }
    .nochild ul li a:hover i {
      background-position: 0 -30px; }
    .nochild ul li.on i {
      background-position: 0 -30px; }
    .nochild ul li a {
      font-weight: bold;
      color: #777; }
    .nochild ul li.on {
      border: none; }

.rwrap {
  width: auto;
  height: auto;
  margin-left: 198px;
  border: 1px solid #e2e2e2;
  overflow: hidden; }

.footer {
  margin: 2px 5px 0 5px;
  padding: 8px 0;
  border: 1px solid #e5e5e5;
  border-top: none;
  background: #f8f8f8;
  text-align: center; }
  .footer p {
    color: #bbb; }

.poper {
  width: auto;
  height: auto;
  position: fixed;
  z-index: 9999;
  border: 2px solid #fff;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #666;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
  display: none; }

.poper-hd {
  font-size: 14px;
  color: #3399aa;
  padding: 10px 8px;
  background: #f6f6f6;
  border-bottom: 1px solid #e9e9e9; }

.poper .th {
  padding: 10px 0 5px 0;
  color: #3399aa;
  font-size: 12px; }
  .poper .th.f14 {
    font-size: 14px; }

.poper a.close {
  display: block;
  width: 10px;
  height: 10px;
  line-height: 0;
  font-size: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(../images/icons.png) no-repeat -270px -120px;
  overflow: hidden; }
  .poper a.close:hover {
    background-position: -270px -140px; }

.poper-bom {
  padding: 10px;
  background: #f6f6f6;
  border-top: 1px solid #e9e9e9; }

.curtheme {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
  background: #fff; }
  .curtheme dt {
    width: 120px;
    border: 1px solid #def6ff;
    background: #fff; }
  .curtheme dd {
    margin-left: 150px; }
    .curtheme dd p {
      padding: 5px 0;
      color: #888; }
      .curtheme dd p font {
        color: #333;
        font-weight: normal;
        margin-left: 10px; }

.themes dl {
  float: left;
  position: relative;
  width: 138px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer; }
  .themes dl dt {
    color: #44768E;
    font-weight: bold; }
  .themes dl dd img {
    border: 1px solid #eee; }
  .themes dl.hover {
    border-color: #cc3300; }
  .themes dl.selected {
    border-color: #339999; }
    .themes dl.selected dd.tick {
      position: absolute;
      top: 36%;
      left: 0;
      display: block;
      width: 100%;
      z-index: 999; }
      .themes dl.selected dd.tick i {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background: url(../images/tick.png) no-repeat; }

input.ta-r {
  padding-left: 0;
  padding-right: 5px; }

.scope .th {
  background: #f6f6f6;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.scope div.casing {
  width: 720px;
  height: auto;
  margin: 10px;
  padding: 5px 5px 20px 5px;
  background: #fff; }

.scope h3 font {
  font-weight: normal; }

.scope .areasel label {
  display: block;
  float: left;
  width: 140px;
  padding: 6px 0; }

.scope .segline {
  border-bottom: 1px solid #eee; }

.scope font.caaa {
  margin-left: 5px; }

.scopeli dl {
  position: relative;
  width: 600px;
  color: #666;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #e6f2ff;
  background: #f7fbff; }
  .scopeli dl dt {
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid #f2f2f2; }
    .scopeli dl dt font {
      margin-right: 15px; }
  .scopeli dl dd {
    padding: 5px;
    margin-top: 5px; }
    .scopeli dl dd span {
      margin-right: 15px; }
    .scopeli dl dd font {
      color: #CC3366;
      margin: 0 3px 0 5px; }
  .scopeli dl a.remove {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #71B8FF;
    font-size: 16px; }
    .scopeli dl a.remove:hover {
      color: #C30; }

span.sep60 {
  margin: 0 30px; }

.exp {
  width: auto;
  height: auto;
  margin: 0 auto;
  background: #e5e5e5;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  .exp .bar {
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    width: 0;
    background: #4DC5FF;
    border: 1px solid #0BAFFF;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; }
  .exp .vals {
    line-height: 12px;
    padding-left: 5px; }

.adj button {
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace; }
  .adj button.incr {
    color: #cc3300; }
  .adj button.minus {
    color: #009900; }
  .adj button.disabled {
    color: #bbb; }

dl.avatar {
  display: block; }
  dl.avatar dt {
    width: 62px;
    height: 62px; }
    dl.avatar dt img {
      border: 1px solid #eee;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px; }

.chart-btnopt {
  width: 59%;
  height: auto; }

.chart-dateopt {
  width: 39%;
  height: auto; }

.linewrap .foldline, .linewrap .column {
  height: 400px; }

.linewrap .loading {
  margin-top: 180px; }

.linewrap .hint {
  height: 398px;
  line-height: 386px;
  border: 1px solid #e9e9e9;
  background: #fcfcfc; }

.linewrap .legend label {
  padding: 0 10px; }

.linewrap .legend i {
  width: 10px;
  height: 10px;
  background: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.linewrap .legend font {
  margin-left: 5px;
  color: #666;
  vertical-align: middle; }

.linewrap .legend label.pv i {
  background: #0099cc; }

.linewrap .legend label.uv i {
  background: #ffcc33; }

.linewrap .legend label.ip i {
  background: #009900; }

.chartwrap .equal {
  width: 50%;
  height: auto; }
  .chartwrap .equal.eq2 {
    margin-left: 50%; }

.chartwrap .pie {
  height: 398px;
  border: 1px solid #eee; }
  .chartwrap .pie h3 {
    padding: 10px 0 5px 0; }
  .chartwrap .pie .chart {
    width: 100%;
    height: 386px;
    padding: 15px 0; }
  .chartwrap .pie .loading, .chartwrap .pie .hint {
    margin-top: 160px; }

.chartwrap .area {
  height: 500px;
  border: 1px solid #eee; }
  .chartwrap .area .chart {
    height: 500px; }
  .chartwrap .area .loding, .chartwrap .area .hint {
    margin-top: 240px; }

/* init */
body {
  width: 100%;
  font: 12px Tahoma,Arial,Helvetica,sans-serif;
  color: #333;
  margin: 0;
  padding: 0; }

html, h1, h2, h3, h4, h5, ol, ul, li, dl, dt, dd, p, span, form, input, button, img {
  margin: 0;
  padding: 0; }

a, h1, h2, h3, h4, h5 {
  font-size: 12px; }

ul, li {
  display: block;
  list-style-type: none; }

a {
  color: #333;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer; }
  a:hover {
    color: #CC0000;
    text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button, select, textarea {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Tahoma,Arial,Helvetica,sans-serif; }

input[type="checkbox"], input[type="radio"] {
  vertical-align: middle; }

button::-moz-focus-inner {
  border: none;
  padding: 0; }

input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0; }

label, .vtcmid {
  vertical-align: middle; }

/* 块对象 inline-block */
.icon, .arrow, .app {
  line-height: 100%;
  display: inline-block;
  display: -moz-inline-stack;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  overflow: hidden; }

.ae {
  line-height: 100%;
  display: inline-block;
  display: -moz-inline-stack;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  overflow: hidden; }
  .ae i, .ae span {
    line-height: 100%;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    overflow: hidden; }

i.nopic, span.sign, i.loading, a.btn, .muslcter {
  line-height: 100%;
  display: inline-block;
  display: -moz-inline-stack;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  overflow: hidden; }

/* 内容隐藏显示 */
.cut {
  overflow: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.unslt {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* 外边距和内填充 */
.mt2 {
  margin-top: 2px; }

.mt5 {
  margin-top: 5px; }

.mt8 {
  margin-top: 8px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.sep10 {
  margin: 0 5px; }

.sep20 {
  margin: 0 10px; }

.sep40 {
  margin: 0 20px; }

.pad5 {
  padding: 5px; }

.pad10 {
  padding: 10px; }

.x-auto {
  margin-left: auto;
  margin-right: auto; }

/* 字体 */
.f14 {
  font-size: 14px; }

.simsun {
  font-family: Simsun, Arial, Helvetica, sans-serif; }

.nobold {
  font-weight: normal; }

.c333 {
  color: #333; }

.c666 {
  color: #666; }

.c888 {
  color: #888; }

.c777 {
  color: #777; }

.c999 {
  color: #999; }

.caaa {
  color: #aaa; }

.green {
  color: #009900; }

.red {
  color: #cc3300; }

.blue {
  color: #0090c0; }

.yellow {
  color: #ff6600; }

/* 水平对齐 */
.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.ta-c {
  text-align: center; }

/* input */
input.w50 {
  width: 50px; }

input.w100 {
  width: 100px; }

input.w150 {
  width: 150px; }

input.w200 {
  width: 200px; }

input.w250 {
  width: 250px; }

input.w300 {
  width: 300px; }

input.w400 {
  width: 400px; }

input.w500 {
  width: 500px; }

input.txt {
  font-size: 12px;
  padding: 6px 0 6px 5px;
  border: 1px solid;
  border-left-color: #a6a6a6;
  border-top-color: #999;
  border-bottom-color: #d6d6d6;
  border-right-color: #d6d6d6;
  background: #fffdf9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

textarea.txtarea {
  font-size: 12px;
  padding: 5px 0 0 5px;
  border: 1px solid;
  border-left-color: #a6a6a6;
  border-top-color: #999;
  border-bottom-color: #d6d6d6;
  border-right-color: #d6d6d6;
  background: #fffdf9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

textarea.disabled {
  color: #666;
  border: 1px solid #e5e5e5;
  background: #f6f6f6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

input.disabled {
  color: #666;
  border: 1px solid #d5d5d5;
  border-left-color: #bbb;
  border-top-color: #bbb;
  background: #f3f3f3; }

/* select */
.slt {
  padding: 5px 2px;
  border: 1px solid;
  border-left-color: #a6a6a6;
  border-top-color: #999;
  border-bottom-color: #d6d6d6;
  border-right-color: #d6d6d6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* 浮动 float */
.bl {
  font-size: 0;
  height: 0;
  line-height: 0;
  border: 0;
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.cl {
  clear: both; }

/* 图标 icons */
.icon {
  font-size: 0;
  background: url(../images/icons.png) no-repeat;
  overflow: hidden; }
  .icon.user {
    background-position: -120px 0; }
  .icon.front {
    background-position: 0 0; }
  .icon.sets {
    background-position: -30px 0; }
  .icon.wipe {
    background-position: -150px 0; }
  .icon.logout {
    background-position: -60px 0; }
  .icon.help {
    background-position: -90px 0; }
  .icon.yes {
    width: 14px;
    height: 14px;
    background-position: -120px -120px; }
  .icon.no {
    width: 12px;
    height: 12px;
    background-position: -150px -120px; }
  .icon.folder {
    width: 16px;
    height: 14px;
    background-position: 0 -150px; }
  .icon.picture {
    width: 14px;
    height: 14px;
    background-position: -30px -150px; }
  .icon.flash {
    width: 16px;
    height: 16px;
    background-position: -60px -150px; }
  .icon.file {
    width: 13px;
    height: 16px;
    background-position: -180px -120px; }
  .icon.picflag {
    width: 16px;
    height: 13px;
    background-position: -60px -120px;
    cursor: pointer; }
  .icon.flaflag {
    width: 16px;
    height: 16px;
    background-position: -90px -120px;
    cursor: pointer; }

.arrow {
  width: 11px;
  height: 14px;
  background: url(../images/arrows.gif) no-repeat; }

.app {
  background: url(../images/app.gif) no-repeat; }

i.lod {
  color: #B0D8FF;
  font-style: normal;
  margin-right: 5px; }

i.nopic {
  font-style: normal;
  color: #d5d5d5;
  padding: 1px 3px;
  border: 1px solid #eee;
  text-align: center;
  background: #f9f9f9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default; }
  i.nopic.large {
    width: 120px;
    height: 60px;
    font-size: 18px;
    line-height: 60px; }

/* 按钮效果 buttons */
.btn {
  line-height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: url(../images/btn.gif) repeat-x; }

.mbtn {
  color: #4A839D;
  padding: 3px 4px;
  border: 1px solid #9ABAD1;
  border-bottom-color: #4D85A0;
  border-right-color: #4D85A0;
  background: #f5f5f5; }

.cbtn {
  color: #4A839D;
  font-weight: bold;
  padding: 7px 10px;
  border: 1px solid #9ABAD1;
  border-bottom-color: #4D85A0;
  border-right-color: #4D85A0;
  background-position: 0 0; }
  .cbtn:hover {
    color: #44768E;
    background-position: 0 -30px; }
  .cbtn:active {
    color: #993333; }

.fbtn {
  color: #4A839D;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid #9ABAD1;
  background-color: #F7F9FB;
  background-image: none; }
  .fbtn:hover {
    color: #386478;
    border-color: #79A3C1; }
  .fbtn:active {
    color: #0099CC; }

.ubtn {
  color: #fff;
  font-weight: bold;
  padding: 8px 15px;
  border: 1px solid #679800;
  background: url(../images/btn.gif) repeat-x 0 -90px; }
  .ubtn:hover {
    color: #FFFF99;
    background-position: 0 -125px; }
  .ubtn:active {
    color: #FFCC00; }

.sbtn {
  color: #f6f6f6;
  padding: 7px 15px;
  background: #5499F5;
  border: 1px solid #3885ED; }
  .sbtn:hover {
    color: #FFCC00;
    background: #4D94F4;
    border-color: #3885ED; }

.btn.disabled {
  background: #eee;
  color: #bbb;
  border-color: #d5d5d5;
  cursor: default; }

.btn.sm {
  padding: 5px 10px; }

.ae {
  margin-right: 10px;
  padding: 4px 6px;
  border: 1px solid #B9D0E3;
  cursor: pointer;
  border-color: #97BCCE;
  background: #F7FDFF; }
  .ae font {
    color: #44768E;
    font-weight: bold;
    vertical-align: middle; }
  .ae i {
    font-size: 0;
    margin-right: 8px;
    height: 18px;
    background: url(../images/icons.png) no-repeat; }
  .ae.add {
    padding: 4px 10px 4px 8px;
    border-color: #008A00;
    background: #52A452; }
    .ae.add i {
      width: 11px;
      height: 18px;
      margin-right: 10px;
      background-position: 0 -57px; }
    .ae.add font {
      color: #fff; }
    .ae.add:hover {
      border-color: #008400;
      background: #4A934A; }
      .ae.add:hover i {
        background-position: 0 -87px; }
      .ae.add:hover font {
        color: #FFE79B; }
  .ae i.edit {
    width: 16px;
    background-position: -30px -60px; }
  .ae i.remove {
    width: 15px;
    background-position: -60px -59px; }
  .ae i.view {
    width: 13px;
    background-position: -90px -58px; }
  .ae i.tag {
    width: 18px;
    background-position: -120px -60px; }
  .ae i.adr {
    width: 16px;
    background-position: -150px -59px; }
  .ae i.link {
    width: 16px;
    background-position: -180px -59px; }
  .ae i.send {
    width: 16px;
    background-position: -210px -58px; }
  .ae i.cmt {
    width: 16px;
    background-position: -240px -58px; }
  .ae i.dols {
    width: 16px;
    background-position: -300px -59px; }
  .ae i.user {
    width: 16px;
    background-position: -330px -59px; }
  .ae i.hand {
    width: 20px;
    background-position: -360px -59px; }
  .ae i.list {
    width: 14px;
    background-position: -390px -58px; }
  .ae i.accept {
    width: 15px;
    background-position: -420px -58px; }
  .ae i.forbid {
    width: 15px;
    background-position: -450px -58px; }
  .ae:hover {
    border-color: #cc3333;
    background: #fff; }
    .ae:hover font {
      color: #cc3333; }
    .ae:hover i.edit {
      background-position: -30px -90px; }
    .ae:hover i.remove {
      background-position: -60px -89px; }
    .ae:hover i.view {
      background-position: -90px -90px; }
    .ae:hover i.tag {
      background-position: -120px -90px; }
    .ae:hover i.adr {
      background-position: -150px -89px; }
    .ae:hover i.link {
      background-position: -180px -89px; }
    .ae:hover i.send {
      background-position: -210px -88px; }
    .ae:hover i.cmt {
      background-position: -240px -88px; }
    .ae:hover i.dols {
      background-position: -300px -89px; }
    .ae:hover i.user {
      background-position: -330px -89px; }
    .ae:hover i.hand {
      background-position: -360px -89px; }
    .ae:hover i.list {
      background-position: -390px -88px; }
    .ae:hover i.accept {
      background-position: -420px -88px; }
    .ae:hover i.forbid {
      background-position: -450px -88px; }
  .ae.cur {
    border-color: #bbb;
    cursor: inherit; }
    .ae.cur font {
      color: #aaa; }

a.dashedbtn {
  display: inline-block;
  padding: 10px 15px;
  color: #4fa7ff;
  border: 1px dashed #c2c2c2;
  background: #fff; }
  a.dashedbtn:hover {
    color: #36c;
    border-color: #36c; }

/* 模块 */
.module {
  width: 100%;
  height: auto; }

.auto-w {
  width: auto; }

.row {
  line-height: 150%; }

.bw-row {
  height: auto;
  background: #fff;
  border: 1px solid #def6ff; }
  .bw-row .th {
    padding: 6px 8px;
    color: #3399aa;
    font-size: 13px; }

.line {
  width: 100%;
  height: 1px;
  font-size: 0;
  line-height: 0;
  background: #eee; }

.dashed {
  width: 100%;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-bottom: 1px dashed #ddd; }

/* 宽度 */
.max-width {
  width: 100%; }

.max500 {
  max-width: 500px; }

/* 行高 */
.lh150 {
  line-height: 150%; }

/* 系统提示 */
.prompt {
  padding: 25px 0;
  text-align: center;
  border: 1px solid #d5ecee;
  background: #fff; }
  .prompt h3 {
    font-size: 16px;
    color: #555;
    line-height: 150%; }
    .prompt h3.error {
      color: #CC3333; }
    .prompt h3.success {
      color: #006600; }
  .prompt p a {
    margin: 0 10px;
    color: #0099CC;
    cursor: pointer; }
    .prompt p a:hover {
      color: #CC3300; }
  .prompt span#countdown {
    color: #CC3300; }

/* 翻页 */
.paging {
  width: auto;
  height: auto;
  overflow: hidden; }
  .paging a, .paging span {
    margin-right: 5px;
    padding: 5px 10px;
    background: #fff;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    zoom: 1;
    vertical-align: middle; }
  .paging.small a, .paging.small span {
    padding: 3px 8px; }
  .paging a {
    border: 1px solid #1369C0;
    color: #1D7AD9;
    background: #fdfdfd; }
    .paging a:hover {
      border: 1px solid #CC3366;
      color: #CC3366;
      background: #fff;
      text-decoration: none; }
    .paging a:active {
      border: 1px solid #990000;
      color: #990000; }
  .paging span {
    background: #f9f9f9; }
    .paging span.cur {
      border: 1px solid #006699;
      color: #fff;
      background: #1D7AD9; }
    .paging span.disabled {
      border: #ddd 1px solid;
      color: #bbb; }
    .paging span.tot, .paging span.pct {
      margin-right: 10px;
      color: #999;
      background: none; }
    .paging span.tot b {
      margin: 0 3px;
      color: #CC3333; }
    .paging span.pct b {
      color: #777; }
    .paging span.jump {
      color: #999;
      background: none; }
      .paging span.jump input {
        width: 30px;
        margin: 0 5px;
        padding: 5px;
        text-align: center;
        border: 1px solid #bbb;
        border-bottom-color: #ddd;
        border-right-color: #ddd; }
      .paging span.jump button {
        margin-left: 10px;
        padding: 5px 15px;
        color: #fff;
        border: 1px solid #006699;
        background: #1D7AD9; }
  .paging.small span.jump input {
    padding: 3px; }
  .paging.small span.jump button {
    padding: 3px 10px; }

/* 加载 loading */
div.loading {
  width: 100px;
  height: 10px;
  padding: 10px 0;
  text-indent: -9999px;
  background: url(../images/loading.gif) no-repeat center;
  z-index: 9999; }
  div.loading.absol {
    position: absolute;
    padding: 10px 20px;
    border: 3px solid #eee;
    background-color: #fff; }
  div.loading.relat {
    position: relative; }

i.loading {
  width: 22px;
  height: 22px;
  font-size: 0;
  text-indent: -9999px;
  z-index: 9999;
  background: url(../images/loading-1.gif) no-repeat; }

div.waiting {
  width: 100px;
  height: auto;
  padding: 10px 50px 0 50px;
  position: absolute;
  background: #fff;
  border: 5px solid #eee;
  z-index: 9999; }

/* 验证提示 */
.vds-fielderr {
  color: #911;
  margin-left: 5px;
  padding: 6px 10px;
  line-height: 12px;
  border: 1px solid #ff3366;
  background: #ffdfdf;
  z-index: 9999; }

/* 确认窗口 */
.vds-confirm {
  position: absolute;
  display: none;
  padding: 15px;
  color: #666;
  text-align: center;
  border: 2px solid #A6D2FF;
  background: #fff;
  -moz-box-shadow: 2px 2px 2px #d5d5d5;
  -webkit-box-shadow: 2px 2px 2px #d5d5d5;
  box-shadow: 2px 2px 2px #d5d5d5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 9999; }
  .vds-confirm button {
    padding: 3px 10px;
    margin: 0 5px; }

/* 弹出媒介 */
.pop-media {
  width: auto;
  height: auto;
  position: fixed;
  z-index: 9999;
  border: 6px solid #f0f0f0;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 6px #ccc;
  -webkit-box-shadow: 3px 3px 6px #ccc;
  box-shadow: 3px 3px 6px #ccc;
  display: none; }
  .pop-media .media {
    padding: 15px; }
  .pop-media a.close {
    display: block;
    width: 10px;
    height: 10px;
    line-height: 0;
    font-size: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../images/icons.png) no-repeat -270px -120px;
    overflow: hidden; }
    .pop-media a.close:hover {
      background-position: -270px -140px; }

/* 遮罩层 */
.masker {
  width: 100%;
  height: 100%;
  background: #999;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5; }

/*# sourceMappingURL=shop_admin.css.map */
