body {
  background: #333; }

a {
  text-decoration: none; }

footer,
header {
  background: #000;
  color: #fff; }
  footer a,
  header a {
    color: #fff;
    text-decoration: none; }

.btn,
.zd-tab .zd-tab-head .zd-tab-item.active,
.zd-tab .zd-tab-head .zd-tab-item:hover {
  background: #333;
  color: #fff; }

header {
  height: 50px;
  line-height: 50px;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0; }

footer {
  padding: 32px 20px;
  position: relative; }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

.app-wrapper {
  margin-top: 50px; }
  .app-wrapper .search-container {
    display: none; }
  .app-wrapper.search-mode {
    -webkit-transform-origin: 50vw 50vh;
            transform-origin: 50vw 50vh;
    -webkit-transform: perspective(1000px) translate3d(0, 50vh, 0) rotate3d(1, 0, 0, 30deg);
            transform: perspective(1000px) translate3d(0, 50vh, 0) rotate3d(1, 0, 0, 30deg);
    pointer-events: none;
    max-width: 1920px;
    margin: 0 auto;
    overflow: auto;
    height: 100vh;
    display: block; }
    .app-wrapper.search-mode .search-container {
      display: block;
      pointer-events: auto; }

.sidebar-container {
  width: 208px;
  vertical-align: baseline;
  padding: 20px 12px 60px 36px;
  top: auto;
  position: absolute;
  overflow-y: visible;
  display: inline-block; }
  .sidebar-container .sidebar-container-toggle {
    display: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto; }
    .sidebar-container .sidebar-container-toggle::before {
      content: "\f0c9"; }

.main-container {
  width: calc(100% - 208px);
  position: relative;
  vertical-align: baseline;
  background-color: #f4f4f4;
  flex-grow: unset;
  display: inline-block;
  top: 0;
  padding: 8px;
  min-height: 300px;
  margin-left: 208px; }

.page-tip {
  border: 1px dashed #333;
  padding: 10px;
  border-radius: 5px;
  background-color: #F5FAFF;
  position: relative; }
  .page-tip .blue {
    color: #333; }
  .page-tip ul {
    width: 100%;
    padding: 0; }
    .page-tip ul li {
      padding-left: 10px;
      list-style: inside; }
      .page-tip ul li a {
        color: #666; }
  .page-tip .toggle {
    position: absolute;
    right: 0;
    top: 10px;
    height: 26px;
    width: 26px; }
    .page-tip .toggle::before {
      font-family: "Font Awesome 5 Free";
      font-size: 14px;
      font-weight: 900;
      font-size: inherit;
      text-rendering: auto;
      content: "\f068"; }
  .page-tip.min {
    width: 200px; }
    .page-tip.min ul {
      display: none; }
    .page-tip.min .toggle::before {
      content: "\f067"; }

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px; }
  .breadcrumb > li {
    display: inline-block; }
    .breadcrumb > li.active {
      color: #777; }
    .breadcrumb > li + li::before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0"; }

.page-header {
  height: 30px;
  background: transparent; }
  .page-header .actions {
    right: 20px; }
    .page-header .actions button {
      background: #000;
      color: #fff;
      line-height: 30px;
      padding: 0 8px;
      margin: 0;
      border: none; }
      .page-header .actions button.active {
        background: #888; }

.full-theme .container {
  width: 100%; }

.column-item {
  width: 300px;
  display: inline-block;
  position: relative;
  height: 100px;
  background-color: #fff;
  margin: 10px;
  vertical-align: top; }
  .column-item .icon {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    font-size: 40px; }
  .column-item .content {
    margin-left: 100px;
    padding: 20px 10px; }

@media (max-width: 1200px) {
  .container {
    width: 100%; } }

@media (max-width: 767px) {
  .app-wrapper {
    min-height: calc(100vh - 50px); }
  .sidebar-container {
    left: -208px;
    transition: left .3s;
    z-index: 189;
    bottom: 0; }
    .sidebar-container .sidebar-container-toggle {
      display: block;
      position: fixed;
      left: .7rem;
      bottom: .7rem;
      font-size: 2rem;
      background: #333;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      transition: all .3s;
      padding: 4px 6px;
      color: #fff;
      z-index: 199; }
    .sidebar-container.expand {
      left: 0;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }
      .sidebar-container.expand .sidebar-container-toggle {
        box-shadow: none;
        left: .5rem; }
        .sidebar-container.expand .sidebar-container-toggle::before {
          content: "\f00d"; }
  .main-container {
    margin-left: 0;
    width: 100%; }
  .auto-hide {
    display: none; }
  table .btn,
  .table .btn {
    padding: 0 10px;
    margin: 0; }
  .full-theme .main-container {
    transition: all .3s; }
  .full-theme .sidebar-container.expand {
    box-shadow: none; }
    .full-theme .sidebar-container.expand + .main-container {
      -webkit-transform: translateX(208px);
              transform: translateX(208px); } }

/*# sourceMappingURL=zodream-admin.css.map */
