.flex-panel {
    display: flex;
    .bak-panel {
        flex: 1;
    }
}

// .app-wrapper {
//     .sidebar-container {
//         .text-left {
//             .menu-item {
//                 a {
//                     text-align: left;
//                     padding-left: 2.5rem;
//                 }
//             }
            
//         }
//     }
// }

.panel {
    .panel-header {
        line-height: 40px;
        background-color: #fff;
        padding: 0 10px;
        border-bottom: 1px solid #f90;
        .more {
            float: right;
        }
    }
    .panel-body {
    }
}

.theme-item {
    text-align: center;
    display: inline-block;
    .thumb {
        max-height: 200px;
        overflow-y: auto;
        img {
            width: 200px;
        }
    }
    .name {
        line-height: 30px;
        font-weight: 600;
    }
    .desc {
        color: #aaa;
    }
}

.option-box {
    label {
        .fa-times {
            margin-right: .8rem;
            color: red;
        }
    }
}

.multi-input-container {
    .selected-container {
        min-height: 2rem;
    }
    .selected-item {
        line-height: 1.5rem;
        font-size: 0.9rem;
        margin-bottom: 5px;
        background-color: #ebf5ff;
        border-radius: 2px;
        margin-right: 5px;
        white-space: nowrap;
        display: inline-block;
        user-select: none;
        .item-close {
            border-right: 1px solid #b8dbff;
        }
        .item-label,
        .item-close {
            display: inline-block;
            padding: 1px 5px;
        }
        &:hover {
            box-shadow: 0 .3rem .5rem rgba($color: #000000, $alpha: .1);
        }
    }
    .add-container {
        display: flex;
        .add-item {
            user-select: none;
        }
    }
}