$shadow: rgba(33,33,33,.7);
.flex-box {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    flex-direction: row;
    height: auto;
    .item {
        box-sizing: border-box;
        padding: 10px;
        max-width: 300px;
        counter-increment: item-counter;
        text-decoration: none;
        background: #ffc;
        display: block;
        position: relative;
        box-shadow: 3px 3px 4px $shadow;
        margin: 20px 10px auto;
        transform-origin: 50% 0;
        &::before {
            content: " ";
            position: absolute;
            left: calc(50% - 10px);
            width: 20px;
            height: 20px;
            background-color: #ffc;
            top: 0px;
            display: block;
            border: 5px solid #767;
            border-radius: 50%;
            box-shadow: 2px 2px 3px $shadow;
        }
        .item-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: auto;
            font-size: 20px;
            color: #686868;
            box-sizing: border-box;
            border: 1px solid #ccc;
            word-break: break-all;
        }
        .fa-times {
            display: none;
            position: absolute;
            border: 3px solid;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            right: -10px;
            background-color: #fff;
            top: -10px;
            text-decoration: none;
            color: #f00;
            line-height: 15px;
        }
        .item-time {
            color: #ccc;
            font-size: 12px;
            span {
                &:last-child {
                    float: right;
                }
            }
        }
        &:hover {
            box-shadow: 5px 5px 7px $shadow;
            &::before {
                box-shadow: none;
            }
            .fa-times {
                display: block;
            }
        }
        &.new-item {
            &::before {
                background-color: #f00;
            }
            .item-content {
                padding: 0;
            }
            textarea {
                padding: 10px;
                width: 280px;
                background: transparent;
                border: none;
                resize: none;
                height: 200px;
                outline: 0;
                font-size: 16px;
                line-height: 20px;
            }
            .item-action {
                padding: 5px 5px 0;
                height: 20px;
                color: #777;
                .fa-check {
                    float: right;
                    color: green;
                }
            }
        }
    }
}

.search-box {
    width: 320px;
    margin: 30px auto;
    line-height: 40px;
    .search-input {
        width: 100%;
        border-bottom: 1px solid #ccc;
        display: grid;
        grid-template: 40px / 40px 1fr;
        input {
            height: 40px;
            border: none;
            outline: 0;
            font-size: 20px;
        }
        button {
            background: transparent;
            border: none;
            width: 40px;
            font-size: 20px;
        }
    }
}
.more-load {
    text-align: center;
    line-height: 30px;
    color: #ccc;
}