// 黑暗模式
$primary: #2e2e2e;
$primaryText: #eee;

$body: #333;
$bodyText: white;

$secondary: #333;
$secondaryText: white;

$third: #6c757d;
$thirdText: $bodyText;

$gray: #6c757d;
$grayText: #fff;

$disabledText: #ababaa;

$linkText: #43a1e1;
$linkHoverText: #0a58ca;

$hover: #404040;
$hoverText: white;

$active: #454545;
$activeText: white;

$shadow: rgba(0, 0, 0, .25);
$border: #7B7B7B;

$panel: #3b3b3b;

$dialog: #3b3b3b;
$dialogText: white;
$dialogMask: rgba(0, 0, 0, .3);

$button: transparent;
$buttonText: white;
$buttonBorder: #7B7B7B;
$buttonHoverBorder:  #A2A2A2;

$input: #2b2b2b;
$inputTextIcon: white;
$inputText: white;
$inputLabel: #929292;
$inputBorder: #6B6B6B;
$inputFocusBorder: #808080;
$inputFocusShadow: 0 0 0 1px #808080 inset;