// 黑暗模式
$primary: #000;
$primaryText: #fff;
$secondary: #767676;
$disabledText: #ccc;
$strongText: red;
$shadow: rgba(200, 200, 200, 0.7);
$border: $primary;

$gray: #6c757d;
$grayText: #fff;

$body: #333;
$hover: #555;
$panel: #222;
$bodyText: #fff;
$secondaryText: #b3b1b1;
$dialog: #333;
$dialogText: #fff;
$dialogMask: rgba(255,255,255, .3);


$linkText: #0d6efd;
$linkHoverText: #0a58ca;

$input: #23222b;
$inputText: #fff;
$inputBorder: #7c7b82;
$inputHoverBorder: rgb(47, 65, 86);
$inputHoverShadow: #0d6efd40;