// 中国红
$primary: #A10000;
$primaryText: #fff;

$disabledText: #FF9787;
$strongText: red;
$shadow: rgba(51, 51, 51, 0.7);
$border: $primary;
$body: #f4f4f4;
$bodyText: #333;
$hover: #ccc;   // 相对与body的变化

$panel: white;

$gray: #6c757d;
$grayText: #fff;

$secondary: #ccc;
$secondaryText: #b3b1b1;

$dialog: rgba(255, 255, 255, .9);
$dialogMask: rgba(0, 0, 0, .3);
$dialogText: #333;

$linkText: #0d6efd;
$linkHoverText: #0a58ca;

$input: #fff;
$inputText: #333;
$inputBorder: #ced4da;
$inputHoverBorder: rgb(47, 65, 86);
$inputHoverShadow: #0d6efd40;