@use '../functions';
@use '../colors';
// 原木色
$primary: #af5d0d;
$primary-hovered: functions.shade-color($primary, colors.$color-hover-offset);
$primary-actived: functions.shade-color($primary, colors.$color-active-offset);
$primary-text: #fff;

$body: #f4f4f4;
$body-text: #333;

$secondary: #ccc;
$secondary-text: #b3b1b1;

$third: #6c757d;
$third-text: $body-text;

$tertiary: rgba($body, .5) !default;
$tertiary-text: colors.$gray-100 !default;


// 强调色
$accent: #fff !default;
$accent-text: #000 !default;

$link-text: #e29344;
$link-hover-text: #af5d0d;

$meta-text: #767676 !default;
$mask: colors.$black !default;
$box-shadow: 0 .5rem 1rem rgba($mask, .15) !default;
$box-shadow-inset: inset 0 1px 2px rgba($mask, .075) !default;

$shadow: rgba(51, 51, 51, 0.7);
$border: colors.$gray-300 !default;
$panel: #f9cfa6;

$surface: #2f4156;
$surface-hovered: functions.tint-color($surface, colors.$color-hover-offset) !default;
$surface-selected: functions.tint-color($surface, colors.$color-active-offset) !default;
$surface-child: $surface-selected !default;
$surface-text: rgb(185, 201, 218) !default;
$surface-selected-text: $surface-text !default;

$repeater: colors.$gray-500 !default; // 占位符

$dialog: rgba(255, 255, 255, .9);
$dialog-mask: rgba(0, 0, 0, .3);
$dialog-text: #333;

$button: transparent;
$button-text: white;
$button-border: #7B7B7B;
$button-hover-border:  #A2A2A2;

$input-text:   $body-text !default;
$input:     $panel !default;
$input-disabled:    $secondary !default;
$input-hovered: #f4f4f4 !default;
$input-selected: #ccc !default;
$input-placeholder:     $secondary-text !default;
$input-focus-border:              functions.tint-color(colors.$blue, 50%) !default;
$input-border: $border !default;
$input-icon: $input-text !default;
$input-hovered-icon: $input-text !default;
$input-label: #929292 !default;