@use 'theme';

@mixin iconArrow($color: #666) {
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0.3125rem;
        margin-top: -2px;
        border-top: 5px solid $color;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
}

a {
    text-decoration: none;
}

.mb-30 {
    margin-bottom: 2rem;
}
.mt-30 {
    margin-top: 2rem;
}

.star-bar {
    display: inline-block;
}

.header {
    .top-nav-bar {
        background: var(--#{theme.$prefix}panel);
        border-bottom: 1px solid var(--#{theme.$prefix}shadow);
        display: block;
        margin-bottom: 1.25rem;
        a {
            display: inline-block;
            line-height: 2.25rem;
            padding: 0 1.25rem 0 0;
            text-align: center;
            font-size: 0.75rem;
            color: var(--#{theme.$prefix}body-text);
            &:hover {
                color: var(--#{theme.$prefix}surface-hovered);
                text-decoration: none;
            }
        }
    }
    .main-nav-bar {
        line-height: 2.5rem;
        background-color: var(--#{theme.$prefix}surface);
        color: var(--#{theme.$prefix}surface-text);
        a {
            color: var(--#{theme.$prefix}surface-text);
            &:hover {
                color: var(--#{theme.$prefix}surface-text);
            }
        }
    }
    .nav-item {
        min-width: 5rem;
        padding-left: 0.4rem;
        position: relative;
        display: inline-block;
    }
    .with-drop {
        padding-left: 0;
        display: block;
        @include iconArrow(var(--#{theme.$prefix}surface-text));
        > a {
            display: block;
            padding-left: 0.4rem;
        }
        &:hover {
            > a {
                background-color: var(--#{theme.$prefix}surface-hovered);
            }
            .drop-bar {
                display: block;
            }
        }
    }
    .drop-bar {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 99;
        column-count: 2;
        box-shadow: 0 2px 5px var(--#{theme.$prefix}shadow);
        background-color: var(--#{theme.$prefix}body);
        a {
            color: var(--#{theme.$prefix}body-text);
            &:hover {
                color: var(--#{theme.$prefix}surface-hovered);
            }
        }
    }
}

.table {
    --bs-table-hover-color: var(--#{theme.$prefix}body-text);
    color: var(--#{theme.$prefix}body-text);
}

.footer {
    background: var(--#{theme.$prefix}surface);
    color: var(--#{theme.$prefix}surface-text);
    padding: 1.25rem 0 0.9375rem 0;
    margin-top: 1.875em;
    a {
        color: var(--#{theme.$prefix}surface-text);
    }
}

.search-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin: 1rem 0;
    .form-control {
        background-color: var(--#{theme.$prefix}input);
        color: var(--#{theme.$prefix}input-text);
    }
    .form-control,
    .btn {
        border-radius: 0;
        margin: 0;
    }
    .form-control:first-child {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .btn:last-child {
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

.cat-mini-item {
    display: flex;
    align-items: center;
    .item-icon {
        padding: 0 0.4rem;
        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
        }
    }
    .item-body {
        flex: 1;
        line-height: 1.5rem;
    }
    .item-meta {
        font-size: 0.8rem;
        color: var(--#{theme.$prefix}meta-text);
    }
}

.nav-menu-bar {
    a {
        line-height: 2.5rem;
        display: block;
        color: var(--#{theme.$prefix}body-text);
        &.active {
            color: var(--#{theme.$prefix}active);
        }
    }
}

.bang-panel {
    .panel-header {
        line-height: 2.5rem;
        border-bottom: 1px solid #ccc;
        .more-link {
            font-size: 0.7rem;
            line-height: 1rem;
            margin-left: 0.8rem;
        }
    }
    .novel-bang-item {
        display: flex;
        position: relative;
        line-height: 2.5rem;
        border-bottom: 1px solid #ccc;
        align-items: center;
        .item-cover,
        .item-author {
            display: none;
        }
        .item-cover {
            position: absolute;
            right: 0;
            top: 0;
            width: 5rem;
            height: 6.5rem;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .item-no {
            background-color: #ccc;
            display: inline-flex;
            width: 1rem;
            height: 1rem;
            font-size: 0.7rem;
            align-items: center;
            justify-content: center;
        }
        .item-body {
            padding-left: 0.4rem;
            flex: 1;
            display: flex;
            justify-content: space-between;
        }
        .item-count {
            color: var(--#{theme.$prefix}meta-text);
            font-size: 0.8rem;
        }
        &:first-child {
            .item-no {
                background: red;
                color: #fff;
            }
            .item-body {
                flex-direction: column;
                min-height: 7rem;
            }
            .item-cover,
            .item-author {
                display: block;
            }
            .item-name {
                font-weight: 700;
            }
        }
        &:nth-child(2) {
            .item-no {
                background: orange;
                color: #fff;
            }
        }
        &:nth-child(3) {
            .item-no {
                background: rgb(149, 149, 45);
                color: #fff;
            }
        }
    }
}

.panel {
    border: 1px solid var(--#{theme.$prefix}surface);
    .panel-header {
        line-height: 2.5rem;
        padding-left: 0.4rem;
        background-color: var(--#{theme.$prefix}surface);
        color: var(--#{theme.$prefix}surface-text);
    }
}

.filter-box {
    a {
        margin-right: 1.875rem;
        font-size: 0.875rem;
        color: var(--#{theme.$prefix}body-text);
        word-break: keep-all;
        display: inline-block;
        cursor: pointer;
        &.active {
            color: #b4a078;
        }
        &:hover {
            color: #b4a078;
        }
    }
    .filter-line {
        border-bottom: 1px dashed #dedede;
        line-height: 3.125rem;
        display: flex;
        .filter-header {
            width: 6.25rem;
        }
        .filter-body {
            flex: 1;
        }
    }
}

.novel-item {
    display: flex;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #ccc;
    .item-cover {
        width: 8rem;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .item-body {
        flex: 1;
        padding: 0.8rem 0.4rem;
    }
    .item-meta {
        min-height: 3rem;
        padding: 0.4rem 0;
        font-size: 0.8rem;
    }
    .item-tags,
    .item-status {
        font-size: 0.8rem;
        margin: 0.8rem -0.4rem 0;
        span,
        a {
            line-height: 1rem;
            display: inline-block;
            padding: 0 0.4rem;
            color: var(--#{theme.$prefix}meta-text);
            &:not(:last-child) {
                border-right: 1px solid #ccc;
            }
        }
    }
    &.width-not-border {
        border: none;
    }
}

.novel-history-item {
    border: 1px solid var(--#{theme.$prefix}surface);
    display: flex;
    margin-bottom: 0.8rem;
    position: relative;
    .item-cover {
        width: 8rem;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .item-body {
        flex: 1;
        padding: 0.8rem 0.4rem;
    }
    .item-icon-line {
        font-size: 0.8rem;
        line-height: 1.5rem;
        .fa {
            margin-right: 0.4rem;
        }
    }
    .item-tags {
        font-size: 0.8rem;
        margin: 0.8rem -0.4rem;
        span,
        a {
            line-height: 1rem;
            display: inline-block;
            padding: 0 0.4rem;
            color: var(--#{theme.$prefix}meta-text);
            &:not(:last-child) {
                border-right: 1px solid #ccc;
            }
        }
    }
    .item-action {
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
    }
}

.panel-container {
    box-shadow: 0 0 1px var(--#{theme.$prefix}shadow), 0 1px 3px var(--#{theme.$prefix}shadow);
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: var(--#{theme.$prefix}panel);
    padding: 1.25rem;
    .page-empty-tip {
        font-size: 3em;
        color: var(--#{theme.$prefix}meta-text);
        font-weight: 700;
        text-align: center;
        padding: 2em 0;
        cursor: default;
        user-select: none;
    }
}

.catalog-header {
    min-height: 60px;
    .right {
        float: right;
        font-size: 18px;
        text-decoration: none;
        cursor: default;
        user-select: none;
    }
}

.novel-header-box {
    .cover {
        background-color: var(--#{theme.$prefix}body);
        text-align: center;
        padding: 20px;
        img {
            width: 100%;
            max-width: 150px;
        }
    }
    .title {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }
    .line-item {
        line-height: 30px;
    }
    .content {
        padding: 10px 0;
        min-height: 80px;
    }
}
.catalog-box {
    .item {
        display: flex;
        line-height: 3.125rem;
        border-bottom: 1px dotted #ccc;
        cursor: pointer;
        .title {
            flex: 1;
            word-break: keep-all;
            overflow-wrap: break-word;
        }
        .time {
        }
        &:hover {
            background-color: rgba($color: #b8b6b6, $alpha: 0.1);
        }
        &.active {
            color: orange;
            .title {
                font-weight: 700;
            }
        }
    }
    .group-header {
        line-height: 3.125rem;
        .title {
            text-align: center;
        }
    }
}

.reader-container {
    margin-top: 2rem;
    border: 1px solid #d8d8d8;
    padding: 3rem 2rem;
    background-color: var(--#{theme.$prefix}panel);
    color: var(--#{theme.$prefix}body-text);
    .title-bar {
        position: relative;
        z-index: 5;
        margin-bottom: 0.75rem;
        h2 {
            margin-bottom: 0.75rem;
            display: block;
            text-align: center;
        }
    }
    .tag-bar {
        text-align: center;
        margin-bottom: 1.25rem;
        font-size: 0.6;
        color: #ccc;
        a,
        span {
            margin-right: 0.625rem;
        }
    }
    .reader-body {
        min-height: 80vh;
        p {
            line-height: 1.8;
            overflow: hidden;
            margin: 0.8rem 0;
            word-wrap: break-word;
            word-break: break-all;
            // letter-spacing: 0.2em;
        }
    }
}

.control-bar {
    height: 4.375rem;
    line-height: 4.375rem;
    text-align: center;
    border: 1px solid #d8d8d8;
    .prev-item,
    .next-item {
        b {
            display: none;
        }
    }
    .prev-item,
    .next-item,
    .menu-item {
        width: 33.333%;
        display: block;
        float: left;
        height: 70px;
        box-sizing: border-box;
    }
    .menu-item {
        border-left: 1px solid #111;
        border-right: 1px solid #111;
    }
}

.reader-sidebar {
    position: fixed;
    width: 3.75rem;
    z-index: 101;
    right: 0;
    bottom: 0;
    background-color: var(--#{theme.$prefix}body);
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: block;
        height: 3.75rem;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 0.5rem;
        box-sizing: border-box;
        border-bottom: none;
        a {
            text-decoration: none;
        }
        > .fa,
        a .fa {
            display: block;
            font-size: 1.875rem;
        }
        &.go-top {
            padding-top: 0.875rem;
            display: none;
        }
        &:hover {
            > .fa,
            > .span,
            a .fa {
                color: #f00;
            }
        }
    }
}

.setting-dialog {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 20rem;
    margin-top: -10rem;
    margin-left: -10rem;
    z-index: 999;
    box-shadow: 0 0.5rem 1rem var(--#{theme.$prefix}shadow);
    background-color: var(--#{theme.$prefix}dialog);
    color: var(--#{theme.$prefix}dialog-text);
    .dialog-header {
        background: transparent;
        border: none;
        height: 1.875rem;
        .dialog-close {
            background: transparent;
            color: var(--#{theme.$prefix}dialog-text);
            font-size: 1.25rem;
        }
    }
    .dialog-footer {
        display: flex;
        .btn {
            border-radius: 0;
        }
    }
    .dialog-body {
        padding: 0.4rem;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        line-height: 3.125rem;
        text-align: left;
        font-size: 1.25rem;
        > span {
            margin: 0 1.25rem;
        }
        > div {
            display: inline-block;
        }
        .theme-box {
            padding-top: 0.3125rem;
            span {
                user-select: none;
                border-radius: 50%;
                display: inline-block;
                width: 1.875rem;
                height: 1.875rem;
                border: 1px solid #333;
                box-sizing: border-box;
                &.active {
                    border: 4px solid #f00;
                }
            }
        }
        .font-box {
            span {
                user-select: none;
                border: 1px solid #333;
                padding: 2px 5px;
                &.active {
                    border-color: #f00;
                }
            }
        }
    }
}

.reader-focus-mode {
    .header,
    .footer {
        display: none;
    }
    .main-box {
        margin: 0;
        padding: 0;
    }
    .reader-container {
        margin-top: 0;
    }
}

.novel-swiper {
    margin: 2rem 0;
    display: block;
    position: relative;
    overflow: hidden;
    .swiper-body {
        overflow: hidden;
        transition: transform 0.5s;
    }
    .swiper-item {
        display: inline-block;
        position: relative;
        width: 10rem;
        height: 30rem;
        overflow: hidden;
        margin: 0 0.625rem;
        transition: width 0.5s;
        border-radius: 0.5rem;
        background-color: var(--#{theme.$prefix}panel);
        color: var(--#{theme.$prefix}body-text);
    }

    .swiper-item-body,
    .swiper-item-active {
        width: 50rem;
    }

    .swiper-navigation-dot {
        text-align: center;
        span {
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #ccc;
            margin: 0 0.2rem;
            transition: all 0.4s;
            &:hover {
                transform: scale(1.2);
            }
        }
        .active {
            transform: scale(1.2);
            background-color: #fff;
        }
    }
}

.swiper-item-body {
    position: relative;
    .novel-item-body {
        padding: 7rem 1rem 0;
        .item-meta {
            min-height: 3rem;
            padding: 0.4rem 0;
            font-size: 0.8rem;
        }
        .item-tags,
        .item-status {
            margin-top: 0.8rem;
            font-size: 0.8rem;
            margin: 0.8rem -0.4rem 0;
            span,
            a {
                line-height: 1rem;
                display: inline-block;
                padding: 0 0.4rem;
                color: var(--#{theme.$prefix}meta-text);
                &:not(:last-child) {
                    border-right: 1px solid #ccc;
                }
            }
        }
        .btn {
            margin-top: 1rem;
        }
    }
    .novel-item-cover {
        position: absolute;
        right: 2rem;
        top: 6rem;
        width: 8rem;
        height: 10rem;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.novel-list-item {
    display: flex;
    padding: 1.25rem 1.875rem;
    border-bottom: 1px solid #eee;
    background-color: var(--#{theme.$prefix}panel);
    .item-thumb {
        width: 10rem;
        height: 7.5rem;
        position: relative;
        img {
            position: absolute;
            width: 5.25rem;
            height: 6.875rem;
            top: 0.3125rem;
            left: 1.625rem;
            z-index: 66;
            &:first-of-type,
            &:last-of-type {
                width: 4.25rem;
                height: 5.625rem;
                top: 0.9375rem;
                z-index: 1;
            }
            &:first-of-type {
                left: 0;
            }
            &:last-of-type {
                left: 4.25rem;
            }
        }
    }
    .item-body {
        flex: 1;
        padding-left: 0.8rem;
    }
    .item-title {
        color: var(--#{theme.$prefix}body-text);
        display: block;
        font-weight: 700;
        line-height: 1em;
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
    }
    .item-meta {
        color: var(--#{theme.$prefix}meta-text);
        height: 4.375rem;
        overflow-y: hidden;
    }
    .item-footer {
    }
    .item-time {
        margin-left: 0.625rem;
    }
    .item-count {
        float: right;
        span {
            font-size: 0.8125rem;
            padding: 0 0.625rem;
            &:not(:last-of-type) {
                border-right: 1px solid #ccc;
            }
        }
    }
}

.novel-list-info {
    .title {
        color: var(--#{theme.$prefix}body-text);
        font-size: 22px;
        font-weight: bold;
    }
    .desc {
        min-height: 80px;
    }
    .info-count {
        display: flex;
        span {
            flex: 1;
            font-size: 13px;
            text-align: center;
            &:not(:last-of-type) {
                border-right: 1px solid #ccc;
            }
        }
    }
    .time {
        margin-left: 10px;
    }
    .info-action {
        margin-top: 1rem;
    }
}
.list-novel-item {
    padding: 1.25rem 0 0;
    position: relative;
    background-color: var(--#{theme.$prefix}panel);
    .item-thumb {
        position: absolute;
        img {
            width: 5.625rem;
            height: 7.5rem;
        }
    }
    .item-body {
        padding-left: 6.25rem;
        line-height: 1.875rem;
        .item-title {
            color: var(--#{theme.$prefix}body-text);
            font-size: 18px;
            font-weight: bold;
        }
    }
    p {
        margin-bottom: 0;
    }
    .item-remark {
        min-height: 5rem;
        padding: 0.625rem 0;
    }
    .item-action {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        line-height: 2.5rem;
        border-top: 1px solid;
        border-bottom: 1px solid;
        a {
            display: inline-block;
            text-align: center;
            width: 25%;
            &:not(:last-child) {
                border-right: 1px solid #333;
            }
            &.active {
                color: #f00;
            }
        }
    }
}

.theme-0 {
    background: #ede7da;
    .reader-container,
    .reader-sidebar,
    .setting-dialog {
        background: #f8f3e9;
    }
}

.theme-1 {
    background: #e0ce9e;
    .reader-container,
    .reader-sidebar,
    .setting-dialog {
        background: #f3e9c6;
    }
}

.theme-2 {
    background: #cddfcd;
    .reader-container,
    .reader-sidebar,
    .setting-dialog {
        background: #e2eee2;
    }
}

.theme-3 {
    background: #cfdde1;
    .reader-container,
    .reader-sidebar,
    .setting-dialog {
        background: #e2eff3;
    }
}

.theme-4 {
    background: #ebcece;
    .reader-container,
    .reader-sidebar,
    .setting-dialog {
        background: #f5e4e4;
    }
}

.theme-5 {
    background: #d0d0d0;
    .reader-container,
    .reader-sidebar,
    .setting-dialog {
        background: #dcdcdc;
    }
}

.theme-6 {
    background: #0f1112;
    .reader-container,
    .reader-sidebar {
        background: #111;
    }
}

$box-width: (640, 800, 900, 1280);

@each $w in $box-width {
    .width-#{$w} {
        .reader-container {
            width: #{$w}px;
        }
    }
}

.reader-container {
    &.font-0 {
        font-family: "Microsoft YaHei", PingFangSC-Regular, HelveticaNeue-Light,
            "Helvetica Neue Light", sans-serif;
    }
    &.font-1 {
        font-family: PingFangSC-Regular, "-apple-system", Simsun;
    }
    &.font-2 {
        font-family: Kaiti;
    }
    &.font-3 {
        font-family: 方正启体简体, "Microsoft YaHei", 微软雅黑, 宋体;
    }
}

@media only screen and (min-width: 48rem) {
    .order-md-end {
        order: 1;
    }

    .filter-box {
        .filter-line {
            display: block;
            .filter-header {
                width: 100%;
                display: block;
                font-weight: 700;
            }
        }
    }

    .control-bar {
        .prev-item,
        .next-item {
            b {
                display: inline-block;
            }
        }
    }
    .reader-container {
        padding: 3.75rem 4rem;
    }
    .novel-list-info {
        .info-action {
            margin-top: 0;
        }
    }
}
